# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Sužinoti daugiau
accessibility-text-label-header = Tekstinės žymės ir pavadinimai

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Įspėjimas
accessibility-fail =
    .alt = Klaida
accessibility-best-practices =
    .alt = Geriausios praktikos

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Naudokite <code>alt</code> atributą, norėdami pažymėti <div>area</div> elementus, kurie turi <span>href</span> atributą. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-dialog = Dialogai turėtų būti sužymėti. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-document-title = Dokumentai privalo turėti <code>title</code> atributą. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-embed = Įterptas turinys privalo būti sužymėtas. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-figure = Figūros su neprivalomomis antraštėmis turėtų būti sužymėtos. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-fieldset = <code>fieldset</code> elementai privalo būti sužymėti. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-fieldset-legend = Naudokite <code>legend</code> elementą, norėdami sužymėti <span>fieldset</span> elementus. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-fieldset-legend2 = Naudokite <code>legend</code> elementą, norėdami pažymėti <span>fieldset</span>. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-form = Formų lementai privalo būti sužymėti. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-form-visible = Formų elementai turėtų turėti matomą tekstinę žymą. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-frame = <code>frame</code> elementai privalo būti sužymėti. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-glyph = Naudokite <code>alt</code> atributą <span>mglyph</span> elementų žymėjimui. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-heading = Antraštės privalo būti sužymėtos. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-heading-content = Antraštės turėtų turėti matomą tekstinį turinį. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-iframe = Naudokite <code>title</code> atributą <span>iframe</span> turinio apibūdinimui. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-image = Turinys su paveikslais privalo būti sužymėtas. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-interactive = Interaktyvūs elementai privalo būti sužymėti. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-optgroup-label = Naudokite <code>label</code> atributą <span>optgroup</span> elementų žymėjimui. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-optgroup-label2 = Naudokite <code>label</code> atributą, norėdami pažymėti <span>optgroup</span>. <a>Sužinoti daugiau</a>
accessibility-text-label-issue-toolbar = Priemonių juostos privalo būti sužymėtos, jeigu yra daugiau nei viena. <a>Sužinoti daugiau</a>
