# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = મુશ્કેલીનિવારણ જાણકારી
page-subtitle = આ પાનું ટૅકનિકલ જાણકારીને સમાવે છે કે જે ઉપયોગી થઇ શકે છે જ્યારે તમે સમસ્યાનો ઉકેલ લાવવાનો પ્રયત્ન કરી રહ્યા હોય. જો તમે { -brand-short-name } વિશે સામાન્ય પ્રશ્ર્નોનાં જવાબો જોઇ રહ્યા હોય, અમારી <a data-l10n-name="support-link">આધાર વેબ સાઇટ</a> ને ચકાસો.
crashes-title = ભંગાણ અહેવાલો
crashes-id = અહેવાલ ઓળખ
crashes-send-date = જમા થયેલ
crashes-all-reports = બધા ભંગાણ અહેવાલો
crashes-no-config = આ કાર્યક્રમ ભંગાણ અહેવાલો દર્શાવવા માટે રૂપરેખાંકિત થયેલ નથી.
extensions-title = એક્સટેન્શનો
extensions-name = નામ
extensions-enabled = સક્રિય થયેલ
extensions-version = આવૃત્તિ
extensions-id = ID
security-software-title = સુરક્ષા સૉફ્ટવેર
security-software-type = પ્રકાર
security-software-name = નામ
security-software-antivirus = એન્ટિવાયરસ
security-software-antispyware = એન્ટીસ્વાઇવયર
security-software-firewall = ફાયરવૉલ
features-title = { -brand-short-name } વિશેષતા
features-name = નામ
features-version = આવૃત્તિ
features-id = ID
processes-title = દૂરસ્થ પ્રક્રિયાઓ
processes-type = પ્રકાર
processes-count = ગણના
app-basics-title = કાર્યક્રમ મૂળભૂતો
app-basics-name = નામ
app-basics-version = આવૃત્તિ
app-basics-build-id = બિલ્ડ ID
app-basics-update-channel = ચેનલ અદ્યતન કરો
app-basics-update-history = ઇતિહાસ સુધારો
app-basics-show-update-history = સુધારા ઇતિહાસને બતાવો
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] રૂપરેખા ડિરેક્ટરી
       *[other] રૂપરેખા ફોલ્ડર
    }
app-basics-enabled-plugins = સક્રિય થયેલ પ્લગઇનો
app-basics-build-config = બિલ્ડ રૂપરેખાંકન
app-basics-user-agent = વપરાશકર્તા એજન્ટ
app-basics-os = OS
app-basics-memory-use = મેમરી વપરાશ
app-basics-performance = કામગીરી
app-basics-service-workers = રજીસ્ટર કરેલ Service Workers
app-basics-profiles = પ્રોફાઇલ્સ
app-basics-launcher-process-status = લોંચર પ્રક્રિયા
app-basics-multi-process-support = મલ્ટીપ્રોસેસ વિન્ડો
app-basics-process-count = વેબ સામગ્રી પ્રક્રિયાઓ
app-basics-remote-processes-count = દૂરસ્થ પ્રક્રિયાઓ
app-basics-enterprise-policies = સંગઠન નીતિ
app-basics-location-service-key-google = Google સ્થાન સર્વિસ કી
app-basics-safebrowsing-key-google = Google સેફબ્રૉઝિંગ કી
app-basics-key-mozilla = Mozilla સ્થાન સર્વિસ કી
app-basics-safe-mode = સલામત મોડ
show-dir-label =
    { PLATFORM() ->
        [macos] શોધકર્તામાં બતાવો
        [windows] ફોલ્ડર ખોલો
       *[other] ડિરેક્ટરી ખોલો
    }
modified-key-prefs-title = અગત્યની સુધારા પસંદગીઓ
modified-prefs-name = નામ
modified-prefs-value = કિંમત
user-js-title = user.js પસંદગીઓ
user-js-description = તમારુ રૂપરેખા ફોલ્ડર <a data-l10n-name="user-js-link">user.js ફાઇલ</a> સમાવે છે, કે જે પસંદગીઓને સમાવે છે કે જેઓ  { -brand-short-name } દ્દારા બનાવેલ હતી નહિ.
locked-key-prefs-title = મહત્વની તાળુ મારેલ પસંદગીઓ
locked-prefs-name = નામ
locked-prefs-value = કિંમત
graphics-title = ગ્રાફિક્સ
graphics-features-title = લક્ષણો
graphics-diagnostics-title = નિદાન
graphics-failure-log-title = નિષ્ફળતા લોગ
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = નિર્ણય લોગ
graphics-crash-guards-title = ક્રેશ ગાર્ડની અક્ષમ કરેલ સુવિધાઓ
graphics-workarounds-title = વર્કરાઉન્ડ્સ
place-database-title = સ્થાન ડેટાબેઝ
place-database-integrity = પ્રામાણિકતા
place-database-verify-integrity = પ્રામાણિકતા ચકાસો
js-title = JavaScript
js-incremental-gc = વધતુ જતુ GC
a11y-title = સુલભતા
a11y-activated = સક્રિય થયેલ
a11y-force-disabled = સુલભતા અટકાવો
a11y-handler-used = સુલભ હેન્ડલર વપરાયેલ
a11y-instantiator = ઇન્સ્ટિટેએટર ઉપલ્બધતા
library-version-title = લાઇબ્રેરી આવૃત્તિઓ
copy-text-to-clipboard-label = ક્લિપબોર્ડમાં લખાણની નકલ કરો
copy-raw-data-to-clipboard-label = ક્લિપબોર્ડમાં કાચી માહિતીની નકલ કરો
sandbox-title = સેન્ડબોક્સ
sandbox-sys-call-log-title = રદ કરેલ સિસ્ટમ કૉલ્સ
sandbox-sys-call-index = #
sandbox-sys-call-age = સેકંડ પહેલા
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = પ્રક્રિયા પ્રકાર
sandbox-sys-call-number = સિસકૉલ
sandbox-sys-call-args = દલીલો
safe-mode-title = સુરક્ષિત મોડ અજમાવો
restart-in-safe-mode-label = નિષ્ક્રિય થયેલ ઍડ-ઑન સાથે પુન:શરૂ કરો…
media-title = મીડિયા
media-output-devices-title = આઉટપુટ ઉપકરણો
media-input-devices-title = ઇનપુટ ઉપકરણો
media-device-name = નામ
media-device-group = સમૂહ
media-device-vendor = વિક્રેતા
media-device-state = સ્થિતિ
media-device-preferred = પસંદ
media-device-format = બંધારણ
media-device-channels = ચેનલ્સ
media-device-rate = દર
media-device-latency = લેટન્સી
intl-title = આંતરરાષ્ટ્રીયકરણ & સ્થાનિકીકરણ
intl-app-title = એપ્લિકેશનની સેટિંગ્સ
intl-locales-requested = વિનંતી કરેલ લૉકેલ્સ
intl-locales-available = ઉપલબ્ધ લૉકેલ્સ
intl-locales-supported = એપ્લિકેશન લૉકેલ્સ
intl-locales-default = મૂળભૂત લૉકેલ
intl-os-title = ઑપરેટિંગ સિસ્ટમ
intl-os-prefs-system-locales = સિસ્ટમ લૉકેલ્સ
intl-regional-prefs = ક્ષેત્રીય પસંદગીઓ
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] છેલ્લા { $days } દિવસનો ભંગાણ અહેવાલ
       *[other] છેલ્લા { $days } દિવસોના ભંગાણ અહેવાલો
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] { $minutes } મિનિટ અગાઉ
       *[other] { $minutes } મિનિટો અગાઉ
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] { $hours } કલાક અગાઉ
       *[other] { $hours } કલાકો અગાઉ
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] { $days } દિવસ અગાઉ
       *[other] { $days } દિવસો અગાઉ
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] બધા ભંગાણ અહેવાલો (આપેલી સમય મર્યાદામાં { $reports } બાકી ભંગાણને સમાવીને)
       *[other] બધા ભંગાણ અહેવાલો (આપેલી સમય મર્યાદામાં { $reports } બાકી ભંગાણોને સમાવીને)
    }
raw-data-copied = ક્લિપબોર્ડમાં નકલ થયેલ કાચી માહિતી
text-copied = ક્લિપબોર્ડમાં નકલ થયેલ લખાણ

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = તમારા ગ્રાફિક્સ ડ્રાઇવર આવૃત્તિ માટે બ્લોક થયેલ છે.
blocked-gfx-card = તમારા ગ્રાફિક્સ કાર્ડ માટે બ્લોક થયેલ છે કારણ કે ડ્રાઇવર સમસ્યાઓ સુધરી નથી.
blocked-os-version = તમારી ઓપરેટીંગ સિસ્ટમ આવૃત્તિ માટે બ્લોક થયેલ છે.
blocked-mismatched-version = રજિસ્ટ્રી અને DLL વચ્ચે તમારા ગ્રાફિક્સ ડ્રાઇવર આવૃત્તિ મેળ ખાતા નથી તેથી અવરોધિત છે.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = તમારી ગ્રાફિક્સ ડ્રાઇવર આવૃત્તિ માટે બ્લોક થયેલ છે. આવૃત્તિ { $driverVersion } અથવા નવા માટે તમારા ગ્રાફિક્સ ડ્રાઇવરને સુધારવાનો પ્રયત્ન કરો.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType પરિમાણો
compositing = સંમિશ્રણ
hardware-h264 = હાર્ડવેર H264 ડિકોડિંગ
main-thread-no-omtc = મુખ્ય થ્રેડ, કોઈ OMTC નથી
yes = હા
no = ના
unknown = અજ્ઞાત
virtual-monitor-disp = વર્ચ્યુઅલ મોનિટર ડિસ્પ્લે

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = મળ્યું
missing = અનુપલબ્ધ
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = વર્ણન
gpu-vendor-id = વેન્ડર ID
gpu-device-id = ઉપકરણ ID
gpu-subsys-id = Subsys ID
gpu-drivers = ડ્રાઇવર્સ
gpu-ram = RAM
gpu-driver-version = ડ્રાઇવર આવૃત્તિ
gpu-driver-date = ડ્રાઇવર તારીખ
gpu-active = સક્રિય
webgl1-wsiinfo = WebGL 1 ડ્રાઈવર WSI માહિતી
webgl1-renderer = WebGL 1 ડ્રાઈવર રેન્ડરર
webgl1-version = WebGL 1 ડ્રાઈવર સંસ્કરણ
webgl1-driver-extensions = WebGL 1 ડ્રાઈવર એક્સ્ટેન્શન્સ
webgl1-extensions = WebGL 1 એક્સ્ટેન્શન્સ
webgl2-wsiinfo = WebGL 2 ડ્રાઈવર WSI માહિતી
webgl2-renderer = WebGL 2 ડ્રાઈવર રેન્ડરર
webgl2-version = WebGL 2 ડ્રાઈવર સંસ્કરણ
webgl2-driver-extensions = WebGL 2 ડ્રાઈવર એક્સ્ટેન્શન્સ
webgl2-extensions = WebGL 2 એક્સ્ટેન્શન્સ
blocklisted-bug = જાણીતા મુદ્દાઓના કારણે અવરોધિત સૂચિ માં છે
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = ભૂલ { $bugNumber }
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = અવરોધિત સૂચિ કરેલ; નિષ્ફળતા કોડ { $failureCode }
d3d11layers-crash-guard = D3D11 કંપોઝિટર
d3d11video-crash-guard = D3D11 વિડીયો ડિકોડર
d3d9video-crash-buard = D3D9 વિડીયો ડીકોડર
glcontext-crash-guard = OpenGL
reset-on-next-restart = આગલું પુનઃપ્રારંભ કરો પર ફરીથી સેટ કરો
gpu-process-kill-button = GPU પ્રક્રિયા સમાપ્ત કરો
gpu-device-reset = ઉપકરણ ફરીથી સેટ કરો
gpu-device-reset-button = ટ્રિગર ઉપકરણ રીસેટ કરો
uses-tiling = ટાઇલીંગનો ઉપયોગ કરે છે
content-uses-tiling = ટાઇલિંગનો ઉપયોગ (સામગ્રી)
off-main-thread-paint-enabled = બંધ મુખ્ય થ્રેડ પેઈન્ટીંગ સક્ષમ
off-main-thread-paint-worker-count = મુખ્ય થ્રેડ પેઈન્ટીંગ કામદાર ગણક બંધ
low-end-machine = ઓછા પ્રભાવશાળી મશીન શોધી કાઢ્યું
target-frame-rate = લક્ષ્ય ફ્રેમ દર
audio-backend = ઑડિઓ બેકએન્ડ
max-audio-channels = મહત્તમ ચૅનલ્સ
channel-layout = મનપસંદ ચેનલ લેઆઉટ
sample-rate = મનપસંદ નમૂના દર
min-lib-versions = ઇચ્છિત ન્યૂનત્તમ આવૃત્તિ
loaded-lib-versions = વપરાશમાં આવૃત્તિ
has-seccomp-bpf = Seccomp-BPF (સિસ્ટમ કૉલ ફિલ્ટરિંગ)
has-seccomp-tsync = Seccomp થ્રેડ સુમેળ
has-user-namespaces = વપરાશકર્તા નામસ્થળ
has-privileged-user-namespaces = વિશેષાધિકૃત પ્રક્રિયાઓ માટે વપરાશકર્તા નામસ્થળ
can-sandbox-content = સામગ્રી પ્રક્રિયા સૅન્ડબૉક્સિગ
can-sandbox-media = મીડિયા પ્લગઇન સેન્ડબોક્સીંગ
content-sandbox-level = સામગ્રી પ્રક્રિયા સેન્ડબોક્સ સ્તર
effective-content-sandbox-level = અસરકારક સામગ્રી પ્રક્રિયા સેન્ડબોક્સ સ્તર
sandbox-proc-type-content = સામગ્રી
sandbox-proc-type-file = ફાઇલ સામગ્રી
sandbox-proc-type-media-plugin = મીડિયા પ્લગઇન
sandbox-proc-type-data-decoder = માહિતી ડીકોડર
launcher-process-status-0 = સક્રિય
launcher-process-status-1 = નિષ્ફળતાને કારણે નિષ્ક્રિય
launcher-process-status-2 = બળજબરીથી અક્ષમ
launcher-process-status-unknown = અજ્ઞાત સ્થિતિ
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = વપરાશકર્તા દ્વારા સક્ષમ
multi-process-status-1 = મૂળભૂત દ્વારા સક્ષમ
multi-process-status-2 = અક્ષમ
multi-process-status-4 = ઍક્સેસિબિલિટી ટૂલ્સ દ્વારા અક્ષમ કરેલ
multi-process-status-6 = અસમર્થિત ટેક્સ્ટ ઇનપુટ દ્વારા અક્ષમ કરેલ
multi-process-status-7 = એડ-ઑન્સ દ્વારા અક્ષમ
multi-process-status-8 = બળજબરીથી અક્ષમ
multi-process-status-unknown = અજ્ઞાત સ્થિતિ
async-pan-zoom = અસુમેળ પૈન/Zoom
apz-none = કંઈ નહીં
wheel-enabled = વ્હીલ ઇનપુટ સક્ષમ
touch-enabled = ટચ ઇનપુટ સક્ષમ
drag-enabled = સ્ક્રોલબાર ડ્રેગ સક્ષમ
keyboard-enabled = કીબોર્ડ સક્ષમ
autoscroll-enabled = સ્વતઃસ્ક્રોલ સક્ષમ

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = અસમર્થ પસંદગીને કારણે અસુમેળ વ્હીલ ઇનપુટ અક્ષમ: { $preferenceKey }
touch-warning = અસમર્થ પસંદગીને કારણે અસુમેળ ટચ ઇનપુટ અક્ષમ: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = નિષ્ક્રિય
policies-active = સક્રિય
policies-error = ભૂલ
