# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = { -brand-shorter-name } uchun yangilanish mavjud.
    .buttonlabel = Yangilashni yuklab olish
    .buttonaccesskey = D
    .secondarybuttonlabel = Hozir emas
    .secondarybuttonaccesskey = N
appmenu-update-available-message = { -brand-shorter-name } tez ishlashi va xavfsizlingiz uchu uni yangilang.
appmenu-update-manual =
    .label = { -brand-shorter-name }ni oxirgi versiyaga yangilab bo‘lmaydi.
    .buttonlabel = { -brand-shorter-name }ni yuklab olish
    .buttonaccesskey = Y
    .secondarybuttonlabel = Hozir emas
    .secondarybuttonaccesskey = H
appmenu-update-manual-message = { -brand-shorter-name }ning oxirgi versiyasini yuklab oling. Biz uni o‘rnatishingizda yordam beramiz.
appmenu-update-whats-new =
    .value = Yangi xususiyatlar bilan tanishing.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } yangilanmadi.
    .buttonlabel = Batafsil
    .buttonaccesskey = L
    .secondarybuttonlabel = Yopish
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = { -brand-shorter-name } brauzerining oxirgi versiyasi tizimingizda ishlamaydi.
appmenu-update-restart =
    .label = { -brand-shorter-name }ni yangilash uchun uni qayta ishga tushiring
    .buttonlabel = Qayta ishga tushirish va tiklash
    .buttonaccesskey = T
    .secondarybuttonlabel = Hozir emas
    .secondarybuttonaccesskey = H
appmenu-update-restart-message = Tezkor qayta ishga tushirishdan keyin { -brand-shorter-name } barcha ochiq qolgan oyna va ichki oynalarni tiklaydi. Faqatgina maxfiy ko‘rish rejimidagi oynalarni tiklay olmaydi.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Tushundim
    .buttonaccesskey = O
appmenu-addon-post-install-message = Qoʻshimcha dasturlarni <image data-l10n-name='addon-menu-icon'></image> menyusidagi <image data-l10n-name='addon-install-icon'></image> ustiga bosib, boshqarish mumkin.
