# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = אתר מטעה לפניך
safeb-blocked-malware-page-title = ביקור באתר זה עלול להזיק למחשב שלך
safeb-blocked-unwanted-page-title = האתר הבא עלול להכיל תוכניות מזיקות
safeb-blocked-harmful-page-title = האתר הבא עלול להכיל נוזקה
safeb-blocked-phishing-page-short-desc = { -brand-short-name } חסם דף זה מכיוון שהוא עלול להערים עליך ולגרום לך לעשות משהו מסוכן כמו להתקין תוכניות או לחשוף מידע אישי כמו ססמאות או כרטיסי אשראי.
safeb-blocked-malware-page-short-desc = { -brand-short-name } חסם דף זה מכיוון שהוא עלול לנסות להתקין תוכנה זדונית במחשב שלך, העשויה לגנוב או למחוק מידע אישי.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } חסם דף זה מכיוון שהוא עלול להערים עליך ולגרום לך להתקין תוכניות שמזיקות לחווית הגלישה שלך (למשל על־ידי שינוי דף הבית שלך או הצגת פרסומות נוספות באתרים).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } חסם דף זה מכיוון שהוא עלול לנסות להתקין יישומים מסוכנים הגונבים או מוחקים את המידע שלך (כמו תמונות, ססמאות, הודעות וכרטיסי אשראי).
safeb-palm-advisory-desc = גורם מייעץ: <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = חזרה אחורה
safeb-palm-see-details-label = צפייה בפרטים
safeb-blocked-phishing-page-error-desc-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאתר מטעה</a>. באפשרותך <a data-l10n-name='report_detection'>לדווח על בעיה בזיהוי</a> או <a data-l10n-name='ignore_warning_link'>להתעלם מהסיכון</a> ולהמשיך לאתר הלא בטוח הזה.
safeb-blocked-phishing-page-error-desc-no-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאתר מטעה</a>. באפשרותך <a data-l10n-name='report_detection'>לדווח על בעיה בזיהוי</a>.
safeb-blocked-phishing-page-learn-more = מידע נוסף על אתרים מטעים ודיוג זמין בכתובת <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. מידע נוסף על ההגנה של { -brand-short-name } מפני דיוג ותוכנות זדוניות זמין בכתובת <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאחד המכיל תוכנה זדונית</a>. באפשרותך <a data-l10n-name='report_detection'>לדווח על בעיה בזיהוי</a> או <a data-l10n-name='ignore_warning_link'>להתעלם מהסיכון</a> ולהמשיך לאתר הלא בטוח הזה.
safeb-blocked-malware-page-error-desc-no-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאחד המכיל תוכנה זדונית</a>. באפשרותך <a data-l10n-name='report_detection'>לדווח על בעיה בזיהוי</a>.
safeb-blocked-malware-page-learn-more = מידע נוסף על תוכן רשת מזיק, כולל וירוסים ושאר מזיקים וכיצד להגן על המחשב שלך זמין בכתובת <a data-l10n-name='learn_more_link'>StopBadware.org</a>. מידע נוסף על ההגנה של { -brand-short-name } מפני דיוג ותוכנות זדוניות זמין בכתובת <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאחד המכיל תוכנה מזיקה</a>. באפשרותך <a data-l10n-name='ignore_warning_link'>להתעלם מהסיכון</a> ולהמשיך לאתר הלא בטוח הזה.
safeb-blocked-unwanted-page-error-desc-no-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאחד המכיל תוכנה מזיקה</a>.
safeb-blocked-unwanted-page-learn-more = מידע נוסף על תוכניות מזיקות ובלתי רצויות זמין ב<a data-l10n-name='learn_more_link'>מדיניות תוכניות בלתי רצויות</a>. מידע נוסף על ההגנה של { -brand-short-name } מפני דיוג ותוכנות זדוניות זמין בכתובת <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאחד המכיל יישום שככל הנראה מזיק</a>. באפשרותך <a data-l10n-name='ignore_warning_link'>להתעלם מהסיכון</a> ולהמשיך לאתר הלא בטוח הזה.
safeb-blocked-harmful-page-error-desc-no-override = האתר <span data-l10n-name='sitename'>{ $sitename }</span> <a data-l10n-name='error_desc_link'>דווח כאחד המכיל יישום שככל הנראה מזיק</a>.
safeb-blocked-harmful-page-learn-more = מידע נוסף על ההגנה של { -brand-short-name } מפני דיוג ותוכנות זדוניות זמין בכתובת <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = אתר זה אינו אתר מטעה…
    .accesskey = א
