# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = In sci Strumenti do svilupatô
enable-title = Abilita Strumenti do svilupatô
enable-inspect-element-title = Abilita Strumenti do svilupatô pe deuviâ Ispeçionn-a elemento
enable-inspect-element-message = Ezamina e cangia HTML e CSS con l'ispetô di Strumenti do svilupatô.
enable-about-debugging-message = Sviluppa e fanni o debug co-e WebExtensions, worker web, worker de serviçioe atro ancon graçie a-i Strumenti do svilupatô de Firefox.
enable-key-shortcut-message = Ti æ ativou o scorsaieu di Strumenti do svilupatô. Se l'é stæto un erô, ti peu serâ sto feuggio.
enable-menu-message = Crea o teu scito perfetto con HTML, CSS e JavaScript graçie a atressi comme l'Ispetô e-o Debugger.
enable-common-message = I Strumenti do svilupatô en dizabilitæ comme preinpostaçion pe date ciù contròllo in sciô teu navegatô.
enable-learn-more-link = Atre informaçioin in sci Strumenti do svilupatô
enable-enable-button = Abilita Strumenti do svilupatô
enable-close-button = Særa sto feuggio
welcome-title = Benvegnuo inti Strumenti do svilupatô de Firefox!
newsletter-title = Newsletter di Svilupatoî Mozilla
newsletter-message = Piggite e notiçie di svilupatoî e risorse mandæ pròprio inta teu cazella de pòsta.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Son d'acòrdio che Mozilla o manezze e mæ informaçioin comme spiegou inta <a data-l10n-name="privacy-policy">Politica da Privacy</a>.
newsletter-subscribe-button = Abon-ite
newsletter-thanks-title = Graçie!
newsletter-thanks-message = Se primma no ti æ confermou l'abonamento a-a newsletter in sce Mozilla ti doviesci fâlo. Amîa ben inta teu pòsta in intrâ ò into spam se no ti gh'æ ina email da niâtri.
footer-title = Firefox Developer Edition
footer-message = Ti çerchi quarcösa de ciù che di Strumenti do svilupatô? Ma aloa amia o navegatô Firefox fæto pe-i svilopatoî e 'n moderno flusso de travaggio.
footer-learn-more-link = Atre informaçioin
features-learn-more = Atre informaçioin
features-inspector-title = Ispetô
features-inspector-desc = Ispeçionn-a e rifinisci o còdice pe dâ un aspeto mavegiozo. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consòl
features-console-desc = Traccia CSS, JavaScript, e problemi de seguessa e privacy. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Debugger
features-debugger-desc = Un debugger JavaScript potente che sopòrta o teu framwork. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Ræ
features-network-desc = Amia e domande inta ræ che peuan ralentâ o blocâ o teu scito. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Memöia
features-storage-desc = Azonzi, cangia e scancella cache, cookie, database e dæti da sescion. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Mòddo de Progetto Flescibile
features-responsive-desc = Preuva i scite inte un dispoxitivo scimolou into navegatô. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Editaçion Vizoale
features-visual-editing-desc = Sintonizaçion finn-a da animaçion, aliniamento e scistemaçion do spaçio. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Prestaçioin
features-performance-desc = Sbòcca còlli de botiggia, degordisci processi, òtimizza ativitæ. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memöia
features-memory-desc = Treuve perdite de memöia e rendi a teu aplicaçion scciassa. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Domanda de abonamento falia ({ $errorDescription }).
newsletter-error-unknown = L'é sucesso quarcösa che miga me l'aspetavo.
newsletter-error-timeout = Domanda de abonamento oltre o tenpo mascimo.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = T'æ abilitou i Strumenti do svilopatô! Pe inçiâ, amia o menû Svilopatô Web ò arvi i atressi con { $shortcut }.
