# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = در مورد‌ آن بیشتر بدانید<a data-l10n-name="learn-more">مرور خصوصی</a>.
about-private-browsing-info-visited = صفحات بازدید شده
privatebrowsingpage-open-private-window-label = یک پنجره‌ی ناشناس باز کن
    .accesskey = ن
about-private-browsing-info-notsaved = هنگامی که شما در یک پنجره ناشناس شروع به مرور وب می‌کنید، { -brand-short-name } موارد زیر را <strong>ذخیره نمی‌کند</strong>:
about-private-browsing-search-placeholder = وب را جست‌وجو کنید
about-private-browsing-info-bookmarks = نشانک‌ها
about-private-browsing-info-title = شما در یک پنجرهٔ ناشناس هستید
about-private-browsing-info-searches = جست‌وجوها
about-private-browsing-info-downloads = بارگیری‌ها
private-browsing-title = مرور ناشناس
about-private-browsing-info-saved = { -brand-short-name } <strong>اطلاعات زیر را ذخیره خواهد کرد</strong>:
about-private-browsing-info-myths = افسانه‌های متداول در مورد مرور ناشناس
about-private-browsing-info-clipboard = متن رونوشت شده
about-private-browsing-info-temporary-files = پرونده‌های موقتی
about-private-browsing-info-cookies = کوکی‌ها
tracking-protection-start-tour = ببینید چگونه کار می‌کند
about-private-browsing-note = مرور ناشناس <strong>شما را در اینترنت ناشناس نمی‌کند.</strong> کارفرما یا ارائه‌دهنده خدمات اینترنتی شما همچنان می‌تواند از صفحاتی که بازدید می‌کنید اطلاع داشته باشد.
about-private-browsing =
    .title = وب را جست‌وجو کنید
about-private-browsing-not-private = شما در حال حاضر در پنجره‌ی ناشناس قرار ندارید.
content-blocking-title = مسدود کردن محتوا
content-blocking-description = برخی وب‌سایت‌ها از ردیاب‌هایی استفاده می‌کنند که می‌توانند بر فعالیت‌های شما در تمام اینترنت نظارت کنند. در پنجره ناشناس، مسدود کردن محتوای { -brand-short-name }، به صورت خودکار ردیاب‌های بسیاری که می‌توانند درمورد نحوه‌ی مرور شما اطلاعات جمع‌آوری کنند را مسدود می‌کند.
about-private-browsing-info-description = { -brand-short-name } جست‌وجوها و تاریخچه مرور شما را هنگام خروج از برنامه یا بستن تمام پنجره‌ها و زبانه‌های ناشناس پاک می‌کند. در حالی که اینکار شما را در وب‌سایت‌ها یا فراهم‌کنندهٔ اینترنت شما ناشناس نمی‌کند، این کار مخفی کردن فعالیت‌های آنلاین شما را برای هرکس دیگری که از این رایانه استفاده می‌کند را ساده‌تر می‌کند.
