# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = بروزرسانی های جدیدی برای { -brand-shorter-name } در دسترس است.
    .buttonlabel = دریافت بروزرسانی
    .buttonaccesskey = د
    .secondarybuttonlabel = اکنون نه
    .secondarybuttonaccesskey = ا
appmenu-update-available-message = بروزرسانی { -brand-shorter-name }برای آخرین سرعت و حریم شخصی.
appmenu-update-manual =
    .label = { -brand-shorter-name } نمی‌تواند به نسخه آخر بروز شود.
    .buttonlabel = دریافت { -brand-shorter-name }
    .buttonaccesskey = د
    .secondarybuttonlabel = اکنون نه
    .secondarybuttonaccesskey = ا
appmenu-update-manual-message = دریافت یک برداشت تازه از { -brand-shorter-name } و ما نیازداریم تا شما این‌را نصب کنید.
appmenu-update-whats-new =
    .value = دیدن موارد جدید
appmenu-update-restart =
    .label = برای بروزرسانی { -brand-shorter-name } را مجددا راه‌اندازی کنید.
    .buttonlabel = راه‌اندازی مجدد و بازآوری
    .buttonaccesskey = ر
    .secondarybuttonlabel = اکنون نه
    .secondarybuttonaccesskey = ا
appmenu-update-restart-message = بعد ازیک راه اندازی مجدد،‌ { -brand-shorter-name } تمامی زبانه‌ها و پنجره‌های باز شما را مجدداً باز می‌کند به جز مواردی که در حالت مرور خصوصی بوده‌اند.
appmenu-addon-private-browsing-installed =
    .buttonlabel = باشه، فهمیدم
    .buttonaccesskey = O
appmenu-addon-post-install-message = با کلیک بر روی <image data-l10n-name='addon-install-icon'></image> در منو <image data-l10n-name='addon-menu-icon'></image> افزونه‌های خود را مدیریت کنید.
appmenu-addon-post-install-incognito-checkbox =
    .label = به این افزونه اجازه‌ی اجرا در پنجره خصوصی را بده
    .accesskey = ب
appmenu-addon-private-browsing =
    .label = به افزونه‌های پنجره خصوصی تغییر بده
    .buttonlabel = مدیریت افزونه‌ها
    .buttonaccesskey = م
    .secondarybuttonlabel = باشه فهمیدم
    .secondarybuttonaccesskey = ب
