# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Научете повече относно <a data-l10n-name="learn-more">Поверителното разглеждане</a>.
about-private-browsing-info-visited = посетените страници
privatebrowsingpage-open-private-window-label = Отваряне на поверителен прозорец
    .accesskey = О
about-private-browsing-info-notsaved = Когато разглеждате в поверителен прозорец, { -brand-short-name } <strong>няма да запази</strong>:
about-private-browsing-search-placeholder = Търсене в интернет
about-private-browsing-info-bookmarks = отметките
about-private-browsing-info-title = Вие сте в поверителен прозорец
about-private-browsing-info-searches = търсенията
about-private-browsing-info-downloads = изтеглянията
private-browsing-title = Поверително разглеждане
about-private-browsing-info-saved = { -brand-short-name } <strong>ще запази</strong>:
about-private-browsing-info-myths = Разпространени легенди относно поверителното разглеждане
about-private-browsing-info-clipboard = копираният текст
about-private-browsing-info-temporary-files = временните файлове
about-private-browsing-info-cookies = бисквитките
tracking-protection-start-tour = Вижте как работи
about-private-browsing-note = Поверителното разглеждане <strong>не ви прави анонимни</strong> в Мрежата. Имайте предвид, че въпреки това вашият работодател или доставчик на Интернет биха могли да проследят кои страници посещавате.
about-private-browsing =
    .title = Търсене в интернет
about-private-browsing-not-private = В момента не сте в поверителен прозорец.
content-blocking-title = Ограничаване на съдържание
content-blocking-description = Някои страници използват проследявания, които могат да следят действията ви в интернет. В поверителен прозорец ограничаването на съдържание { -brand-short-name } автоматично спира много от проследяванията, които вероятно събират данни за вашето поведение докато разглеждате.
about-private-browsing-info-description = { -brand-short-name } изчиства историята на търсенето и разглеждането, когато излезете от приложението или затворите всички раздели и прозорци в поверително резглеждане. Въпреки че това не ви прави анонимни за уеб сайтовете или доставчиците на интернет услуги, това улеснява запазването анонимността на вашите действия онлайн, от останалите ползващи същия компютър.
