# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Важни новини
heading = Промени в профила на { -brand-short-name }
changed-title = Какви са промените?
changed-desc-profiles = Тази инсталация на { -brand-short-name } има нов профил. Профилът е набор от файлове, в които Firefox запазва данни като отметки, пароли и потребителски настройки.
changed-desc-dedicated = За да бъде по-лесно и по-безопасно превключването между инсталациите на Firefox (включително Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition и Firefox Nightly), тази инсталация вече има отделен профил. Той не споделя автоматично запазената информация с други инсталации на Firefox.
lost = <b>Не сте загубили лични данни или настройки.</b> Ако вече сте запазили информация във Firefox на този компютър, тя все още е налице в друга инсталация на Firefox.
options-title = Какви възможностите имам?
options-do-nothing = Ако не направите нищо, данните в профила ви във { -brand-short-name } ще се различават от данните в профилите в други инсталации на Firefox.
options-use-sync = Ако искате всички данни в профила да са еднакви във всички инсталации на Firefox, можете да използвате { -fxaccount-brand-name }, за да ги запазите в синхрон.
resources = Ресурси:
support-link = Управление на профили – Помощна статия
sync-header = Впишете се или създайте { -fxaccount-brand-name }
sync-label = Въведете вашата ел. поща
sync-input =
    .placeholder = Електронна поща
sync-button = Напред
sync-terms = Продължавайки, вие се съгласявате с <a data-l10n-name="terms">условията на услугата</a> и <a data-l10n-name="privacy">политиката за лични данни</a>.
sync-first = За първи път ли използвате { -sync-brand-name }? За да синхронизирате информацията си ще трябва да се впишете от всяка инсталация на Firefox.
sync-learn = Научете повече
