# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Mikilvægar fréttir
heading = Breytingar á { -brand-short-name } reikningi þínum
changed-title = Hvað breyttist?
changed-desc-profiles = Þessi uppsetning af { -brand-short-name } inniheldur nýtt snið. Snið er safn skráa þar sem Firefox vistar upplýsingar, svo sem bókamerki, lykilorð og notandastillingar.
changed-desc-dedicated = Þessi uppsetning hefur lokaðar stillingar til þess að auðvelda og aðgreina uppsetningar af Firefox (þar á meðal Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition og Firefox Nightly).  Hún deilir ekki vistuðum gögn með öðrum uppsetningum af Firefox.
lost = <b>Þú hefur ekki týnt neinum persónulegum gögnum eða sérstillingum.</ b> Ef þú hefur nú þegar vistað gögn í Firefox á þessari tölvu er það ennþá í boði í annarri Firefox uppsetningu.
options-title = Hverjir eru valkostir mínir?
options-do-nothing = Ef þú gerir ekkert, mun reikningurinn þinn í { -brand-short-name } verða frábrugðin í öðrum uppsetningum af Firefox.
resources = Auðlindir:
support-link = Að nota Profile Manager - leiðbeiningar
sync-header = Skráðu þig inn eða stofna { -fxaccount-brand-name }
sync-label = Sláðu inn netfangið þitt
sync-input =
    .placeholder = Tölvupóstur
sync-button = Áfram
sync-terms = Með því að halda áfram, samþykkir þú <a data-l10n-name="terms"> þjónustuskilmála </a> og <a data-l10n-name="privacy"> Persónuverndarskilaboð </a>.
sync-first = Ertu að nota { -sync-brand-name } í fyrsta skiptið? Þú þarft að skrá þig inn á allar uppsetningar af Firefox til að samstilla upplýsingarnar þínar.
sync-learn = Fræðast meira
