# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Iderechokuéra rehegua
rights-intro = { -brand-full-name } ha'e peteĩ software ñeme'ẽreíva ha heko jurujáva peteĩ tekove aty oĩhápe hetaiterei pytyvõhára arapy tuichakue jave. Oĩ hetaiterei mba'e eikuaaséramo g̃uarã:
rights-intro-point-1 = { -brand-short-name } eipurukuaa ko'ã jeguataha ehapykuehóramo  <a data-l10n-name="mozilla-public-license-link">Mozilla mba'eteéva</a>. Kóva he'ise ikatuha eipuru, emboheta ha emyasãi { -brand-short-name } ambuépe. Ikatu avei emoambue pe ayvu reñoiha embojuehe { -brand-short-name } hag̃ua neremikotevẽ rehe.  Pe Mozilla Public License ,Mozilla Ñemoneĩ Opavaveguáva, ome'ẽ derécho emyasãivo pe hembiapokue ñemoambuepyréva.
rights-intro-point-2 = Mozilla Foundation ha heseguáva noñeme'ẽi mba'evéichagua derécho térã ñe'ẽme'ẽ ñemurã rehegua, oike avei ápe Firefox réra ha ha'ãnga'i. Ikatu ojejuhu marandu pe ñemurã reheguáva <a data-l10n-name="mozilla-trademarks-link">ápe</a>.
rights-intro-point-3 = Mbovy mba'e { -brand-short-name }-pe, jejavy mombe'uháraicha, omomarandukuaa { -vendor-short-name }-pe. Oñemondóta jave pe marandu, ome'ẽ { -vendor-short-name }-pe juruja ojepuru porã hag̃ua pe marandu omoporãverekávo imba'erepy, oñemoherakuã hag̃ua pe marandu iñanduti rendápe ha oñemyasãi hag̃ua.
rights-intro-point-4 = Mba'eichaitépa ojepuru nemaranduete ha umi temiandu ojeguerahaukáva { -vendor-short-name }-pe { -brand-short-name } rupive oñemoha'ãnga amo <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } temiñemi purureko</a>.
rights-intro-point-4-unbranded = Oimeraẽva temiñemi purureko ko japopyrépe g̃uarãva oñembohysyiva'erã ko'ápe.
rights-intro-point-5 = Heta mba'e { -brand-short-name } rehegua oipuru marandu ñanduti pegua, péicharamo jepe, ndaikatúi romoañetévo oĩporãmbaiteha. Ikatu ejuhu mba'emimi, oikekuaahápe marandu he'íva mba'éichapa ikatu eipe'aite umi mba'e oipurúva ko'ã mba'epururã, amo <a data-l10n-name="mozilla-service-terms-link">mba'epytyvõrã ñemboguata</a>.
rights-intro-point-5-unbranded = Ko japopyre oikéramo ñanduti mba'epytyvõrãme, oimeraẽva mba'epytyvõrã ojogueraháva umi mba'epytyvõrã ndive oikeva'erã ojokuápe amo <a data-l10n-name="mozilla-website-services-link">Ñanduti renda mba'epytyvõrã</a> pehẽ'i.
rights-intro-point-6 = Embohetaseve rupi hetaichagua ta'ãngamýi tretepy, { -brand-short-name } omboguejy heta mbopapapy ra'ãha tetepy mbohapyguáva rehegua.
rights-webservices-header = Mba'epytyvõrã { -brand-full-name } marandu ñanduti pegua
rights-webservices = { -brand-full-name } oipuru marandu mba'epytyvõrã ipyendáva ñandutípe ("mba'epytyvõrã") ome'ẽ hag̃ua heseguamimi ojepurukuaáva ko apopy ikõirekóva { -brand-short-name }-pe ojehaiháicha ko'a guive. Ndereipuruséirõ peteĩ térã hetave mba'epytyvõrã térã jehairysýi oĩva ko'a guive noñemoneĩkuaái, ikatu embogue pe hesegua térã mba'epytyvõrã. Reikuaasérõ mba'éichapa remboguekuaa pe mba'e hesegua térã mba'epytyvõrã rejuhukuaa ko'ápe <a data-l10n-name="mozilla-disable-service-link">ko'ápe</a>. Ambue mba'e ha mba'epytyvõrã ikatu oñembogue tembipuru'i eguerohoryvéva rupi.
rights-safebrowsing = <strong>Kundaha jeroviáva: </strong>Kundaha ñemi rehegua jeikekatu noñemoneĩmbái ikatu rehe nde gueraha tenda jerovia'ỹhápe. Emboguesetéramo ko mba'e rehegua, ehechakuaa ko tape:
rights-safebrowsing-term-1 = Eike tembipuru'i erohoryvévape
rights-safebrowsing-term-2 = Eiporavo Tekorosãrã ta'ãngarupa
rights-safebrowsing-term-3 = Embogue poravopyrã "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Ejoko tetepy kyhyjerã ha imarãkuaáva
rights-safebrowsing-term-4 = Kundaha jerovia ko'ág̃a oñemongéma
rights-locationawarebrowsing = <strong>Kundaha ipyendaitéva: </strong>Opaite jey ha'e puruhára jeporavo. Araka'eve noñemondói marandu nerendaite rehegua neñemoneĩ'ỹre. Emboguesetéramo kóva rehegua, ehapykueho ko tape:
rights-locationawarebrowsing-term-1 = Pe kundaharape rendápe, ehai <code>about:config</code>
rights-locationawarebrowsing-term-2 = Ehai geo.enabled
rights-locationawarebrowsing-term-3 = Eikutu jo'a jerohoryváva geo.enabled-pe
rights-locationawarebrowsing-term-4 = Pe kundaha tendaite rehegua oñemongéma ko'ág̃a
rights-webservices-unbranded = Ko'ápe emoinge peteĩ ñanduti renda mba'epytyvõrã pe japopyre ogueroikéva, je'epyre ndive mba'éichapa ojepe'aiteva'erã, ojejapótaramo.
rights-webservices-term-unbranded = Oimeraẽva mba'epytyvõrã rape ko japopyrépe g̃uarãva oñembohysýi ko'ápe.
rights-webservices-term-1 = { -vendor-short-name } ha ipytyvõhára, virume'ẽha ha iñirũnguéra omba'apo ome'ẽ hag̃ua mba'epytyvõrã ha'ete ha ipyahuvéva. Upéicharamo jepe, ndaikatúi romoañetete ko marandu ha'eha ijerovia añetéva ha ndoguerekokuaaiha jejavy. Techapyrã, ñanduti mba'epytyvõrã jeroviáva ikatu ndohechakuaái heta tenda imarãva ha ikatu ohechakuaa avei heta tenda ijerovia rekóva jejavy rupi ha umi kundaharape oñemboujeýva ore kundaha mba'epytyvõrã me'ẽhára pe tendaite rehe oma'ẽvo añónte ha ore péicha avei umi ore me'ẽhára romboaje pe tendaite rome'ẽva oĩporã.
rights-webservices-term-2 = { -vendor-short-name } ikatu ndoku'ememéi térã omoambue mba'epytyvõrã ha'e oikpotaháicha
rights-webservices-term-3 = Ikatu eipuru ko'ã mba'epytyvõrã { -brand-short-name } rehegua ndive, ha { -vendor-short-name } ome'ẽ derécho ejapóvo péicha. { -vendor-short-name } ha umi ipytyvõhára oñongatu mba'epytyvõrã derécho hembýva. Ko'ã je'epyre nomomichĩri mba'evéichagua derécho ome'ẽva umi ayvu ijurujáva ñe'ẽme'ẽgua ojogueraháva { -brand-short-name } ndive, ha ayvu reñoiha peteĩchagua { -brand-short-name } mba'éva rehegua.
rights-webservices-term-4 = <strong>Umi mba'epytyvõrã oñeme'ẽ "peichaite".  { -vendor-short-name }, ipyptvõhára, hepyme'ẽha ha myasãiharakuéra, ombotove opaichagua jerovia, péicha he'ihápe térã he'ietehápe, oikehápe ha tuichaháicha, jerovia pe mba'epytyvõrã ikatuha eikuave'ẽ ha oguerekopaha pe nde eikotevẽtéva. Nde egueraha nendive pe kyhyjerã poravopyréva ko mba'epytyvõrã rehegua nerembiaporãme péicha avei opaichagua mba'eporã ha ha'evetaha pe mba'epytyvõrã. Ndahetái tendavore nomoneĩri ñemboyke térã ñemomichĩ jeroviaha he'ietéva hesegua, péicha ko nemoneĩ ikatuhína ndoikopái kóvape g̃uarã. </strong>
rights-webservices-term-5 = <strong>Ojejerure'ỹhápe léi rupi, { -vendor-short-name } ipytyvõha, moneĩha ha myasãiharakuéra ndaikatúi oñembojávo hesekuéra mba'evéichagua mba'evai ijyke peguáva, ojehúva, oikónteva, oikopyréva, ka'irãiva térã techapyrã añóva { -brand-short-name } jepurúpe ha avei opaichagua mba'epuru. Atyguáva reheguaite ko'ã je'epy poguy peguáva ndaikatúi ohasávo US$500 (posa dólares). Ndahetái tendaguaite umi ñomoneĩriva ñemboykete térã ñemomichĩ mba'evai rehegua, péicha avei pe ñemboykete ha ñemomichĩ ikatukuaa ndoikói ndéve g̃uarã.</strong>
rights-webservices-term-6 = { -vendor-short-name } ikatu ombohekopyahu ko'ã ñemboguata oikotevẽramo ára ohave rire. Ko'ã ñemboguata ndaikatúi oñemoambue térã ohejarei { -vendor-short-name } ñemoneĩ'ỹre jehaipy rupi.
rights-webservices-term-7 = Ko'ã je'epyre oĩhína tetãpehẽ California, EE.UU. leikuéra poguýpe, oñemboykehápe cheikovai he'iháicha léi ambuévape. Oimeraẽva ko'ã je'epyre ryepy pegua ndoikói térã nderejerurekuaái, umi ambue hembýva ko'ãvagui oñemboajetéta pe oĩ hagueichaite. Peichahágui oikóramo cheikovai peteĩchagua ñe'ẽasapyréva ko'ã je'epyre rehegua ha pe ñe'ẽ Inglés, ñe'ẽ Inglés pegua oñemotenondéta.
