# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Está disponible una nueva actualización { -brand-shorter-name }.
    .buttonlabel = Descargar actualización
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-available-message = Actualiza tu { -brand-shorter-name } para obtener la velocidad y privacidad más recientes.
appmenu-update-manual =
    .label = { -brand-shorter-name } no se puede actualizar a la última versión.
    .buttonlabel = Descargar { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = Descarga una nueva copia de la actualización { -brand-shorter-name }.
appmenu-update-whats-new =
    .value = Mira lo que hay de nuevo.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } no puede actualizarse a la última versión.
    .buttonlabel = Saber más
    .buttonaccesskey = S
    .secondarybuttonlabel = Cerrar
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = Tu sistema no es compatible con la versión más reciente de { -brand-shorter-name }.
appmenu-update-restart =
    .label = Reiniciar para actualizar { -brand-shorter-name }.
    .buttonlabel = Reiniciar y restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Ahora no
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Después de un reinicio rápido, { -brand-shorter-name } restaurará todas las pestañas y ventanas abiertas que no estén en modo de Navegación Privada.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Listo, entendido
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administra tus complementos haciendo clic <image data-l10n-name='addon-install-icon'></image> en el <image data-l10n-name='addon-menu-icon'></image> menú.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permitir que esta extensión funcione en ventanas privadas
    .accesskey = P
appmenu-addon-private-browsing =
    .label = Cambiar a extensiones en ventanas privadas
    .buttonlabel = Administrar extensiones
    .buttonaccesskey = M
    .secondarybuttonlabel = Listo, entendido
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Cualquier nueva extensión que aregues a { -brand-shorter-name } no funcionará en ventanas privadas a menos que lo permitas en la configuración.
appmenu-addon-private-browsing-learn-more = Cómo gestionar la configuración de las extensiones
