# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Ina nova actualisaziun per { -brand-shorter-name } stat a disposiziun.
    .buttonlabel = Telechargiar l'actualisaziun
    .buttonaccesskey = T
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-available-message = Actualisescha { -brand-shorter-name } per profitar da las ultimas meglieraziuns da spertadad e sfera privata.
appmenu-update-manual =
    .label = Impussibel dad actualisar { -brand-shorter-name } a la pli nova versiun.
    .buttonlabel = Telechargiar { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-manual-message = Telechargia ina copia frestga da { -brand-shorter-name } e nus ta gidain da l'installar.
appmenu-update-whats-new =
    .value = Vesair las novaziuns.
appmenu-update-unsupported =
    .label = Impussibel dad actualisar { -brand-shorter-name } a la pli nova versiun.
    .buttonlabel = Ulteriuras infurmaziuns
    .buttonaccesskey = U
    .secondarybuttonlabel = Serrar
    .secondarybuttonaccesskey = S
appmenu-update-unsupported-message = La versiun la pli nova da { -brand-shorter-name } na vegn betg sustegnida da tes sistem.
appmenu-update-restart =
    .label = Reaviar per actualisar { -brand-shorter-name }.
    .buttonlabel = Reaviar e restaurar
    .buttonaccesskey = R
    .secondarybuttonlabel = Betg ussa
    .secondarybuttonaccesskey = B
appmenu-update-restart-message = Suenter reaviar restaurescha { -brand-shorter-name } tut tes tabs e tias fanestras avertas che n'èn betg en il modus privat.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, chapì
    .buttonaccesskey = O
appmenu-addon-post-install-message = Administrescha tes supplements cun cliccar sin <image data-l10n-name='addon-install-icon'></image> en il menu <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Permetter a questa extensiun dad esser activa en fanestras privatas
    .accesskey = a
appmenu-addon-private-browsing =
    .label = Midar a extensiuns en fanestras privatas
    .buttonlabel = Administrar las extensiuns
    .buttonaccesskey = A
    .secondarybuttonlabel = Ok, chapì
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Mintga nova extensiun che ti agiunteschas a { -brand-shorter-name } na vegn betg a funcziunar en fanestras privatas avant che ti permettias quai en ils parameters.
appmenu-addon-private-browsing-learn-more = Vegnir a savair co administrar ils parameters da las extensiuns.
