# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = વિશે વધુ શીખો <a data-l10n-name="learn-more">ખાનગી બ્રાઉઝિંગ</a>.
about-private-browsing-info-visited = મુલાકાત લીધેલા પૃષ્ઠો
privatebrowsingpage-open-private-window-label = ખાનગી વિન્ડો ખોલો
    .accesskey = P
about-private-browsing-info-notsaved = જ્યારે તમે એક { -brand-short-name } ખાનગી વિન્ડો મા બ્રાઉઝ કરો <strong>સાચવી નથી</strong>:
about-private-browsing-search-placeholder = વેબ પર શોધો
about-private-browsing-info-bookmarks = બુકમાર્ક્સ
about-private-browsing-info-title = તમે ખાનગી વિન્ડો માં છો
about-private-browsing-info-searches = શોધ
about-private-browsing-info-downloads = ડાઉનલોડ
private-browsing-title = ખાનગી બ્રાઉઝિંગ
about-private-browsing-info-saved = { -brand-short-name } <strong>સેવ કરશે</strong>તમારા:
about-private-browsing-info-myths = ખાનગી બ્રાઉઝિંગ વિશે સામાન્ય માન્યતાઓ
about-private-browsing-info-clipboard = નકલ કરેલ લખાણ
about-private-browsing-info-temporary-files = કામચલાઉ ફાઈલો
about-private-browsing-info-cookies = કૂકીઝ
tracking-protection-start-tour = કેવી રીતે કામ કરે છે તે જોઈએ
about-private-browsing-note = ખાનગી બ્રાઉઝિંગ<strong>તમને અનામી બનાવશે નાઈ</strong>ઇન્ટરનેટ પર તમારા નિયોક્તા અથવા ઇન્ટરનેટ સેવા પ્રદાતા હજુ પણ તમે કાયા પાનાની મુલાકાત લો છો એની ખબર રાખી શકે છે
about-private-browsing =
    .title = વેબ પર શોધો
about-private-browsing-not-private = તમે હાલમાં ખાનગી વિન્ડો મા નથી.
content-blocking-title = વસ્તુઓ અવરોધ
content-blocking-description = કેટલીક વેબસાઇટ્સ ઇન્ટરનેટ પરની તમારી પ્રવૃત્તિઓ પર દેખરેખ રાખવા માટે ટ્રેકર્સનો ઉપયોગ કરે છે. ખાનગી વિન્ડોઝમાં { -brand-short-name } સામગ્રી અવરોધિત સ્વતઃ ઘણા ટ્રેકર્સને અવરોધિત કરે છે કે જે તમારાં બ્રાઉઝિંગ વર્તન વિશેની માહિતી ભેગી કરે છે.
about-private-browsing-info-description = { -brand-short-name } જ્યારે તમે એપ્લિકેશન છોડો છો અથવા બધી ખાનગી બ્રાઉઝિંગ ટેબ્સ અને વિંડોઝ બંધ કરો છો ત્યારે તમારી શોધ અને બ્રાઉઝિંગ ઇતિહાસને સાફ કરે છે. આ તમને વેબસાઇટ્સ અથવા તમારા ઇન્ટરનેટ સર્વિસ પ્રોવાઇડરને અનામી બનાવતું નથી, પરંતુ આ કમ્પ્યુટરનો ઉપયોગ કરનાર અન્ય લોકોથી તમે ઑનલાઇન ખાનગી શું કરો છો તે સરળ બનાવે છે.
