# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = નવું { -brand-shorter-name } અપડેટ ઉપલબ્ધ છે.
    .buttonlabel = અપડેટ ડાઉનલોડ કરો
    .buttonaccesskey = D
    .secondarybuttonlabel = હમણાં નહિં
    .secondarybuttonaccesskey = N
appmenu-update-available-message = તમારું { -brand-shorter-name } અપડેટ કરો; ઝડપ અને ગોપનીયતા માં તાજેતરની માટે.
appmenu-update-manual =
    .label = { -brand-shorter-name } નવીનતમ સંસ્કરણ પર અપડેટ કરી શકાતું નથી.
    .buttonlabel = ડાઉનલોડ { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = હમણાં નહિં
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } એક નવી નકલ ડાઉનલોડ કરો અને અમે તમને તેને ઇન્સ્ટોલ કરવા તમારી સહાય કરીશું.
appmenu-update-whats-new =
    .value = જુઓ નવુ શું છે.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } નવીનતમ સંસ્કરણ પર અપડેટ કરવામાં અસમર્થ છે.
    .buttonlabel = વધુ શીખો
    .buttonaccesskey = L
    .secondarybuttonlabel = બંધ
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = { -brand-shorter-name } નું નવીનતમ સંસ્કરણ તમારી સિસ્ટમ પર સપોર્ટેડ નથી.
appmenu-update-restart =
    .label = અપડેટ કરવા માટે પુનઃપ્રારંભ કરો { -brand-shorter-name }.
    .buttonlabel = પુનઃપ્રારંભ કરો અને પુનઃસ્થાપિત કરો
    .buttonaccesskey = R
    .secondarybuttonlabel = હમણાં નહિં
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = ઝડપી પુનઃપ્રારંભ પછી, { -brand-shorter-name } તમારા બધા ખુલ્લા ટેબ્સ અને વિંડોઝને પુનઃસ્થાપિત કરશે જે ખાનગી બ્રાઉઝિંગ મોડમાં નથી.
appmenu-addon-private-browsing-installed =
    .buttonlabel = ઠીક છે, સમજાઇ ગયું
    .buttonaccesskey = O
appmenu-addon-post-install-message = <image data-l10n-name='addon-install-icon'></image> મેનૂમાં <image data-l10n-name='addon-menu-icon'></image> ક્લિક કરીને તમારા ઍડ-ઑનને સંચાલિત કરો.
appmenu-addon-post-install-incognito-checkbox =
    .label = ખાનગી વિંડોઝમાં આ એક્સ્ટેન્શનને ચલાવવાની મંજૂરી આપો
    .accesskey = A
appmenu-addon-private-browsing =
    .label = ખાનગી વિંડોઝમાં એક્સ્ટેન્શન્સ બદલો
    .buttonlabel = એક્સ્ટેંશન્સનો વહીવટ કરો
    .buttonaccesskey = M
    .secondarybuttonlabel = ઠીક છે, સમજાઇ ગયું
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = તમે કોઈ પણ નવા એક્સ્ટેન્શન્સને { -brand-shorter-name } માં ઉમેરો છો તે ખાનગી વિંડોઝમાં કાર્ય કરશે નહીં સિવાય કે તમે આ સેટિંગ્સમાં મંજૂરી આપો.
appmenu-addon-private-browsing-learn-more = એક્સટેંશન સેટિંગ્સ કેવી રીતે સંચાલિત કરવી તે જાણો
