# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = મહત્વપૂર્ણ સમાચાર
heading = તમારા { -brand-short-name } પ્રોફાઇલમાં ફેરફારો
changed-title = શું બદલાયું?
changed-desc-profiles = { -brand-short-name } ની આ ઇન્સ્ટોલેશન નવી પ્રોફાઇલ ધરાવે છે. પ્રોફાઇલ એ ફાઇલોનો સમૂહ છે જ્યાં Firefox બુકમાર્ક્સ, પાસવર્ડ્સ અને વપરાશકર્તા પસંદગીઓ જેવી માહિતી સાચવે છે.
changed-desc-dedicated = Firefox ના ઇન્સ્ટોલેશન (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, અને Firefox Nightly સહિત) વચ્ચે બદલવાનું વધુ સરળ અને સલામત બનાવવા માટે, આ ઇન્સ્ટોલેશન પાસે હવે સમર્પિત પ્રોફાઇલ છે. તે આપમેળે તમારી સાચવેલી માહિતી અન્ય Firefox ઇન્સ્ટોલેશન્સ સાથે શેર કરતું નથી.
lost = <b>તમે કોઈ વ્યક્તિગત ડેટા અથવા કસ્ટમાઇઝેશન ગુમાવ્યાં નથી.</b>જો તમે આ કમ્પ્યુટર પર પહેલાથી જ માહિતીમાં Firefox માં માહિતી સાચવી લીધી છે, તો તે હજી પણ અન્ય Firefox ઇન્સ્ટોલેશનમાં ઉપલબ્ધ છે.
options-title = મારા વિકલ્પો શું છે?
options-do-nothing = જો તમે કંઇ ન કરો તો, { -brand-short-name } માં તમારો પ્રોફાઇલ ડેટા, Firefox ના અન્ય ઇન્સ્ટોલેશનમાં પ્રોફાઇલ ડેટાથી અલગ હશે.
options-use-sync = જો તમે તમારા બધા પ્રોફાઇલ ડેટાને Firefox નાં તમામ ઇન્સ્ટોલેશન્સ પર સમાન રાખવાં માંગો છો, તો તમે તેને સમન્વયિત રાખવા માટે { -fxaccount-brand-name } નો ઉપયોગ  કરી શકો છો.
resources = સંસાધનો:
support-link = પ્રોફાઇલ મેનેજરનો ઉપયોગ - સપોર્ટ લેખ
sync-header = સાઇન ઇન કરો અથવા બનાવો { -fxaccount-brand-name }
sync-label = તમારું ઈમેલ એડ્રેસ લખો
sync-input =
    .placeholder = ઇમેઇલ
sync-button = ચાલુ રાખો
sync-terms = આગળ વધીને, તમે <a data-l10n-name="terms">સેવાની શરતો</a> અને <a data-l10n-name="privacy">ગોપનીયતા સૂચના</a> થી સંમત થાઓ છો.
sync-first = { -sync-brand-name } નો ઉપયોગ કરીને પ્રથમ વાર? તમારે તમારી માહિતીને સમન્વયિત કરવા માટે Firefoxની દરેક ઇન્સ્ટોલેશનમાં સાઇન ઇન કરવું પડશે.
sync-learn = વધુ શીખો
