# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = গুরুত্বপূর্ণ খবর
heading = আপনার { -brand-short-name } প্রোফাইল পরিবর্তন করুন
changed-title = কি পরিবর্তন হয়েছে?
changed-desc-profiles = { -brand-short-name } এর নতুন ইন্সটলে নতুন প্রোফাইল রয়েছে। প্রোফাইল হল কিছু ফাইলের সেট যেখানে Firefox বুকমার্ক, পাসওয়ার্ড এবং ব্যবহারকারীর পছন্দগুলো সংরক্ষণ করে।
changed-desc-dedicated = Firefox (Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, এবং Firefox Nightly) এর বিভিন্ন ইনস্টলেশনের মধ্যে সহজে এবং নিরাপদে বদল করতে, এই ইনস্টলেশনে এখন নিবেদিত প্রোফাইল রয়েছে। যা Firefox এর অন্য ইনস্টলেশনে সাথে আপনার সংরক্ষিত তথ্য শেয়ার করে না।
lost = <b>আপনি কোন ব্যক্তিগত তথ্য বা কাস্টমাইজেশন হারিয়ে যাবে না।</b> এই কম্পিউটারে Firefox এ আপনার তথ্য সংরক্ষিত রয়েছে, Firefox এর অন্য ইন্সটলেও তা থাকবে।
options-title = আমার অপশনগুলো কি কি?
options-do-nothing = যদি আপনি কিছু না করেন, তবে { -brand-short-name } তে আপনার প্রোফাইল ডাটা Firefox এর অন্যান্য ইনস্টলেশনের প্রোফাইল ডাটা থেকে ভিন্ন হবে।
options-use-sync = Firefox এর সব ইনস্টলেশনে আপনার প্রোফাইল ডাটা একই রকম রাখতে চাইলে, আপনি তাদের সিঙ্ক রাখতে { -fxaccount-brand-name } ব্যবহার করতে পারেন।
resources = রিসোর্স:
support-link = প্রোফাইল ম্যানেজার ব্যবহার করে - সাপোর্ট নিবন্ধ
sync-header = { -fxaccount-brand-name } সাইন ইন অথবা তৈরী করুন
sync-label = আপনার ইমেইল দিন
sync-input =
    .placeholder = ইমেইল
sync-button = চালিয়ে যান
sync-terms = এগিয়ে যাওয়ার মাধ্যমে, আপনি <a data-l10n-name="terms"> পরিষেবার শর্তাবলি </a> এবং <a data-l10n-name="privacy"> গোপনীয়তা বিজ্ঞপ্তি </a> এর সাথে সম্মত হন।
sync-first = { -sync-brand-name } প্রথমবার ব্যবহার করছেন? আপনার তথ্য সিঙ্ক করার জন্য আপনাকে Firefox এর প্রতিটি ইনস্টলেশনে সাইন ইন করতে হবে।
sync-learn = আরও জানুন
