# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = GIới thiệu công cụ dành cho nhà phát triển
enable-title = Kích hoạt công cụ dành cho nhà phát triển Firefox
enable-inspect-element-title = Bật công cụ dành cho nhà phát triển Firefox để sử dụng kiểm tra phần tử
enable-inspect-element-message = Kiểm tra và chỉnh sửa HTML và CSS với Trình kiểm tra trong công cụ dành cho nhà phát triển.
enable-about-debugging-message = Phát triển và gỡ lỗi WebExtensions, web workers, service worker và nhiều hơn nữa với công cụ dành cho nhà phát triển Firefox.
enable-key-shortcut-message = Bạn đã kích hoạt phím tắt công cụ dành cho nhà phát triển. Nếu đó là một sai lầm, bạn có thể đóng thẻ này.
enable-menu-message = Hoàn thiện trang web của bạn HTML HTML, CSS và JavaScript bằng các công cụ như trình kiểm tra và trình gỡ lỗi.
enable-common-message = Công cụ dành cho nhà phát triển Firefox bị tắt theo mặc định để cung cấp cho bạn quyền kiểm soát nhiều hơn đối với trình duyệt của bạn.
enable-learn-more-link = Xem thêm về công cụ dành cho nhà phát triển
enable-enable-button = Bật công cụ dành cho phát triển
enable-close-button = Đóng thẻ này
welcome-title = Chào mừng đến với công cụ dành cho nhà phát triển Firefox!
newsletter-title = Bản tin nhà phát triển Mozilla
newsletter-message = Nhận tin tức, thủ thuật và tài nguyên dành cho nhà phát triển được gửi vào hộp thư đến của bạn.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Tôi đồng ý với việc Mozilla sử dụng thông tin của tôi như được giải thích trong phần <a data-l10n-name="privacy-policy">chính sách bảo mật</a> này.
newsletter-subscribe-button = Đăng ký
newsletter-thanks-title = Cảm ơn!
newsletter-thanks-message = Nếu bạn chưa xác nhận đăng kí các thư mới liên quan đến Mozilla thì bạn phải xác nhận lại. Hãy kiểm tra email của chúng tôi trong hộp thư đến của bạn hoặc tìm trong hộp thư spam.
footer-title = Phiên bản Firefox cho nhà phát triển
footer-message = Muốn tìm kiếm nhiều thứ hơn về công cụ dành cho nhà phát triển? Hãy xem trình duyệt Firefox được xây dựng dành riêng cho các nhà phát triển và quy trình làm việc hiện đại.
footer-learn-more-link = Xem thêm
features-learn-more = Xem thêm
features-inspector-title = Trình kiểm tra
features-inspector-desc = Kiểm tra và tinh chỉnh mã để xây dựng bố cục hoàn hảo. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Bảng điều khiển
features-console-desc = Theo dõi các vấn đề về CSS, JavaScript, bảo mật và mạng. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Trình gỡ lỗi
features-debugger-desc = Trình gỡ lỗi JavaScript mạnh mẽ với sự hỗ trợ cho framework của bạn. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Mạng
features-network-desc = Giám sát các yêu cầu mạng có thể làm chậm hoặc chặn trang web của bạn. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Lưu trữ
features-storage-desc = Thêm, sửa đổi và xóa bộ nhớ cache, cookie, cơ sở dữ liệu và dữ liệu phiên. <<a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Chế độ thiết kế tương thích
features-responsive-desc = Kiểm tra các trang web trên các thiết bị mô phỏng trong trình duyệt của bạn. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Soạn thảo trực quan
features-visual-editing-desc = Tinh chỉnh hình ảnh động, căn chỉnh và đệm. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Hiệu năng
features-performance-desc = Bỏ chặn các nút thắt cổ chai, hợp lý hóa các quy trình, tối ưu hóa tài sản. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Bộ nhớ
features-memory-desc = Tìm rò rỉ bộ nhớ và làm cho ứng dụng của bạn nhanh hơn. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Yêu cầu đăng ký không thành công ({ $errorDescription }).
newsletter-error-unknown = Đã xảy ra lỗi.
newsletter-error-timeout = Yêu cầu đăng ký đã mất quá nhiều thời gian.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Bạn đã kích hoạt thành công công cụ dành cho nhà phát triển! Để bắt đầu, hãy khám phá trình đơn nhà phát triển web hoặc mở các công cụ với { $shortcut }.
