# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

addons-window =
    .title = పొడిగింతల నిర్వాహకి
search-header-shortcut =
    .key = f
loading-label =
    .value = లోడవుచున్నది…
list-empty-installed =
    .value = మీ వద్ద ఈ రకమైన పొడిగింతలేమీ స్థాపించి లేవు
list-empty-available-updates =
    .value = ఏ నవీకరణలు కనుగొనలేదు
list-empty-recent-updates =
    .value = మీరు ఇటీవల ఏ పొడిగింతలు నవీకరించలేదు
list-empty-find-updates =
    .label = నవీకరణల కొరకు పరిశీలించు
list-empty-button =
    .label = పొడిగింతలు గురించి మరింత తెలుసుకొనండి
install-addon-from-file =
    .label = ఫైలు నుండి పొడిగింతను స్థాపించు…
    .accesskey = I
preferences =
    { PLATFORM() ->
        [windows] { -brand-short-name } ఎంపికలు
       *[other] { -brand-short-name } అభిరుచులు
    }
tools-menu =
    .tooltiptext = అన్ని పొడిగింతలు కొరకు సాధనములు
show-unsigned-extensions-button =
    .label = కొన్ని పొడగింతలను తనిఖీ చేయలేకపోయాం
show-all-extensions-button =
    .label = అన్ని పొడగింతలను చూపించు
debug-addons =
    .label = పొడిగింతలను డీబగ్ చేయుము
    .accesskey = B
cmd-show-details =
    .label = మరింత సమాచారం చూపించు
    .accesskey = S
cmd-find-updates =
    .label = నవీకరణలను కనుగొను
    .accesskey = F
cmd-preferences =
    .label =
        { PLATFORM() ->
            [windows] ఎంపికలు
           *[other] అభిరుచులు
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
cmd-enable-theme =
    .label = ఐచ్ఛిక ధీముని దరించు
    .accesskey = W
cmd-disable-theme =
    .label = ఎంపిక శైలిని దరించుటను ఆపు
    .accesskey = W
cmd-install-addon =
    .label = స్థాపించు
    .accesskey = I
cmd-contribute =
    .label = తోడ్పడండి
    .accesskey = C
    .tooltiptext = ఈ పొడిగింత అభివృద్దిలో పాల్గొనుము
discover-title = పొడిగింతలు అనగా ఏమి?
discover-description = పొడిగింతలు అనునవి వాటి యొక్క ప్రమేయత్వముతో లేదా శైలితో మీరు { -brand-short-name } ను మీకు నప్పినవిధంగా మాలచుకొనుటకు దోహదపడు అనువర్తనములు. మీ స్వంత { -brand-short-name } తయారు చేసుకొనుటకు, సమయాన్ని-ఆదాచేసే పక్కపట్టీను ప్రయత్నించండి, వాతావరణం తెలుపుదానిని యత్నించండి, లేదా ఐచ్ఛికశైలి(థీమ్) ఉపయోగించి చూడండి.
discover-footer =
    మీరు అంతర్జాలమునకు అనుసంధానమైనప్పుడు, ఈ పేన్
    మీకు కొన్ని మంచి మరియు పేరొందిన పొడిగింతలను మీరు ప్రయత్నించి చూచుటకు అందించును.
detail-version =
    .label = వెర్షను
detail-last-updated =
    .label = చివరిగా నవీకరించింది
detail-contributions-description = ఈ పొడిగింతను అభివృద్దికారి దాని తదుపరి అభివృద్ది కొనసాగింపు కొరకు మీ నుండి కొద్ది మొత్తంలో సహాయంను కోరుచున్నారు.
detail-update-type =
    .value = స్వయంచాలక నవీకరణలు
detail-update-default =
    .label = అప్రమేయం
    .tooltiptext = తాజాకరణలను స్థాపిచడం అప్రమేయమైతే వాటిని స్వయంచాలంకగా స్థాపించు
detail-update-automatic =
    .label = ఆన్ చేయి
    .tooltiptext = తాజాకరణలను స్వయంచాలకంగా స్థాపించు
detail-update-manual =
    .label = ఆఫ్ చేయి
    .tooltiptext = తాజాకరణలను స్వయంచాలకంగా స్థాపించవద్దు
detail-private-browsing-on =
    .label = అనుమతించు
    .tooltiptext = అంతరంగిక విహరణలో చేతనంచేయి
detail-private-browsing-off =
    .label = అనుమతించ వద్దు
    .tooltiptext = అంతరంగిక విహరణలో అచేతనించు
detail-home =
    .label = ముంగిలిపేజీ
detail-home-value =
    .value = { detail-home.label }
detail-repository =
    .label = పొడిగింత పరిచయపత్రం
detail-repository-value =
    .value = { detail-repository.label }
detail-check-for-updates =
    .label = నవీకరణల కొరకు పరిశీలించు
    .accesskey = F
    .tooltiptext = ఈ పొడిగింత కొరకు నవీకరణలను పరిశీలించు
detail-show-preferences =
    .label =
        { PLATFORM() ->
            [windows] ఎంపికలు
           *[other] అభిరుచులు
        }
    .accesskey =
        { PLATFORM() ->
            [windows] O
           *[other] P
        }
    .tooltiptext =
        { PLATFORM() ->
            [windows] ఈ పొడిగింత యొక్క ఎంపికలను మార్చు
           *[other] ఈ పొడిగింత యొక్క అభీష్టాలను మార్చు
        }
detail-rating =
    .value = శ్రేష్టత
addon-restart-now =
    .label = ఇప్పుడే పునఃప్రారంభించు
disabled-unsigned-heading =
    .value = కొన్ని పొడిగింతలు అచేతనించబడ్డాయి
disabled-unsigned-description = { -brand-short-name }‌లో వాడటానికి ఈ కింది పొడిగింతలు తనిఖీ చేయబడలేదు. మీరు <label data-l10n-name="find-addons">ప్రత్యామ్నాయాలు కనుగొను</label> లేదా డెవలపర్లను వాటిని తనిఖీ చేయించమని అడగవచ్చు.
disabled-unsigned-learn-more = ఆన్‌లైన్లో మిమ్మల్ని సురక్షితంగా ఉంచడానికి మేం చేసే కృషి గురించి తెలుసుకోండి.
disabled-unsigned-devinfo = తమ పొడిగింతలను తనిఖీ చేయించుకోవాలనుకునే డెవలపర్లు మా  చదివి కొనసాగించవచ్చు<label data-l10n-name="learn-more">మానవీయం</label>.
plugin-deprecation-description = ఏదైనా లేదా? కొన్ని ప్లగిన్లకు { -brand-short-name } ఇకపై తోడ్పాటు లేదు. <label data-l10n-name="learn-more">ఇంకా తెలుసుకోండి.</label>
legacy-warning-show-legacy = లెగసీ పొడగింతలను చూపించు
legacy-extensions =
    .value = పాత పొడగింతలు
legacy-extensions-description = ఈ పొడిగింతలు ప్రస్తుత { -brand-short-name } ప్రమాణాలను చేరుకోవు కాబట్టి అవి క్రియారహితం చేయబడ్డాయి. <label data-l10n-name="legacy-learn-more">పొడిగింతల మార్పుల గురించి తెలుసుకోండి</label>
extensions-view-recent-updates =
    .name = ఇటీవలి నవీకరణలు
    .tooltiptext = { extensions-view-recent-updates.name }
extensions-view-available-updates =
    .name = అందుబాటులోని నవీకరణలు
    .tooltiptext = { extensions-view-available-updates.name }

## These are global warnings

extensions-warning-safe-mode-label =
    .value = అన్ని పొడిగింతలు సేఫ్ మోడ్ చేత అచేతనపరచబడినవి.
extensions-warning-safe-mode-container =
    .tooltiptext = { extensions-warning-safe-mode-label.value }
extensions-warning-check-compatibility-label =
    .value = పొడిగింత సారూప్యతా పరిశీలన అచేతనమైంది. మీరు సారూప్యతలేని పొడిగింతలు కలిగివుండవచ్చును.
extensions-warning-check-compatibility-container =
    .tooltiptext = { extensions-warning-check-compatibility-label.value }
extensions-warning-check-compatibility-enable =
    .label = చేతనపరచు
    .tooltiptext = పొడిగింత సారూప్యతా పరిశీలనను చేతనపరచు
extensions-warning-update-security-label =
    .value = పొడిగింత నవీకరణ రక్షణ పరిశీలన అచేతనమైంది. మీ జోక్యం లేకుండా నవీకరణలు జరుగవచ్చు.
extensions-warning-update-security-container =
    .tooltiptext = { extensions-warning-update-security-label.value }
extensions-warning-update-security-enable =
    .label = చేతనపరచు
    .tooltiptext = పొడిగింత నవీకరణ రక్షణ పరిశీలనను చేతనముచేయి

## Strings connected to add-on updates

extensions-updates-check-for-updates =
    .label = నవీకరణల కొరకు పరిశీలించు
    .accesskey = C
extensions-updates-view-updates =
    .label = ఇటీవలి తాజాకరణలను చూడండి
    .accesskey = V

# This menu item is a checkbox that toggles the default global behavior for
# add-on update checking.

extensions-updates-update-addons-automatically =
    .label = పొడిగింతలను స్వయంచాలకంగా నవీకరించు
    .accesskey = A

## Specific add-ons can have custom update checking behaviors ("Manually",
## "Automatically", "Use default global behavior"). These menu items reset the
## update checking behavior for all add-ons to the default global behavior
## (which itself is either "Automatically" or "Manually", controlled by the
## extensions-updates-update-addons-automatically.label menu item).

extensions-updates-reset-updates-to-automatic =
    .label = స్వయంచాలకంగా నవీకరించుటకు అన్ని పొడిగింతలును రీసెట్ చేయు
    .accesskey = R
extensions-updates-reset-updates-to-manual =
    .label = పొడగింతలన్నీ మానవీయంగా తాజాపరచుకునేలా మార్చు
    .accesskey = R

## Status messages displayed when updating add-ons

extensions-updates-updating =
    .value = పొడిగింతలను నవీకరిస్తున్నది
extensions-updates-installed =
    .value = మీ పొడిగింతలు తాజాకరించబడ్డాయి.
extensions-updates-downloaded =
    .value = మీ పొడిగింత నవీకరణలు డౌన్‌లోడైనవి.
extensions-updates-restart =
    .label = స్థాపనను పూర్తిచేయడానికి ఇప్పుడే పునఃప్రారంభించు
extensions-updates-none-found =
    .value = తాజాకరణలు ఏమీ లేవు
extensions-updates-manual-updates-found =
    .label = అందుబాటులోని తాజాకరణలను చూడండి
extensions-updates-update-selected =
    .label = తాజాకరణలను స్థాపించు
    .tooltiptext = ఈ జాబితాలోని తాజాకరణలను స్థాపించు

## Extension shortcut management

shortcuts-card-collapse-button = తక్కువ చూపించు
go-back-button =
    .tooltiptext = వెనుకకు వెళ్ళు

## Recommended add-ons page

discopane-notice-learn-more = ఇంకా తెలుసుకోండి
# Shows the number of daily users of the add-on.
# Variables:
#   $dailyUsers (number) - The number of daily users.
user-count = వాడుకరులు: { $dailyUsers }
install-theme-button = అలంకారాన్ని స్థాపించు

## Add-on actions

remove-addon-button = తొలగించు
disable-addon-button = అచేతనించు
enable-addon-button = చేతనించు
expand-addon-button = మరిన్ని ఎంపికలు
preferences-addon-button =
    { PLATFORM() ->
        [windows] ఎంపికలు
       *[other] అభిరుచులు
    }
details-addon-button = వివరాలు
permissions-addon-button = అనుమతులు
addons-enabled-heading = చేతనం
addons-disabled-heading = అచేతనం
addon-detail-author-label = రచయిత
addon-detail-version-label = వెర్షను
addon-detail-homepage-label = ముంగిలిపేజీ
# The number of reviews that an add-on has received on AMO.
# Variables:
#   $numberOfReviews (number) - The number of reviews received
addon-detail-reviews-link =
    { $numberOfReviews ->
        [one] { $numberOfReviews } సమీక్ష
       *[other] { $numberOfReviews } సమీక్షలు
    }

## Pending uninstall message bar

addon-detail-updates-radio-default = అప్రమేయం
addon-detail-update-check-label = తాజాకరణలకై చూడు
addon-detail-private-browsing-allow = అనుమతించు
addon-detail-private-browsing-disallow = అనుమతించ వద్దు
available-updates-heading = అందుబాటులో ఉన్న తాజాకరణలు
recent-updates-heading = ఇటీవలి తాజాకరణలు
