# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Om dine rettigheter
rights-intro = { -brand-full-name } er programvare basert på fri og åpen kildekode, utviklet av et samfunn med tusenvis av medlemmer rundt om i verden. Det er noen ting du bør vite:
rights-intro-point-1 = { -brand-short-name } er tilgjengelig for deg under betingelsene i <a data-l10n-name="mozilla-public-license-link">Mozilla Public License</a>. Dette betyr at du kan bruke, kopiere og formidle { -brand-short-name } til andre. Du kan også forandre kildekoden til { -brand-short-name } for å passe til dine behov. Mozilla Public License gir deg også rett til å formidle forandrede versjoner.
rights-intro-point-2 = Du gis ikke noen varemerkerettigheter eller lisenser til varemerker som tilhører Mozilla Foundation eller andre, noe som også gjelder Firefox-navnet og logoen.  Mer informasjon om varemerker finner du <a data-l10n-name="mozilla-trademarks-link">her</a>.
rights-intro-point-3 = Noen funksjoner i { -brand-short-name }, som for eksempel krasjrapportereren, gir deg muligheten å gi tilbakemelding til { -vendor-short-name }. Ved å sende tilbakemelding gir du { -vendor-short-name } tillatelse til å bruke tilbakemeldingene for å forbedre produktene sine, publisere tilbakemeldingene på nettstedene sine, og å distribuere tilbakemeldingene.
rights-intro-point-4 = Hvordan vi bruker personlig informasjon og tilbakemeldinger som er sendt til { -vendor-short-name } gjennom { -brand-short-name } er beskrevet i <a data-l10n-name="mozilla-privacy-policy-link">{ -brand-short-name } personvernbestemmelser</a>.
rights-intro-point-4-unbranded = Eventuelle personvernbestemmelser for dette produktet bør listes her.
rights-intro-point-5 = Noen { -brand-short-name }-funksjoner bruker vevbaserte informasjonstjenester, men vi kan ikke garantere at de er 100 % nøyaktige eller feilfrie. Mer informasjon, også om hvordan tjenestene som bruker disse funksjonene kan slås av, kan du finne i <a data-l10n-name="mozilla-service-terms-link">tjenestebetingelsene</a>.
rights-intro-point-5-unbranded = Dersom dette produktet omfatter informasjonstjenester, så bør tjenestevilkår for tjenestene lenkes opp i  <a data-l10n-name="mozilla-website-services-link">Informasjonstjenester</a>-seksjonen.
rights-intro-point-6 = For å spille av forskjellige typer videoinnhold, laster { -brand-short-name } ned dekrypteringsmoduler fra tredjeparter.
rights-webservices-header = { -brand-full-name } webbaserte informasjonstjenester
rights-webservices = { -brand-full-name } bruker webbaserte informasjonstjenester ("Tjenester") for å tilgjengeliggjøre noen av funksjonene i den binære versjonen av { -brand-short-name }, under betingelsene som er beskrevet nedenfor. Dersom du ikke ønsker å bruke en eller flere av tjenestene, eller om du ikke kan akseptere betingelsene, kan du slå av funksjonen eller tjenesten(e). Instruksjoner om hvordan du slår av en bestemt funksjon eller tjeneste fins <a data-l10n-name="mozilla-disable-service-link">her</a>. Andre funksjoner og tjenester kan slås av i programinnstillingene.
rights-safebrowsing = <strong>Trygg nettlesing: </strong>Å slå av Trygg nettlesing-funksjonen er ikke anbefalt, ettersom det kan føre til at du besøker utrygge nettsteder.  Dersom du ønsker å skru av funksjonen helt, følg disse stegene:
rights-safebrowsing-term-1 = Åpne programinnstillingene
rights-safebrowsing-term-2 = Velg Sikkerhet-fanen
rights-safebrowsing-term-3 = Skru av valget for å "{ enableSafeBrowsing-label }"
enableSafeBrowsing-label = Blokker farlig og villendende innhold
rights-safebrowsing-term-4 = Trygg nettlesing er nå avslått
rights-locationawarebrowsing = <strong>Stedsbevisst nettlesing: </strong>er alltid en funksjon du må aktivt velge å slå på for at den brukes.  Ingen stedsinfo sendes uten at du gir tillatelse til det.  Dersom du ønsker å skru av denne funksjonen helt, følg disse stegene:
rights-locationawarebrowsing-term-1 = I adresselinjen, skriv inn <code>about:config</code>
rights-locationawarebrowsing-term-2 = Skriv inn geo.enabled
rights-locationawarebrowsing-term-3 = Dobbeltklikk på geo.enabled preference
rights-locationawarebrowsing-term-4 = Stedsbevisst nettlesing er nå avslått
rights-webservices-unbranded = En oversikt over informasjonstjenestene som dette produktet inneholder, samt informasjon om hvordan du kan slå av de, bør inkluderes her.
rights-webservices-term-unbranded = Andre tjenestevilkår for dette produktet bør listes opp her.
rights-webservices-term-1 = { -vendor-short-name } og dens bidragsytere, lisensgivere og partnere jobber for å tilby den mest nøyaktige og oppdaterte tjenesten.  Vi kan likevel ikke garantere at denne informasjonen er fullstendig og feilfri.  Det kan for eksempel hende at tjenesten for trygg nettlesing ikke indentifiserer noen risikable nettsteder, og noen trygge nettsteder kan feilaktig ha blitt klassifisert som risikable. All plasseringsinfo som returneres fra våre tjenestetilbydere er bare estimater, og verken vi eller tjenestetilbyderne garanterer for nøyaktigheten av plasseringsinformasjonen som gis.
rights-webservices-term-2 = { -vendor-short-name } kan avslutte eller forandre Tjenestene etter eget ønske.
rights-webservices-term-3 = Du er velkommen til å bruke disse Tjenestene med den medfølgende versjonen av { -brand-short-name }, og { -vendor-short-name } gir deg retten til å gjøre det.  { -vendor-short-name } og dens lisensgivere reserverer alle andre rettigheter til Tjenestene.  Disse betingelsene er ikke beregnet for å begrense rettighetene som er gitt under åpen kildekode-lisensene som gjelder for { -brand-short-name }, og den tilhørende kildekodeutgaven av { -brand-short-name }.
rights-webservices-term-4 = <strong>Tjenestene er tilbydt "som-de-er."  { -vendor-short-name }, bidragsyterne, lisensgiverne og distributørene gir ingen garantier, verken eksplisitt eller implisitt, inkludert uten begrensinger, garantier for at Tjenestene skal passe til dine formål.  Du har den fullstendige risikoen for å velge Tjenestene for å oppnå dine hensikter, samt for kvaliteten og ytelsen til Tjenstene. Noen jurisdiksjoner tillater ikke at implisitte garantier ekskluderes, så denne disclaimeren kan muligens ikke gjelde deg.</strong>
rights-webservices-term-5 = <strong>Med unntak av der det er påbudt ved lov, er { -vendor-short-name }, dens bidragsytere, lisensgivere og distributører er ikke ansvarlige for noen indirekte, spesiell, tilfeldig, følgelig, strafferettslig eller forbilledlige skader eller ulemper som skjer som en følge av eller relatert til bruk av { -brand-short-name } og Tjenestene.  Det kollektive ansvaret i disse betingelsene vil ikke overstige $500 (fem hundre amerikanske dollar). Noen jurisdiksjoner tillater ikke eksklusjon eller begrensing av enkelte former av skade, så det er mulig disse eksklusjonene og begrensingene ikke gjelder deg.</strong>
rights-webservices-term-6 = { -vendor-short-name } kan oppdatere disse betingelsene etter behov med jevne mellomrom. Betingelsene kan ikke endres eller annullert uten skriftlig avtale fra { -vendor-short-name }.
rights-webservices-term-7 = Disse betingelsene er underlagt loven til staten California, U.S.A., med unntak av der hvor lovpålegg krever unntak. Dersom noen av disse betingelsene viser seg å være ugyldige eller urettskraftige, vil de gjenværende delene fortsatt ha effekt. Dersom det er avvik mellom en oversatt versjon av disse betingelsene og den engelske utgaven, vil bestemmelsene i den engelske utgaven gjelde.
