# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### UI strings for the simplified onboarding modal / about:welcome
### Various strings use a non-breaking space to avoid a single dangling /
### widowed word, so test on various window sizes if you also want this.


## These button action text can be split onto multiple lines, so use explicit
## newlines in translations to control where the line break appears (e.g., to
## avoid breaking quoted text).

onboarding-button-label-try-now = Փորձեք հիմա
onboarding-button-label-get-started = Սկսել

## Welcome modal dialog strings

onboarding-welcome-header = Բարի գալուստ { -brand-short-name }
onboarding-start-browsing-button-label = ՍԿսել դիտարկումը
onboarding-cards-dismiss =
    .title = Բաց թողնել
    .aria-label = Բաց թողնել

## Firefox Sync modal dialog strings.


## This is part of the line "Enter your email to continue to Firefox Sync"


## These are individual benefit messages shown with an image, title and
## description.


## These strings belong to the individual onboarding messages.


## Each message has a title and a description of what the browser feature is.
## Each message also has an associated button for the user to try the feature.
## The string for the button is found above, in the UI strings section

onboarding-private-browsing-title = Գաղտնի դիտարկում
onboarding-private-browsing-text = Ինքներդ դիտարկեք: Գաղտնի դիտարկում՝ վեբում ձեզ հետևող առցանց հետագծիչների բովանդակության արգելափակմամբ:
onboarding-screenshots-title = Էկրանի կորզում
onboarding-screenshots-text = Ստացեք, պահպանեք և համօգտագործեք էկրանի հանույթները՝ առանց { -brand-short-name }-ը լքելու: Կորզեք էջի մի մասը կամ այն ամբողջութայմբ: Ապա պահպանեք վեբում՝ ավելի հեշտ մատչելու և համօգտագործելու համար:
onboarding-addons-title = Հավելումներ
onboarding-addons-text = Ավելացրեք ավելի շատ առանձնահատկություններ, որոնք ստիպում են { -brand-short-name }-ին ավելի շատ աշխատել ձեզ համար: Համեմատեք գները, ստուգեք եղանակը կամ արտահայտեք ձեր անձը մաքսային թեմաներով:
# Note: "Sync" in this case is a generic verb, as in "to synchronize"
onboarding-fxa-title = Սինք
onboarding-fxa-text = Գրանցեք { -fxaccount-brand-name } եւ համաժամեցրեք ձեր էջանիշները, գաղտնաբառերը եւ բաց ներդիրները ամենուրեք, որտեղ էլ որ օգտագործեք { -brand-short-name }-ը:

## Message strings belonging to the Return to AMO flow

return-to-amo-sub-header = Հիանալի է, դուք ստացել եք { -brand-short-name }-ը
# <icon></icon> will be replaced with the icon belonging to the extension
#
# Variables:
#   $addon-name (String) - Name of the add-on
return-to-amo-addon-header = Այժմ ստացեք ձեր <icon></icon><b>{ $addon-name }-ը:</b></b>
return-to-amo-extension-button = Ավելացնել ընդլայնում
return-to-amo-get-started-button = Սկսեք { -brand-short-name }-ից
