# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Olulised uudised
heading = Muudatused sinu { -brand-short-name }i profiilis
changed-title = Mis muutus?
changed-desc-profiles = See { -brand-short-name }i paigaldus kasutab uut profiili. Profiil on kogum faile, kuhu { -brand-short-name } salvestab järjehoidjad, paroolid ja kasutaja sätted.
changed-desc-dedicated = Firefoxi erinevate paigalduste (kaasa arvatud Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition ja Firefox Nightly) vahel lihtsama ja ohutuma lülitumise huvides on sellel paigaldusel nüüd eraldi profiil. See profiil ei jaga automaatselt sinu salvestatud infot teiste Firefoxi paigaldustega.
lost = <b>Sa ei ole kaotanud isiklikke andmeid või sätteid.</b> Kui sul oli juba Firefoxi andmeid salvestatud selles arvutis, siis on need endiselt kättesaadavad teise Firefoxi paigalduse kaudu.
options-title = Millised on sinu valikud?
options-do-nothing = Kui sa ei tee midagi, siis on sinu { -brand-short-name }i profiili andmed erinevad teiste Firefoxi paigalduste profiilide andmetest.
options-use-sync = Kui sa soovid, et kõik sinu Firefoxi paigaldused kasutaks samu profiili andmeid, siis võid kasutada { -fxaccount-brand-name }t, et hoida need paigaldused sünkroonis.
resources = Rohkem teavet:
support-link = Profiilihalduri kasutamine - kasutajatoe artikkel
sync-header = Logi sisse või loo { -fxaccount-brand-name }
sync-label = Sisesta oma e-posti aadress
sync-input =
    .placeholder = E-post
sync-button = Jätka
sync-terms = Jätkates nõustud <a data-l10n-name="terms">teenusetingimuste</a> ja <a data-l10n-name="privacy">privaatsuspoliitikaga</a>.
sync-first = Kas kasutad { -sync-brand-name }i esimest korda? Oma andmete sünkroniseerimiseks pead sisse logima kõigis oma paigaldatud Firefoxides.
sync-learn = Rohkem teavet
