# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Wó wašych pšawach
rights-intro = { -brand-full-name } jo dermotna softwara wótwórjonego žrědła, napórana wót zgromaźeństwa tysacych luźi z cełego swěta. Su někotare wěcy, kótarež wy by měł wěźeś:
rights-intro-point-1 = { -brand-short-name } staja se k dispoziciji pód wuměnjenjami <a data-l10n-name="mozilla-public-license-link">licence Mozilla Public License</a>. To co se groniś, až móžośo { -brand-short-name } wužywaś a kopěrowaś a jen na drugich rozdźěliś. Wóstanjo wam pśewóstajone, žrědłowy kode { -brand-short-name } pó wašom dobrozdaśu změniś, aby wón wašym pótrjebam wótpowědował. Licenca Mozilla Public License teke wam dajo pšawo, waše změnjone wersije rozdźěliś.
rights-intro-point-2 = Njegarantěruju wam žedne pšawa na wikowańskich znamjenjach abo licence na wikowańskich znamjenjach załožby Mozilla Foundation abo někakeje drugego boka, bźez wobgranicowanja na mě abo logo Firefox. Pśidatne informacije wó wikowańskich znamjenjach namakajośo <a data-l10n-name="mozilla-trademarks-link">how</a>.
rights-intro-point-3 = Někotare funkcije w { -brand-short-name }, na pś. pśizjawjanje wowalenjow, dawaju wam móžnosć, waše pósudki na { -vendor-short-name } pósłaś. Gaž wótpósćełaśo waše pósudki, dajośo { -vendor-short-name } dowólenje, pósudki wužywaś, jogo produkty pólěpšyś, pósudki na jogo websedłach wózjawiś a pósudki rozdźěliś.
rights-intro-point-4 = Kak wužywamy waše wósobinske informacije a pósudki, kótarež sćo na { -vendor-short-name } pśez { -brand-short-name } pósłał, wopisujo se w <a data-l10n-name="mozilla-privacy-policy-link">pšawidłach priwatnosći { -brand-short-name }</a>.
rights-intro-point-4-unbranded = Wšykne nałožujobne pšawidła priwatnosći za toś ten produkt by měli se how pódaś.
rights-intro-point-5 = Někotare funkcije w { -brand-short-name } wužywaju informaciske websłužby, ale njamóžomy garantěrowaś, až wóne su 100% w pórěźe abo bźez zmólkow. Dalšne drobnostki, inkluziwne informacije kak móžośo funkcije znjemóžniś, kótarež wužywaju toś te słužby, namakajośo we <a data-l10n-name="mozilla-service-terms-link">słužbnych wuměnjenjach</a>.
rights-intro-point-5-unbranded = Jolic toś ten produkt wopśimujo websłužby, nałožujobne wužywańske wuměnjenja za słužby měli byś zwězane z <a data-l10n-name="mozilla-website-services-link">wotrězkom</a> websedłowych słužbow.
rights-intro-point-6 = Aby wěste typy wideowopśimjeśa wótgrał, zesěgnijo { -brand-short-name } wěste module za dešifrěrowanje wopśimjeśa wót tśeśich póbitowarjow.
rights-webservices-header = Informaciske websłužby { -brand-full-name }
rights-webservices = { -brand-full-name } wužywa informaciske websłužby ("słužby"), aby někotare funkcije k dispoziciji stajił, kótarež su myslone za wužywanje z toś teju binarneju wersiju { -brand-short-name } pód dołojce wopisanymi wuměnjenjami. Jolic njocośo jadnu z toś tych słužbow abo někotare z nich wužywaś, abo slědujuce wuměnjenja su njeakceptěrujobne, móžośo funkciju słužbow znjemóžniś. Instrukcije, kak wěsta funkcija słužby dajo se znjemóžniś, namakajośo <a data-l10n-name="mozilla-disable-service-link">how</a>. Druge funkcije a słužby daju se w nastajenjach nałoženja znjemóžniś.
rights-safebrowsing = <strong>Wěste pśeglědowanje: </strong>Njepśiraźijo se funkciju wěstego pśeglědowanja znjemóžniś, dokulaž to móžo k tomu wjasć, až dostanjośo se do njewěstych sedłow. Jolic cośo toś tu funkciju dopołnje znjemóžniś, wuwjaźćo slědujuce kšace:
rights-safebrowsing-term-1 = Wócyńśo nastajenja nałoženja
rights-safebrowsing-term-2 = Wubjeŕśo rejtark Wěstota
rights-safebrowsing-term-3 = Nastajenje za "{ enableSafeBrowsing-label }" znjemóžniś
enableSafeBrowsing-label = Tšašne a wobšudnikojske wopśimjeśe blokěrowaś
rights-safebrowsing-term-4 = Wěste pśeglědowanje jo něnto znjemóžnjone
rights-locationawarebrowsing = <strong>Pśeglědowanje z lokalizaciju městna: </strong>jo pśeco z přizjawjenim. Žedne informacije wó městnje njerozesćeła se nigda bźez wašeje dowólnosći. Jolic cośo toś tu funkciju dopołnje znjemóžniś, wuwjaźćo slědujue kšace:
rights-locationawarebrowsing-term-1 = Zapišćo do adresowego póla <code>about:config</code>
rights-locationawarebrowsing-term-2 = Zapisćo geo.enabled
rights-locationawarebrowsing-term-3 = Klikniśo dwójcy na nastajenje geo.enabled
rights-locationawarebrowsing-term-4 = Pśeglědowanje z lokalizaciju stójnišća jo něnto znjemóžnjone
rights-webservices-unbranded = Pśeglěd websedłowych słužbow, kótarež produkt wopśimujo, gromaźe z instrukcijami, kak daju se znjemóžniś, jo-lic móžno, by měł se how zapśimjeś.
rights-webservices-term-unbranded = Nałožujobne słužbne wuměnjenja za toś ten produkt by měli se how pódaś.
rights-webservices-term-1 = { -vendor-short-name } a jogo sobustatkujuce, licencedawarje a partnarje źěłaju, aby nejdokradnjejše a nejaktualnjejše słužby k dispoziciji stajili. Ale njamóžomy garantěrowaś, až toś te informacije su dopołne a bźez zmólkow. Jo na pśikład móžno, až słužba wěstego pśeglědowanja njeidentificěrujo wšykne tšašne sědła a ma někotare wěste sedła za tšašne a pśeglědowanje z lokalizaciju městna a za słužbu pśeglědowanja z lokalizaciju městna by mógło płaśiś, až wšykne městna, kótarež naše póbitowarje słužby dodawaju, su jano pówoblicenja a daniž my daniž póbitowarje słužby njegarantěruju dokradnosć pódanych městnow.
rights-webservices-term-2 = { -vendor-short-name } móžo słužby pó swójom dobrozdaśu zastajiś abo změniś.
rights-webservices-term-3 = Sćo pśepšosone, toś te słužby z toś teju wersiju { -brand-short-name } wužywaś, a { -vendor-short-name } garantěrujo wam pšawa, aby wy to cynił. { -vendor-short-name } a jogo licencedawarje wuměnjaju sebje wšykne druge pšawa na toś tych słužbach. Toś te wuměnjenja njamaju pšawa wobgranicowaś, kótarež garantěruju se pód licencami zjawnego žrědła a daju se na { -brand-short-name } a na wótpowědne wersije žrědłowego koda { -brand-short-name } nałožowaś.
rights-webservices-term-4 = <strong>Słužby libruju se "kaž wóne su." { -vendor-short-name }, jogo sobuźěłaśerje, licencedawarje a rozdźělowarje wótpokazuju wšykne rukowanja, lěc wurazne lěc zapśimjete, inkluziwnje take, kótarež su bźez wobgranicowanja, rukowanja, až słužby su kupne a wótpowěduju wašyim wósebnym zaměram. Njasośo połne riziko, což nastupa wuběranje słužbow za waše zaměry a kwalitu a wugbaśe słužbow. Někotare suźenja njedowóluju wuzamknjenje abo wobgranicowanje zapśimjetych rukowanjow, tak toś ta wuzamknjeńska klawsula njedajo se na was nałožyś.</strong>
rights-webservices-term-5 = <strong>Samo gaby kazń to pominała, { -vendor-short-name }, jogo sobuźěłaśerje, licencedawarje a rozdźělowarje njerukuju za indirektne, specialne, pśipadne, naslědujuce, pokuśeńske abo eksemplariske škódy, kótrež wuchadaju z wašnje wužywanja { -brand-short-name } a słužbow. Kolektiwne rukowanje pód toś tymi wuměnjenjami njepśesegujo 500$ (pěś stow dolarow). Někotare suźenja njedowóluju wuzamknjenje abo wobgranicowanje wěstych škódow, tak toś tej wuzamknjenje a wobgranicowanje njedajotej se na was nałožyś.</strong>
rights-webservices-term-6 = { -vendor-short-name } móžo toś te wuměnjenja, jolic trěbne, pśi góźbje aktualizěrowaś. Toś te wuměnjenja njedaju se bźez pisnego zwólenja { -vendor-short-name } změniś abo anulěrowaś.
rights-webservices-term-7 = Toś te wuměnjenja pódlaže kaznjam stata Kalifornija, USA, mimo pšawniskich póstajenjow, kótarež su w konflikśe z nimi. Jolic maju se źěl toś tych wuměnjenjow za njepłaśiwy abo njepśesajźujobny, zbytne źěle wobchowaju swóju połnu statkowność a płaśiwosć. Jolic jo konflikt mjazy pśełožoneju wersiju a engelskeju wersiju, engelska wersija płaśi.
