# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Докладніше про <a data-l10n-name="learn-more">Приватний перегляд</a>.
about-private-browsing-info-visited = відвідані сторінки
privatebrowsingpage-open-private-window-label = Відкрити приватне вікно
    .accesskey = п
about-private-browsing-info-notsaved = Коли ви користуєтесь приватним вікном, { -brand-short-name } <strong>не зберігає</strong>:
about-private-browsing-search-placeholder = Пошук в Інтернеті
about-private-browsing-info-bookmarks = закладки
about-private-browsing-info-title = Ви у приватному вікні
about-private-browsing-info-searches = пошукові запити
about-private-browsing-info-downloads = завантаження
private-browsing-title = Приватний перегляд
about-private-browsing-info-saved = { -brand-short-name } <strong>зберігатиме</strong> ваші:
about-private-browsing-info-myths = Поширені міфи про приватний перегляд
about-private-browsing-info-clipboard = скопійований текст
about-private-browsing-info-temporary-files = тимчасові файли
about-private-browsing-info-cookies = куки
tracking-protection-start-tour = Подивитись, як це працює
about-private-browsing-note = Приватний перегляд <strong>не робить вас анонімним</strong> в Інтернеті. Ваш роботодавець чи провайдер Інтернету все одно може дізнатися про відвідані вами сторінки.
about-private-browsing =
    .title = Пошук в Інтернеті
about-private-browsing-not-private = Зараз ви не у приватному вікні.
content-blocking-title = Блокування вмісту
content-blocking-description = Деякі веб-сайти використовують елементи стеження, які можуть відстежувати вашу діяльність в Інтернеті. У приватних вікнах функція блокування вмісту { -brand-short-name } автоматично блокує багато таких елементів.
about-private-browsing-info-description = { -brand-short-name } очищає історію перегляду й пошуку при виході з програми або закритті всіх приватних вкладок та вікон. Це не робить вас анонімними для веб-сайтів чи вашого провайдера, але дозволяє приховати вашу діяльність в Інтернеті від будь-кого іншого, хто користується цим комп'ютером.
