# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Zjistit více o <a data-l10n-name="learn-more">anonymním prohlížení</a>.
about-private-browsing-info-visited = navštívené stránky
privatebrowsingpage-open-private-window-label = Otevřít anonymní okno
    .accesskey = a
about-private-browsing-info-notsaved = Při použití anonymního okna { -brand-short-name } <strong>neukládá</strong>:
about-private-browsing-search-placeholder = Vyhledat na webu
about-private-browsing-info-bookmarks = záložky
about-private-browsing-info-title = Jste v anonymním okně
about-private-browsing-info-searches = vyhledávání
about-private-browsing-info-downloads = stahování
private-browsing-title = Anonymní prohlížení
about-private-browsing-info-saved = { -brand-short-name } <strong>bude ukládat</strong> vaše:
about-private-browsing-info-myths = Časté omyly o fungování anonymního prohlížení
about-private-browsing-info-clipboard = zkopírovaný text
about-private-browsing-info-temporary-files = dočasné soubory
about-private-browsing-info-cookies = cookies
tracking-protection-start-tour = Jak to funguje
about-private-browsing-note = Ani s funkcí anonymního prohlížení <strong>ale nebudete na internetu zcela neviditelní.</strong> Váš zaměstnavatel nebo poskytovatel připojení k internetu mohou stále zjistit, které stránky navštěvujete.
about-private-browsing =
    .title = Vyhledat na webu
about-private-browsing-not-private = Aktuálně nepracujete s anonymním oknem.
content-blocking-title = Blokování obsahu
content-blocking-description = Některé webové stránky používají prvky, které vás mohou sledovat napříč internetem. V anonymním prohlížení { -brand-short-name } zablokuje mnohé sledovací prvky, které o vás sbírají informace.
about-private-browsing-info-description =
    { -brand-short-name } vymaže vaši historii vyhledávání a navštívených stránek po ukončení aplikace nebo zavření všech anonymních panelů a oken.
    
    S touto funkcí nejste na internetu zcela neviditelní a např. poskytovatel připojení k internetu může stále zjistit, které stránky navštěvujete. Vaše aktivita na internetu ale zůstane utajena před dalšími uživateli tohoto počítače.
