# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Acerca de herramientas de desarrollador
enable-title = Habilitar herramientas de desarrollador de Firefox
enable-inspect-element-title = Habilitar herramientas de desarrollador de Firefox para usar el inspector de elementos
enable-inspect-element-message = Examinar y editar HTML y CSS con el Inspector de las herramientas de desarrollador.
enable-about-debugging-message = Desarrollar y depurar WebExtensions, web workers, service workers y más con las Herramientas para desarrolladores de Firefox.
enable-key-shortcut-message = Activó un acceso directo a Herramientas de desarrollo. Si fue un error, puede cerrar esta pestaña.
enable-menu-message = Perfeccione HTML, CSS y JavaScript de su sitio web con herramientas como el Inspector y el Depurador.
enable-common-message = Las Herramientas para desarrolladores de Firefox están deshabilitadas en forma predeterminada para darle mayor control sobre su navegador.
enable-learn-more-link = Conocer más sobre las herramientas de desarrollador
enable-enable-button = Habilitar herramientas de desarrollador
enable-close-button = Cerrar esta pestaña
welcome-title = ¡Bienvenido a las herramientas de desarrollador de Firefox!
newsletter-title = Boletín de Desarrolladores de Mozilla
newsletter-message = Obtenga noticias, trucos y recursos de desarrollador directamente en su casilla de correo.
newsletter-email-placeholder =
    .placeholder = Correo electrónico
newsletter-privacy-label = Acepto que Mozilla maneje mis datos tal como explica en la <a data-l10n-name="privacy-policy">Política de privacidad</a>.
newsletter-subscribe-button = Suscribirse
newsletter-thanks-title = ¡Gracias!
newsletter-thanks-message = Si todavía no confirmó la suscripción a un boletín relacionado con Mozilla, puede que resulte necesario hacerlo. Por favor verifique si le llegó un correo electrónico nuestro a la Bandeja de entrada o si está en el filtro de Correo basura.
footer-title = Firefox Developer Edition
footer-message = ¿Busca algo más que herramientas para desarrolladores? Compruebe que el navegador Firefox es construido específicamente para los desarrolladores y los procesos de trabajo modernos.
footer-learn-more-link = Conocer más
features-learn-more = Conocer más
features-inspector-title = Inspector
features-inspector-desc = Inspeccionar y refinar código para construir diseños perfectos. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Consola
features-console-desc = Rastree problemas de CSS, JavaScript, seguridad y red. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Depurador
features-debugger-desc = Potente depurador de JavaScript con soporte para su infraestructura. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Red
features-network-desc = Vigile los pedidos de la red que pueden estar bloqueando o haciendo más lento su sitio. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Almacenamiento
features-storage-desc = Agregue, modifique o borre la caché, cookies, información de base de datos y de la sesión. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Modo de diseño adaptable
features-responsive-desc = Pruebe sus sitios en dispositivos emulados en su navegador. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edición visual
features-visual-editing-desc = Calibre las animaciones, el alineamiento y el relleno. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Rendimiento
features-performance-desc = Desbloquee los cuellos de botella, mejore los procesos y optimice las ventajas. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoria
features-memory-desc = Encuentre pérdidas de memoria y logre que tu aplicación sea rapidísima. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Falló la solicitud de suscripción no ({ $errorDescription }).
newsletter-error-unknown = Se produjo un error inesperado.
newsletter-error-timeout = Se agotó el tiempo de solicitud de suscripción.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = ¡Activó las herramientas para desarrolladores exitosamente! Para empezar, explore el menú de Desarrollador Web o abra las herramientas con { $shortcut }.
