# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = A-zivout { -brand-full-name }
releaseNotes-link = Petra nevez
update-checkForUpdatesButton =
    .label = Klask hizivadurioù…
    .accesskey = K
update-updateButton =
    .label = Adloc'hit evit hizivaat { -brand-shorter-name }
    .accesskey = A
update-checkingForUpdates = O klask hizivadennoù…
update-downloading = <img data-l10n-name="icon"/>O pellgargañ an hizivadenn — <label data-l10n-name="download-status"/>
update-applying = Oc'h arloañ an hizivadenn…
update-failed = C'hwitadenn war an hizivaat. <label data-l10n-name="failed-link">Pellgargañ an handelv diwezhañ</label>
update-failed-main = C'hwitadenn war an hizivaat. <a data-l10n-name="failed-link-main">Pellgargañ an handelv diwezhañ</a>
update-adminDisabled = Hizivadennoù diweredekaet gant hoc'h ardead reizhiad
update-noUpdatesFound = Hizivaet eo bet { -brand-short-name }
update-otherInstanceHandlingUpdates = Emañ { -brand-short-name } o vezañ hizivaet gant un eriol all
update-manual = Hizivadennoù hegerz e <label data-l10n-name="manual-link"/>
update-unsupported = Ne c'hellit ket arloañ hizivadennoù ouzhpenn war ho reizhiad. <label data-l10n-name="unsupported-link">Gouzout hiroc'h</label>
update-restarting = Oc'h adloc'hañ…
channel-description = Oc'h arverañ ar sanell hizivaat <label data-l10n-name="current-channel"></label> emaoc'h bremañ.
warningDesc-version = Arnodel eo { -brand-short-name } ha distabil e c'hellfe bezañ.
community-exp = <label data-l10n-name="community-exp-mozillaLink">{ -vendor-short-name }</label> zo ur <label data-l10n-name="community-exp-creditsLink">gumuniezh vedel</label> hag a labour a-gevret evit mirout ar Gwiad digor, foran ha haezadus d'an holl.
community-2 = Ergrafet eo { -brand-short-name } gant <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, ur <label data-l10n-name="community-creditsLink">gumuniezh vedel</label> hag a labour a-gevret evit mirout ar Gwiad digor, foran ha haezadus d'an holl.
helpus = Skoazellañ a fell deoc'h? <label data-l10n-name="helpus-donateLink">Roit gwenneien</label> pe <label data-l10n-name="helpus-getInvolvedLink">gemerit perzh enni !</label>
bottomLinks-license = Titouroù lañvaz
bottomLinks-rights = Gwirioù an arveriaded-dibenn
bottomLinks-privacy = Reolennoù buhez prevez
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits } -bit)
