# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = के बारे में और अधिक जानें<a data-l10n-name="learn-more">निजी ब्राउज़िंग</a>.
about-private-browsing-info-visited = ‌देखे गए पृष्ठ
privatebrowsingpage-open-private-window-label = निजी विंडो खोलें
    .accesskey = P
about-private-browsing-info-notsaved = जब आप निजी विंडो में ब्राउज करते हैं, { -brand-short-name } <strong>नहीं सहेजा है</strong>:
about-private-browsing-search-placeholder = वेब पर खोजें
about-private-browsing-info-bookmarks = बुकमार्क
about-private-browsing-info-title = आप एक निजी विंडो में हैं
about-private-browsing-info-searches = खोज
about-private-browsing-info-downloads = डाउनलोड्स
private-browsing-title = निजी ब्राउज़िंग
about-private-browsing-info-saved = { -brand-short-name } <strong>सहेज दिया जायेगा</strong>आपका:‌
about-private-browsing-info-myths = निजी ब्राउज़िंग के बारे में आम कथा
about-private-browsing-info-clipboard = कॉपी किया गया पाठ
about-private-browsing-info-temporary-files = अस्थायी फाइलें
about-private-browsing-info-cookies = कुकीज़
tracking-protection-start-tour = देखें यह कैसे काम करता है
about-private-browsing-note = निजी ब्राउज़िंग <strong>आपको अज्ञात नहीं बनाता है</strong>इंटरनेट पर. आपका नियोक्ता या इन्टरनेट सेवा प्रदाता आपके देखे गए पृष्ठ पर नज़र रख सकते हैं.
about-private-browsing =
    .title = वेब पर खोजें
about-private-browsing-not-private = आप फिलहाल एक निजी विंडो में नहीं हैं.
content-blocking-title = सामग्री अवरोधन
content-blocking-description = कुछ वेबसाइटें ट्रैकर का उपयोग करती हैं जो इंटरनेट पर आपकी गतिविधि की निगरानी कर सकती हैं। निजी विंडो में { -brand-short-name } सामग्री अवरोधन स्वचालित रूप से कई ट्रैकरों को अवरुद्ध करता है जो आपके ब्राउज़िंग व्यवहार के बारे में जानकारी एकत्र कर सकते हैं।
