# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = एक नया { -brand-shorter-name } अद्यतन उपलब्ध है.
    .buttonlabel = अद्यतन डाउनलोड करें
    .buttonaccesskey = D
    .secondarybuttonlabel = अभी नहीं
    .secondarybuttonaccesskey = N
appmenu-update-available-message = गति और गोपनीयता में नवीनता के लिए अपने { -brand-shorter-name } का अद्यतन करें.
appmenu-update-manual =
    .label = { -brand-shorter-name } का नवीनतम संस्करण में अद्यतन नहीं किया जा सकता है.
    .buttonlabel = { -brand-shorter-name } डाउनलोड करें
    .buttonaccesskey = D
    .secondarybuttonlabel = अभी नहीं
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = { -brand-shorter-name } की एक नई प्रति डाउनलोड करें और हम इसे संस्थापित करने में आपकी सहायता करेंगे.
appmenu-update-whats-new =
    .value = नया क्या है, देखें.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } नवीनतम संस्करण में अपडेट करने में असमर्थ है।
    .buttonlabel = अधिक जानें
    .buttonaccesskey = L
    .secondarybuttonlabel = बंद करें
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = आपके सिस्टम पर { -brand-shorter-name } का नया संस्करण समर्थित नहीं है।
appmenu-update-restart =
    .label = { -brand-shorter-name } का अद्यतन करने के लिए पुन: प्रारंभ करें
    .buttonlabel = पुनरारंभ करें और पुनर्स्थिति में लाएँ
    .buttonaccesskey = R
    .secondarybuttonlabel = अभी नहीं
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = शीघ्र पुनरारंभ करने के बाद { -brand-shorter-name } आपके उन सभी खुले टैब और विंडो को पुनर्स्थापित करेगा जो निजी ब्राउज़िंग मोड में नहीं हैं.
appmenu-addon-private-browsing-installed =
    .buttonlabel = ठीक है, समझ गए
    .buttonaccesskey = O
appmenu-addon-post-install-message = अपने ऐड-ऑन को प्रबंधित करें <image data-l10n-name='addon-install-icon'></image> मेनू में <image data-l10n-name='addon-menu-icon'></image> क्लिक कर.
appmenu-addon-post-install-incognito-checkbox =
    .label = इस एक्सटेंशन को निजी विंडोज में चलने दें
    .accesskey = A
appmenu-addon-private-browsing =
    .label = निजी विंडोज में एक्सटेंशन बदलें
    .buttonlabel = एक्स्टेंशन प्रबंधित करें
    .buttonaccesskey = M
    .secondarybuttonlabel = ठीक हैं, समझ गए
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = आप जो भी एक्स्टेंशन { -brand-shorter-name } में जोड़ते हैं वह तब तक निजी विंडो में काम नहीं करेगा जब तक आप उसे सेटिंग में जाकर अनुमति नहीं देते।
appmenu-addon-private-browsing-learn-more = एक्सटेंशन सेटिंग प्रबंधित करना सीखें
