# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = ข้อมูลการแก้ไขปัญหา
page-subtitle = หน้านี้มีข้อมูลทางเทคนิคที่อาจเป็นประโยชน์เมื่อคุณกำลังพยายามแก้ไขปัญหา หากคุณกำลังมองหาคำตอบสำหรับคำถามที่พบบ่อยเกี่ยวกับ { -brand-short-name } ตรวจสอบ <a data-l10n-name="support-link">เว็บไซต์สนับสนุน</a> ของเรา
crashes-title = รายงานข้อขัดข้อง
crashes-id = ID รายงาน
crashes-send-date = ส่งข้อมูลแล้ว
crashes-all-reports = รายงานข้อขัดข้องทั้งหมด
crashes-no-config = แอปพลิเคชันนี้ไม่ได้ถูกกำหนดค่าให้แสดงผลรายงานข้อข้อง
extensions-title = ส่วนขยาย
extensions-name = ชื่อ
extensions-enabled = เปิดใช้งานอยู่
extensions-version = รุ่น
extensions-id = ID
security-software-title = ซอฟต์แวร์ความปลอดภัย
security-software-type = ชนิด
security-software-name = ชื่อ
security-software-antivirus = ป้องกันไวรัส
security-software-antispyware = ป้องกันสปายแวร์
security-software-firewall = ไฟร์วอลล์
features-title = คุณลักษณะของ { -brand-short-name }
features-name = ชื่อ
features-version = รุ่น
features-id = ID
processes-title = โปรเซสระยะไกล
processes-type = ชนิด
processes-count = ครั้ง
app-basics-title = พื้นฐานแอปพลิเคชัน
app-basics-name = ชื่อ
app-basics-version = รุ่น
app-basics-build-id = Build ID
app-basics-update-channel = ช่องทางการอัปเดต
# This message refers to the folder used to store updates on the device,
# as in "Folder for updates". "Update" is a noun, not a verb.
app-basics-update-dir =
    { PLATFORM() ->
        [linux] อัปเดตไดเรกทอรี
       *[other] อัปเดตโฟลเดอร์
    }
app-basics-update-history = ประวัติการอัปเดต
app-basics-show-update-history = แสดงประวัติการอัปเดต
# Represents the path to the binary used to start the application.
app-basics-binary = ไบนารีแอปพลิเคชัน
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] ไดเรกทอรีโปรไฟล์
       *[other] โฟลเดอร์โปรไฟล์
    }
app-basics-enabled-plugins = ปลั๊กอินที่เปิดใช้งาน
app-basics-build-config = การกำหนดค่าการสร้าง
app-basics-user-agent = ตัวแทนผู้ใช้
app-basics-os = ระบบปฏิบัติการ
app-basics-memory-use = หน่วยความจำที่ใช้
app-basics-performance = ประสิทธิภาพ
app-basics-service-workers = ตัวทำงานบริการที่ลงทะเบียน
app-basics-profiles = โปรไฟล์
app-basics-multi-process-support = หน้าต่างแบบหลายโปรเซส
app-basics-remote-processes-count = โปรเซสระยะไกล
app-basics-enterprise-policies = นโยบายองค์กร
app-basics-safe-mode = โหมดปลอดภัย
show-dir-label =
    { PLATFORM() ->
        [macos] แสดงใน Finder
        [windows] เปิดโฟลเดอร์
       *[other] เปิดไดเรกทอรี
    }
modified-key-prefs-title = ค่ากำหนดสำคัญที่ถูกเปลี่ยนแปลง
modified-prefs-name = ชื่อ
modified-prefs-value = ค่า
user-js-title = ค่ากำหนด user.js
user-js-description = โฟลเดอร์โปรไฟล์ของคุณมี <a data-l10n-name="user-js-link">ไฟล์ user.js</a> ซึ่งมีค่ากำหนดที่ไม่ได้ถูกสร้างโดย { -brand-short-name }
locked-key-prefs-title = ค่ากำหนดสำคัญที่ถูกล็อค
locked-prefs-name = ชื่อ
locked-prefs-value = ค่า
graphics-title = กราฟิก
graphics-features-title = คุณลักษณะ
graphics-diagnostics-title = การวินิจฉัย
graphics-failure-log-title = รายการบันทึกความล้มเหลว
graphics-gpu1-title = GPU #1
graphics-gpu2-title = GPU #2
graphics-decision-log-title = รายการบันทึกการตัดสินใจ
graphics-crash-guards-title = คุณสมบัติที่ถูกปิดใช้งานโดย Crash Guard
graphics-workarounds-title = วิธีการแก้ไข
# Windowing system in use on Linux (e.g. X11, Wayland).
graphics-window-protocol = โปรโตคอลหน้าต่าง
place-database-title = ฐานข้อมูลสถานที่
place-database-integrity = ความสมบูรณ์
place-database-verify-integrity = ยืนยันความสมบูรณ์
js-title = JavaScript
js-incremental-gc = ตัวเก็บกวาดขยะแบบเพิ่มขึ้น
a11y-title = การช่วยการเข้าถึง
a11y-activated = เปิดใช้งานแล้ว
a11y-force-disabled = ป้องกันการช่วยการเข้าถึง
library-version-title = รุ่น Library
copy-text-to-clipboard-label = คัดลอกข้อความไปยังคลิปบอร์ด
copy-raw-data-to-clipboard-label = คัดลอกข้อมูลดิบไปยังคลิปบอร์ด
sandbox-title = กระบะทราย
sandbox-sys-call-log-title = ปฏิเสธการเรียกของระบบ
sandbox-sys-call-index = #
sandbox-sys-call-age = วินาทีที่แล้ว
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = ชนิดโปรเซส
sandbox-sys-call-number = การเรียกของระบบ
sandbox-sys-call-args = อาร์กิวเมนต์
safe-mode-title = ลองใช้โหมดปลอดภัย
restart-in-safe-mode-label = เริ่มการทำงานใหม่พร้อมปิดใช้งานส่วนเสริม…
media-title = สื่อ
media-input-devices-title = อุปกรณ์รับข้อมูล
media-device-name = ชื่อ
media-device-group = กลุ่ม
media-device-vendor = ผู้จำหน่าย
media-device-state = สถานะ
media-device-preferred = ที่ต้องการ
media-device-format = รูปแบบ
media-device-channels = ช่อง
media-device-rate = อัตรา
media-device-latency = เวลาแฝง
intl-title = การทำให้เป็นสากลและการแปลเป็นภาษาท้องถิ่น
intl-app-title = การตั้งค่าแอปพลิเคชัน
intl-locales-requested = ภาษาที่ขอ
intl-locales-available = ภาษาที่มี
intl-locales-supported = ภาษาของแอป
intl-locales-default = ภาษาเริ่มต้น
intl-os-title = ระบบปฏิบัติการ
intl-os-prefs-system-locales = ภาษาของระบบ
intl-regional-prefs = ค่ากำหนดภูมิภาค
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days = รายงานข้อขัดข้องของ { $days } วันที่ผ่านมา
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes = { $minutes } นาทีที่แล้ว
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours = { $hours } ชั่วโมงที่แล้ว
# Variables
# $days (integer) - Number of days since crash
crashes-time-days = { $days } วันที่แล้ว
# Variables
# $reports (integer) - Number of pending reports
pending-reports = รายงานข้อขัดข้องทั้งหมด (รวม { $reports } ข้อขัดข้องที่ยังไม่ได้รายงานในช่วงเวลาที่กำหนด)
raw-data-copied = คัดลอกข้อมูลดิบไปยังคลิปบอร์ดแล้ว
text-copied = คัดลอกข้อความไปยังคลิปบอร์ดแล้ว

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = ถูกปิดกั้นจากรุ่นไดรเวอร์กราฟิกของคุณ
blocked-gfx-card = ถูกปิดกั้นจากการ์ดกราฟิกของคุณเนื่องจากปัญหาไดรเวอร์ที่ยังไม่ได้รับการแก้ไข
blocked-os-version = ถูกปิดกั้นจากรุ่นระบบปฏิบัติการของคุณ
blocked-mismatched-version = ถูกปิดกั้นจากรุ่นไดรเวอร์กราฟิกของคุณไม่ตรงกันระหว่าง registry และ DLL
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = ถูกปิดกั้นจากรุ่นไดรเวอร์กราฟิกของคุณ ลองปรับปรุงไดรเวอร์กราฟิกของคุณเป็นรุ่น { $driverVersion } หรือใหม่กว่า
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = พารามิเตอร์ ClearType
compositing = การจัดองค์ประกอบ
hardware-h264 = การถอดรหัสฮาร์ดแวร์ H264
yes = ใช่
no = ไม่
unknown = ไม่ทราบ
virtual-monitor-disp = จอแสดงผลเสมือนจริง

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = พบ
missing = หายไป
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = คำอธิบาย
gpu-vendor-id = ID ผู้จำหน่าย
gpu-device-id = ID อุปกรณ์
gpu-subsys-id = Subsys ID
gpu-drivers = ไดรเวอร์
gpu-ram = RAM
gpu-driver-version = รุ่นไดรเวอร์
gpu-driver-date = วันที่ไดรเวอร์
gpu-active = ใช้งานอยู่
webgl1-renderer = ตัวเรนเดอร์ไดรเวอร์ WebGL 1
webgl1-version = รุ่นไดรเวอร์ WebGL 1
webgl1-driver-extensions = ส่วนขยายไดรเวอร์ WebGL 1
webgl1-extensions = ส่วนขยาย WebGL 1
webgl2-renderer = ตัวเรนเดอร์ไดรเวอร์ WebGL 2
webgl2-version = รุ่นไดรเวอร์ WebGL 2
webgl2-driver-extensions = ส่วนขยายไดรเวอร์ WebGL 2
webgl2-extensions = ส่วนขยาย WebGL 2
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = ข้อบกพร่อง { $bugNumber }
d3d11video-crash-guard = ตัวถอดรหัสวิดีโอ D3D11
d3d9video-crash-buard = ตัวถอดรหัสวิดีโอ D3D9
glcontext-crash-guard = OpenGL
reset-on-next-restart = กลับค่าเดิมเมื่อเริ่มการทำงานใหม่ในครั้งถัดไป
min-lib-versions = รุ่นต่ำสุดที่ใช้ได้
loaded-lib-versions = รุ่นที่ใช้อยู่
has-seccomp-bpf = Seccomp-BPF (System Call Filtering)
has-seccomp-tsync = Seccomp Thread Synchronization
can-sandbox-content = Content Process Sandboxing
can-sandbox-media = Media Plugin Sandboxing
sandbox-proc-type-content = เนื้อหา
sandbox-proc-type-file = เนื้อหาไฟล์
sandbox-proc-type-media-plugin = ปลั๊กอินสื่อ
sandbox-proc-type-data-decoder = ตัวถอดรหัสข้อมูล
launcher-process-status-0 = เปิดใช้งานอยู่
launcher-process-status-unknown = ไม่ทราบสถานะ
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = เปิดใช้งานอยู่โดยผู้ใช้
multi-process-status-1 = เปิดใช้งานอยู่โดยค่าเริ่มต้น
multi-process-status-2 = ปิดใช้งานอยู่
multi-process-status-4 = ถูกปิดใช้งานโดยเครื่องมือการช่วยการเข้าถึง
multi-process-status-6 = ถูกปิดใช้งานโดยการรับค่าข้อความที่ไม่รองรับ
multi-process-status-7 = ถูกปิดใช้งานโดยส่วนเสริม
multi-process-status-unknown = ไม่ทราบสถานะ
apz-none = ไม่มี

## Variables
## $preferenceKey (string) - String ID of preference


## Strings representing the status of the Enterprise Policies engine.

policies-inactive = ไม่มีการใช้งานอยู่
policies-active = ใช้งานอยู่
policies-error = ข้อผิดพลาด
