# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = קיים עדכון חדש של { -brand-shorter-name }.
    .buttonlabel = הורדת עדכון
    .buttonaccesskey = ה
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-available-message = נא לעדכן את { -brand-shorter-name } כדי ליהנות משיפורי מהירות ופרטיות.
appmenu-update-manual =
    .label = לא ניתן לעדכן את { -brand-shorter-name } לגרסה החדשה.
    .buttonlabel = הורדת { -brand-shorter-name }
    .buttonaccesskey = ה
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-manual-message = נא להוריד עותק חדש של { -brand-shorter-name } ואנו נסייע לך בהתקנה.
appmenu-update-whats-new =
    .value = מידע נוסף על החידושים בגרסה זו.
appmenu-update-unsupported =
    .label = לא ניתן לעדכן את { -brand-shorter-name } לגרסה העדכנית.
    .buttonlabel = מידע נוסף
    .buttonaccesskey = מ
    .secondarybuttonlabel = סגירה
    .secondarybuttonaccesskey = ס
appmenu-update-unsupported-message = הגרסה העדכנית של { -brand-shorter-name } אינה נתמכת במערכת שלך.
appmenu-update-restart =
    .label = יש להפעיל מחדש כדי לעדכן את { -brand-shorter-name }.
    .buttonlabel = הפעלה מחדש ושחזור
    .buttonaccesskey = פ
    .secondarybuttonlabel = לא כעת
    .secondarybuttonaccesskey = ל
appmenu-update-restart-message = לאחר הפעלה מחדש, { -brand-shorter-name } ישחזר את כל הלשוניות והחלונות הפתוחים שאינם במצב גלישה פרטית.
appmenu-addon-private-browsing-installed =
    .buttonlabel = בסדר, הבנתי
    .buttonaccesskey = ב
appmenu-addon-post-install-message = ניתן לנהל את התוספות שלך על־ידי לחיצה על <image data-l10n-name='addon-install-icon'></image> שבתפריט <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = לאפשר להרחבה זו לפעול בחלונות פרטיים
    .accesskey = ל
appmenu-addon-private-browsing =
    .label = שינוי להרחבות בחלונות פרטיים
    .buttonlabel = ניהול הרחבות
    .buttonaccesskey = נ
    .secondarybuttonlabel = בסדר, הבנתי
    .secondarybuttonaccesskey = ב
appmenu-addon-private-browsing-message = כל הרחבה חדשה שתתווסף אל { -brand-shorter-name } לא תעבוד בחלונות פרטיים אלא אם תאופשר לכך בהגדרות.
appmenu-addon-private-browsing-learn-more = מידע נוסף על ניהול הגדרות הרחבות
