# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Tha ùrachadh { -brand-shorter-name } ri fhaighinn.
    .buttonlabel = Luchdaich a-nuas an t-ùrachadh
    .buttonaccesskey = d
    .secondarybuttonlabel = Chan ann an-dràsta
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Ùraich am { -brand-shorter-name } agad airson na comasan astair is prìobhaideachd às ùire.
appmenu-update-manual =
    .label = Chan urrainn dha { -brand-shorter-name } ùrachadh.
    .buttonlabel = Luchdaich a-nuas { -brand-shorter-name }
    .buttonaccesskey = D
    .secondarybuttonlabel = Chan ann an-dràsta
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Luchdaich a-nuas lethbhreac ùr de { -brand-shorter-name } agus cuidichidh sinn thu ’ga stàladh.
appmenu-update-whats-new =
    .value = Faic na tha ùr.
appmenu-update-unsupported =
    .label = Chan urrainn dha { -brand-shorter-name } àrdachadh gun tionndadh as ùire.
    .buttonlabel = Barrachd fiosrachaidh
    .buttonaccesskey = B
    .secondarybuttonlabel = Dùin
    .secondarybuttonaccesskey = D
appmenu-update-unsupported-message = Chan eil an siostam agad a’ cur taic ris an tionndadh as ùire de { -brand-shorter-name }.
appmenu-update-restart =
    .label = Dèan ath-thòiseachadh airson { -brand-shorter-name } ùrachadh.
    .buttonlabel = Ath-thòisich is aisig
    .buttonaccesskey = A
    .secondarybuttonlabel = Chan ann an-dràsta
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Nì { -brand-shorter-name } ath-thòiseachadh is tillidh e gach taba is uinneag a bha fosgailte agad agus nach robh sa mhodh phrìobhaideach.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ceart, tha mi agaibh
    .buttonaccesskey = C
appmenu-addon-post-install-message = Gus na tuilleadain agad a stiùireadh, briog air <image data-l10n-name='addon-install-icon'></image> sa chlàr-taice <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Leig leis an leudachan seo ruith ann an uinneagan prìobhaideach
    .accesskey = a
appmenu-addon-private-browsing =
    .label = Atharraich gu leudachain ann an uinneagan prìobhaideach
    .buttonlabel = Stiùirich na leudachain
    .buttonaccesskey = S
    .secondarybuttonlabel = Ceart, tha mi agaibh
    .secondarybuttonaccesskey = C
appmenu-addon-private-browsing-message = Chan obraich leudachan ùr sam bith a chuireas tu ri { -brand-shorter-name } ann an uinneagan prìobhaideach mur an ceadaich thu seo sna roghainnean.
appmenu-addon-private-browsing-learn-more = Fiosraich mar a stiùiricheas tu roghainnean nan leudachan
