# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

cfr-doorhanger-extension-heading = Estenscioin consegiæ
cfr-doorhanger-pintab-heading = Prova quésto: aponta sto feuggio
cfr-doorhanger-extension-sumo-link =
    .tooltiptext = Perché mi veddo questo?
cfr-doorhanger-extension-cancel-button = Òua no
    .accesskey = O
cfr-doorhanger-extension-ok-button = Azonzi òua
    .accesskey = A
cfr-doorhanger-pintab-ok-button = Aponta sto feuggio
    .accesskey = A
cfr-doorhanger-extension-manage-settings-button = Gestisci inpostaçioin consegiæ
    .accesskey = G
cfr-doorhanger-extension-never-show-recommendation = No mostrame sti conseggi
    .accesskey = N
cfr-doorhanger-extension-learn-more-link = Atre informaçioin
# This string is used on a new line below the add-on name
# Variables:
#   $name (String) - Add-on author name
cfr-doorhanger-extension-author = da { $name }
# This is a notification displayed in the address bar.
# When clicked it opens a panel with a message for the user.
cfr-doorhanger-extension-notification = Conseggi

## Add-on statistics
## These strings are used to display the total number of
## users and rating for an add-on. They are shown next to each other.

# Variables:
#   $total (Number) - The rating of the add-on from 1 to 5
cfr-doorhanger-extension-rating =
    .tooltiptext =
        { $total ->
            [one] { $total } stelinn-a
           *[other] { $total } stelinn-e
        }
# Variables:
#   $total (Number) - The total number of users using the add-on
cfr-doorhanger-extension-total-users =
    { $total ->
        [one] { $total } utente
       *[other] { $total } utenti
    }
cfr-doorhanger-pintab-description = Acedi façilmente a-i sciti ciù uzæ.  Tegni i sciti averti inte 'n feuggio (anche dòppo 'n re-inandio).

## These messages are steps on how to use the feature and are shown together.

cfr-doorhanger-pintab-step1 = <b>Sciacca drito</b> in sciô feuggio quade t'eu amugiâ.
cfr-doorhanger-pintab-step2 = Seleçionn-a <b>Aponta sto feuggio</b> da-o menû.
cfr-doorhanger-pintab-step3 = Se o scito o l'à 'n agiornamento ti vediæ 'n balin bleu in sciô feuggio apontou.
cfr-doorhanger-pintab-animation-pause = Pösa
cfr-doorhanger-pintab-animation-resume = Repiggia

## Firefox Accounts Message

cfr-doorhanger-bookmark-fxa-header = Sincronizza i teu segnalibbri dapertùtto.
cfr-doorhanger-bookmark-fxa-link-text = Sincronizza i segnalibbri òua…
