# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

safeb-blocked-phishing-page-title = Villeiande nettstad
safeb-blocked-malware-page-title = Å besøkje denne nettstaden kan skade datamaskina di
safeb-blocked-unwanted-page-title = Nettstaden forut kan innehalde skadeleg programvare
safeb-blocked-harmful-page-title = Nettstaden forut kan innehalde skadeleg programvare
safeb-blocked-phishing-page-short-desc = { -brand-short-name } blokkert denne sida fordi det kan få deg til å gjere noko farleg som å installere programvare eller avsløre personleg informasjon som passord eller kredittkort.
safeb-blocked-malware-page-short-desc = { -brand-short-name } blokkert denne sida fordi ho kan prøve å installere skadeleg programvare som kan stele eller slette personleg informasjon på datamaskina din.
safeb-blocked-unwanted-page-short-desc = { -brand-short-name } blokkerte denne nettsida fordi ho kan prøve å lure deg til å installere program som skadar nettlesaroppleinga di (til dømes ved å endre startsida di eller ved å vise ekstra annonsar på nettstadar du besøkjer).
safeb-blocked-harmful-page-short-desc = { -brand-short-name } blokkerte denne sida fordi ho kan prøve å installere farlege appar som stel eller slettar informasjonen din (til dømes bilde, passord, meldingar og kredittkort).
safeb-palm-advisory-desc = Rådgjeving levert av <a data-l10n-name='advisory_provider'>{ $advisoryname }</a>.
safeb-palm-accept-label = Gå tilbake
safeb-palm-see-details-label = Sjå detaljar
safeb-blocked-phishing-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert som ein villeiande nettstad</a>. Du kan <a data-l10n-name='report_detection'>rapportere eit deteksjonsproblem</a> eller <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til denne usikre nettstaden.
safeb-blocked-phishing-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert som ein villeiande nettstad</a>. You can <a data-l10n-name='report_detection'>rapportere eit deteksjonsproblem</a>.
safeb-blocked-phishing-page-learn-more = Les meir om villeiande nettstadar og nettfisking på <a data-l10n-name='learn_more_link'>www.antiphishing.org</a>. Les meir om { -brand-short-name } sitt vern mot nettfisking og skadeleg programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-malware-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å innehalde skadelig programvare</a>. Du kan <a data-l10n-name='report_detection'>rapportere eit deteksjonsproblem</a> eller <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til denne usikre nettstaden.
safeb-blocked-malware-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å innehalde skadeleg programvare</a>. Du kan <a data-l10n-name='report_detection'>rapportere eit deteksjonsproblem</a>.
safeb-blocked-malware-page-learn-more = Les meir om skadeleg nettinnhald, inkludert virus og anna skadeleg programvare, og korleis du beskyttar datamaskina di på <a data-l10n-name='learn_more_link'>StopBadware.org</a>. Les meir om { -brand-short-name } sitt vern mot nettfisking og skadeleg programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-unwanted-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å innehalde skadeleg programvare</a>. Du kan <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til denne usikre nettstaden.
safeb-blocked-unwanted-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å innehalde skadeleg programvare</a>.
safeb-blocked-unwanted-page-learn-more = Les meir om skadeleg og uønskt programvare på <a data-l10n-name='learn_more_link'>Uønskt programvarepraksis</a>. Les meir om { -brand-short-name } sitt vern mot nettfisking og skadeleg programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-blocked-harmful-page-error-desc-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å innehalde potensielt skadeleg programvare</a>. Du kan <a data-l10n-name='ignore_warning_link'>ignorere risikoen</a> og gå til denne usikre nettstaden.
safeb-blocked-harmful-page-error-desc-no-override = <span data-l10n-name='sitename'>{ $sitename }</span> er <a data-l10n-name='error_desc_link'>rapportert å innehalde potensielt skadeleg programvare</a>.
safeb-blocked-harmful-page-learn-more = Les meir om { -brand-short-name } sitt vern mot nettfisking og skadeleg programvare på <a data-l10n-name='firefox_support'>support.mozilla.org</a>.
safeb-palm-notdeceptive =
    .label = Dette er ikkje ein villeiande nettstad…
    .accesskey = d
