# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = அதுபற்றி மேலும் அறிக <a data-l10n-name="learn-more">அந்தரங்க உலாவல்</a>.
about-private-browsing-info-visited = பார்த்த பக்கங்கள்
privatebrowsingpage-open-private-window-label = அந்தரங்க சாளரத்தைத் திற
    .accesskey = P
about-private-browsing-info-notsaved = நீங்கள் தனிப்பட்ட சாளரத்தில் உலாவும்போது, { -brand-short-name } <strong>சேமிக்காது</strong>:
about-private-browsing-search-placeholder = இணையத்தில் தேடு
about-private-browsing-info-bookmarks = புத்தகக்குறிகள்
about-private-browsing-info-title = நீங்கள் ஒரு அந்தரங்க சாளரத்தில் இருக்கிறீர்கள்
about-private-browsing-info-searches = தேடல்கள்
about-private-browsing-info-downloads = பதிவிறக்கங்கள்
private-browsing-title = அந்தரங்க உலாவல்
about-private-browsing-info-saved = { -brand-short-name } <strong>சேமிக்கிறது</strong> உங்கள்:
about-private-browsing-info-myths = தனிப்பட்ட உலாவலைப் பற்றிய பொதுவான தொன்மங்கள்
about-private-browsing-info-clipboard = பிரதியெடுத்த உரை
about-private-browsing-info-temporary-files = தற்காலிக கோப்புகள்
about-private-browsing-info-cookies = நினைவிகள்
tracking-protection-start-tour = இது எப்படி செயல்படுகிறது என்று பார்க்கலாம்
about-private-browsing-note = அந்தரங்க உலாவல் <strong>உங்களைப் பெயரற்றவராக ஆக்காது</strong> இணையத்தில் உங்கள் முதலாளியோ இணைய சேவை வழங்குநரோ நீங்கள் பயன்படுத்திய பக்கங்களைக் கண்டறியலாம்.
about-private-browsing =
    .title = இணையத்தில் தேடு
about-private-browsing-not-private = நீங்கள் தற்போது அந்தரங்க சாளரத்தில் இல்லை.
content-blocking-title = உள்ளடக்க தடுப்பு
about-private-browsing-info-description = நீங்கள் பயன்பாட்டை விட்டு வெளியேறும்போது அல்லது அனைத்து அந்தரங்க உலாவல் தாவல்கள் மற்றும் சாளரங்களையும் மூடும்போது உங்கள் தேடல் மற்றும் உலாவல் வரலாற்றைத் { -brand-short-name } துடைக்கிறது. இது வலைத்தளங்களுக்கோ அல்லது இணைய சேவை வழங்குனர்களுக்கோ தெரியாதபோது, இந்தக் கணினியைப் பயன்படுத்தும் மற்றவர்களிடமிருந்தும் இயங்கலை அந்தரங்கத்தை நீங்கள் வைத்திருப்பதையும் எளிதாக்குகிறது.
