# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = புதுப்பிக்க புதிய { -brand-shorter-name } உள்ளது.
    .buttonlabel = புதியதை பதிவிறக்கு
    .buttonaccesskey = D
    .secondarybuttonlabel = இப்போது வேண்டாம்
    .secondarybuttonaccesskey = N
appmenu-update-available-message = இன்றைய வேகமும் தனியுரிமையும் கிடைத்திட { -brand-shorter-name } உலாவியைப் புதுப்பி.
appmenu-update-manual =
    .label = புதிய பதிப்பிற்கு { -brand-shorter-name } உலாவியை மேம்படுத்த முடியவில்லை.
    .buttonlabel = { -brand-shorter-name } பதிவிறக்குக
    .buttonaccesskey = D
    .secondarybuttonlabel = இப்போது வேண்டாம்
    .secondarybuttonaccesskey = N
appmenu-update-manual-message = புத்தம் புதிய { -brand-shorter-name } உலாவியை பதிவிக்குங்கள் நிறுவ நாங்கள் உதவுகிறோம்.
appmenu-update-whats-new =
    .value = புதிய வரவுகளைப் பார்.
appmenu-update-unsupported =
    .label = { -brand-shorter-name } புதிய பதிப்பை இற்றைப்படுத்த இயலவில்லை.
    .buttonlabel = மேலும் அறிய
    .buttonaccesskey = L
    .secondarybuttonlabel = மூடு
    .secondarybuttonaccesskey = C
appmenu-update-unsupported-message = உங்கள் கணினியில் சமீபத்திய { -brand-shorter-name } பதிப்பு ஆதரிக்கப்படவில்லை.
appmenu-update-restart =
    .label = { -brand-shorter-name } உலாவியை புதுப்பிக்க மீள்துவக்கு
    .buttonlabel = மீள்துவக்கி மீட்டமை
    .buttonaccesskey = R
    .secondarybuttonlabel = இப்போது வேண்டாம்
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = விரைவு மீட்துவக்கத்திற்கு பிறகு, { -brand-shorter-name } தனிப்பட்ட உலாவலில் இல்லாத உங்கள் எல்லா திறந்த கீற்றுகள் சாளரங்களையும் மீட்டமைக்கும்.
appmenu-addon-private-browsing-installed =
    .buttonlabel = சரி, கிடைத்துவிட்டது!
    .buttonaccesskey = o
appmenu-addon-post-install-message = <image data-l10n-name='addon-menu-icon'></image> மெனுவில் <image data-l10n-name='addon-install-icon'></image> என்பதைச் சொடுக்குவதின் மூலம் உங்கள் மேற்சேர்க்கைகளை நிர்வகியுங்கள்.
appmenu-addon-post-install-incognito-checkbox =
    .label = இந்த நீட்டிப்பை அந்தரங்க சாளரத்தில் இயக்க அனுமதிக்கவும்
    .accesskey = A
appmenu-addon-private-browsing =
    .label = அந்தரங்க சாளரத்தில் நீட்சிக்கு மாறு
    .buttonlabel = நீட்சிகளை நிர்வகி
    .buttonaccesskey = M
    .secondarybuttonlabel = சரி கிடைத்துவிட்டது
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = அந்தரங்க சாளரத்தின் அமைவுகளில் அனுமதிக்காவிடில் { -brand-shorter-name } என்பதில் சேர்க்கப்படும் புதிய நீட்சிகள் வெலைச் செய்யாது.
appmenu-addon-private-browsing-learn-more = நீட்சி அமைவுகளை எவ்வாறு நிர்வகிப்பது என்பதை அறிக
