# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Garatzaile-tresnei buruz
enable-title = Gaitu Firefoxen garapen-tresnak
enable-inspect-element-title = Elementuak ikuskatzekoa erabili ahal izateko, gaitu Firefoxen garatzaile-tresnak
enable-inspect-element-message = Aztertu eta editatu HTML eta CSS kodea garatzaile-tresnen ikuskatzailearekin.
enable-about-debugging-message = Garatu eta araztu WebExtensions gehigarriak, web langileak, zerbitzu-langileak eta gehiago Firefoxen garatzaile-tresnak erabilita.
enable-key-shortcut-message = Garatzaile-tresnen lasterbidea aktibatu duzu. Nahi gabe izan bada, fitxa hau itxi dezakezu.
enable-menu-message = Hobetu zure webgunearen HTML, CSS eta JavaScript kodea ikuskatzailearen eta araztailearen laguntzaz.
enable-common-message = Zure nabigatzailearen gaineko kontrol gehiago emateko, Firefoxen garatzaile-tresnak desgaituta daude lehenespenez.
enable-learn-more-link = Garatzaile-tresnei buruzko argibide gehiago
enable-enable-button = Gaitu garatzaile-tresnak
enable-close-button = Itxi fitxa hau
welcome-title = Ongi etorri Firefoxen garapen-tresnetara!
newsletter-title = Mozillako garatzaileen buletina
newsletter-message = Jaso garatzaileen berriak, trikimailuak eta baliabideak zuzenean zure sarrera-ontzian.
newsletter-email-placeholder =
    .placeholder = Helbide elektronikoa
newsletter-privacy-label = Ados nago Mozillak nire informazioa erabiltzea <a data-l10n-name="privacy-policy">pribatutasun-politika</a>n adierazten den moduan.
newsletter-subscribe-button = Harpidetu
newsletter-thanks-title = Eskerrik asko!
newsletter-thanks-message = Ez baduzu inoiz berretsi Mozillarekin lotutako buletin baterako harpidetzarik, orain egin beharko duzu. Begiratu zure sarrera-ontzian edo zabor-postan gure mezua aurkitzeko.
footer-title = Firefox Developer Edition
footer-message = Garatzaile-tresnak baino zerbait gehiagoren bila? Begiratu preseski garatzaile eta lan-fluxu modernoentzat eraikitako Firefox nabigatzailea.
footer-learn-more-link = Argibide gehiago
features-learn-more = Argibide gehiago
features-inspector-title = Ikuskatzailea
features-inspector-desc = Ikuskatu eta birfindu kodea diseinu pixel-perfektuak sortzeko. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Kontsola
features-console-desc = Egin CSS, JavaScript, segurtasun- eta sare-arazoen jarraipena. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Araztailea
features-debugger-desc = Zure framework-aren euskarria duen JavaScript araztaile ahaltsua. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Sarea
features-network-desc = Monitorizatu zure gunea mantsotu edo blokea dezaketen sareko eskaerak. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Biltegiratzea
features-storage-desc = Gehitu, aldatu eta kendu cachea, cookieak, datu-baseak eta saioko datuak. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Diseinu moldagarriko modua
features-responsive-desc = Probatu guneak emulatutako gailuetan zure nabigatzailetik. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Edizio bisuala
features-visual-editing-desc = Doitu animazioak, lerrokatzea eta betegarriak. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Errendimendua
features-performance-desc = Desblokeatu buxadurak, sinplifikatu prozesuak, optimizatu baliabideak. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Memoria
features-memory-desc = Bilatu memoria-galerak eta bizkortu zure aplikazioa. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Harpidetzaren eskaerak huts egin du ({ $errorDescription }).
newsletter-error-unknown = Ustekabeko errore bat gertatu da.
newsletter-error-timeout = Harpidetzaren eskaera denboraz kanpo gelditu da.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Garatzaile-tresnak ondo gaitu dituzu! Hasteko, arakatu 'Web garapena' menua edo ireki tresnak { $shortcut } lasterbidea erabiliz.
