# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Notícia important
heading = Canvis en el vostre perfil del { -brand-short-name }
changed-title = Què ha canviat?
changed-desc-profiles = Aquesta instal·lació del { -brand-short-name } té un perfil nou. Un perfil és el conjunt de fitxers on el Firefox desa la informació, com ara les adreces d'interès, les contrasenyes i les preferències de l'usuari.
changed-desc-dedicated = Per tal de poder canviar amb més facilitat i seguretat entre les instal·lacions del Firefox (inclosos Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition i Firefox Nightly), aquesta instal·lació ara té un perfil dedicat. No comparteix automàticament la vostra informació desada amb les altres instal·lacions del Firefox.
lost = <b>No heu perdut les dades personals ni les personalitzacions.</b> Si ja heu desat informació al Firefox en aquest ordinador, encara està disponible en una altra instal·lació del Firefox.
options-title = Quines opcions tinc?
options-do-nothing = Si no feu res, les dades del vostre perfil del { -brand-short-name } seran diferents de les dades del perfil de les altres instal·lacions del Firefox.
options-use-sync = Si voleu que totes les vostres dades del perfil siguin iguals en totes les instal·lacions del Firefox, podeu utilitzar un { -fxaccount-brand-name } per mantenir-les sincronitzades.
resources = Recursos:
support-link = Ús del gestor de perfils - Article d'ajuda
sync-header = Inicieu la sessió o creeu un { -fxaccount-brand-name }
sync-label = Introduïu la vostra adreça electrònica
sync-input =
    .placeholder = Adreça electrònica
sync-button = Continua
sync-terms = En continuar, accepteu les <a data-l10n-name="terms">condicions d'ús del servei</a> i l'<a data-l10n-name="privacy">avís de privadesa</a>.
sync-first = És la primera vegada que utilitzeu el { -sync-brand-name }? Haureu d'iniciar la sessió en totes les instal·lacions del Firefox per sincronitzar la vostra informació.
sync-learn = Més informació
