# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Пра прылады распрацоўшчыка
enable-title = Уключыць прылады распрацоўшчыка Firefox
enable-inspect-element-title = Уключыць інструменты распрацоўшчыка для выкарыстання інспектара элементаў
enable-inspect-element-message = Даследуйце і рэдагуйце HTML і CSS з дапамогаю інструмента Інспектар.
enable-about-debugging-message = Распрацоўка і адладка WebExtensions, web workers, service workers і шмат іншага ў інструментах распрацоўшчыка Firefox.
enable-key-shortcut-message = Вы актывавалі хуткі доступ да інструментаў распрацоўшчыка. Калі гэта незнарок, можаце проста закрыць гэту картку.
enable-menu-message = Удасканальвайце HTML, CSS і JavaScript свайго вэб-сайта такімі інструментамі, як Інспектар і Адладчык.
enable-common-message = Інструменты распрацоўшчыка Firefox пачаткова выключаны, каб даць вам больш магчымасці кіравання вашым браўзерам.
enable-learn-more-link = Падрабязней пра прылады распрацоўшчыка
enable-enable-button = Уключыць прылады распрацоўшчыка
enable-close-button = Закрыць гэту картку
welcome-title = Сардэчна запрашаем у прылады распрацоўшчыка Firefox!
newsletter-title = Рассылка навін Mozilla Developer
newsletter-message = Атрымлівайце навіны ад распрацоўшчыкаў, парады і рэсурсы наўпрост у сваю паштовую скрыню.
newsletter-email-placeholder =
    .placeholder = Эл.пошта
newsletter-privacy-label = Я згодзен з тым, як Mozilla апрацоўвае мае звесткі ў адпаведнасці з <a data-l10n-name="privacy-policy">Палітыкай прыватнасці</a>.
newsletter-subscribe-button = Падпісацца
newsletter-thanks-title = Дзякуй!
newsletter-thanks-message = Калі вы раней не пацвярджалі падпіску на навіны ад Mozilla, вам можа спатрэбіцца зрабіць гэта. Калі ласка, паглядзіце ліст ад нас у сваёй пошце, у ўваходных або ў спаме.
footer-title = Firefox Developer Edition
footer-message = Шукаеце нешта большае, чым проста інструменты распрацоўшчыка? Паспрабуйце браўзер Firefox, створаны адмыслова для распрацоўшчыкаў і сучасных працэсаў распрацоўкі.
footer-learn-more-link = Падрабязней
features-learn-more = Падрабязней
features-inspector-title = Інспектар
features-inspector-desc = Даследуйце і ўдасканальвайце код, каб ствараць ідэальныя праекты. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Кансоль
features-console-desc = Асочвайце CSS, JavaScript, а таксама праблемы сеткі і бяспекі. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Адладчык
features-debugger-desc = Магутны адладчык JavaScript з падтрымкай вашага упадабанага фрэймворка. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Сетка
features-network-desc = Кантралюйце сеткавыя запыты, якія могуць запаволіць або блакаваць ваш сайт. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Сховішча
features-storage-desc = Дадавайце, змяняйце і ачышчайце кэш, кукі, звесткі баз даных і сеансаў. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Рэжым адаптыўнага дызайну
features-responsive-desc = Тэстуйце сайты на эмуляваных прыладах у вашым браўзеры. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Візуальнае рэдагаванне
features-visual-editing-desc = Дакладна наладжвайце анімацыю, раўнаванне і водступы. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Прадукцыйнасць
features-performance-desc = Разблакуйце вузкія месцы, спрашчайце працэсы, аптымізуйце прадукцыйнасць. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Памяць
features-memory-desc = Знаходзьце ўцечкі памяці і змяншайце яе спажыванне вашым дадаткам. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Збой запыту падпіскі ({ $errorDescription }).
newsletter-error-unknown = Адбылася нечаканая памылка.
newsletter-error-timeout = Час чакання падпіскі выйшаў.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Вы паспяхова ўключылі Інструменты распрацоўшчыка! Для пачатку, паглядзіце ў меню Распрацоўшчык Сеціва або адкрыйце прылады праз { $shortcut }.
