# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Kuaave
accessibility-text-label-header = Moñe’ẽrã ha téra reramoĩ

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Jesarekorã
accessibility-fail =
    .alt = Javy
accessibility-best-practices =
    .alt = Jejapo porãve

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Eipuru pe tekome’ẽ <code>alt</code> embohéra hag̃ua mba’epuru <div>area</div> oguerekóvan tekome’ẽ <span>href</span>. <a>Eikuaave</a>
accessibility-text-label-issue-dialog = Umi ñomongeta kora emboherava’erã. <a>Maranduve</a>
accessibility-text-label-issue-document-title = Kuatiakuéra oguerekova’erã peteĩ <code>title</code>. <a>Eikuaave</a>
accessibility-text-label-issue-embed = Pe tetepy moingepyre oñemboheva’erã. <a>Eikuaave</a>
accessibility-text-label-issue-figure = Umi ta’ãnga heratee’i poravokuaáva oñembohéramoĩva’erã. <a>Eikuaave</a>
accessibility-text-label-issue-fieldset = Umi mba’epuru <code>fieldset</code> oñemboheramoĩva’erã. <a>Eikuaave</a>
accessibility-text-label-issue-fieldset-legend = Eipuru pe mba’epuru <code>legend</code> emboheramoĩ hag̃ua mba’epuru. <span>fieldset</span>. <a>Eikuaave</a>
accessibility-text-label-issue-fieldset-legend2 = Eipuru mba’epuru <code>legend</code> emboheramoĩvo <span>fieldset</span>. <a>Eikuaave</a>
accessibility-text-label-issue-form = Umi myanyhẽha mba’epuru oñemboheramoĩva’erã. <a>Eikuaave</a>
accessibility-text-label-issue-form-visible = Umi myanyhẽha mba’epuru heramoĩjehechava’erã. <a>Eikuaave</a>
accessibility-text-label-issue-frame = Umi mba’epuru <code>frame</code> oñemboheramoĩva’erã. <a>Eikuaave</a>
accessibility-text-label-issue-glyph = Eipuru tekome’ẽ <code>alt</code> emboheramoĩ hag̃ua mba’epuru <span>mglyph</span>. <a>Eikuaave</a>
accessibility-text-label-issue-heading = Umi myakãha oñemboheramoĩva’erã. <a>Eikuaave</a>
accessibility-text-label-issue-heading-content = Umi myakãha hetepy reramoĩjehechava’erã. <a>Eikuaave</a>
accessibility-text-label-issue-iframe = Eipuru <code>title</code> rekome’ẽ emoha’ãnga hag̃ua <span>iframe</span> retepy. <a>Eikuaave</a>
accessibility-text-label-issue-image = Pe tetepy ta’ãnga ndive oñemboherava’erã. <a>Eikuaave</a>
accessibility-text-label-issue-interactive = Pe mba’epuru oñondivegua oñemboherava’erã. <a>Eikuaave</a>
accessibility-text-label-issue-optgroup-label = Eipuru <code>label</code> rekome’ẽ emboheramoĩ hag̃ua mba’epuru <span>optgroup<span>. <a>Eikuaave</a>
accessibility-text-label-issue-optgroup-label2 = Eipuru mba’epuru <code>label</code> emboheramoĩvo <span>optgroup</span>. <a>Eikuaave</a>
accessibility-text-label-issue-toolbar = Umi tembipuru renda oñemboherava’erã oĩramo hetave peteĩgui. <a>Eikuaave</a>
