# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Ďalšie informácie o <a data-l10n-name="learn-more">súkromnom prehliadaní</a>.
about-private-browsing-info-visited = navštívené stránky
privatebrowsingpage-open-private-window-label = Otvoriť súkromné okno
    .accesskey = S
about-private-browsing-info-notsaved = Pri prehliadaní v súkromnom okne { -brand-short-name } <strong>neukladá</strong>:
about-private-browsing-search-placeholder = Hľadať
about-private-browsing-info-bookmarks = záložky
about-private-browsing-info-title = Ste v súkromnom okne
about-private-browsing-info-searches = vyhľadávania
about-private-browsing-info-downloads = prevzaté súbory
private-browsing-title = Súkromné prehliadanie
about-private-browsing-info-saved = { -brand-short-name } <strong>bude ukladať</strong> vaše:
about-private-browsing-info-myths = Časté omyly o súkromnom prehliadaní
about-private-browsing-info-clipboard = skopírovaný text
about-private-browsing-info-temporary-files = dočasné súbory
about-private-browsing-info-cookies = súbory cookies
tracking-protection-start-tour = Pozrite sa ako to funguje
about-private-browsing-note = Súkromné prehliadanie <strong>vás neanonymizuje</strong> na internete. Váš zamestnávateľ alebo poskytovateľ internetového pripojenia môžu stále zistiť, aké stránky ste navštívili.
about-private-browsing =
    .title = Hľadať
about-private-browsing-not-private = Práve nie ste v súkromnom prehliadaní
content-blocking-title = Blokovanie obsahu
content-blocking-description = Niektoré webové stránky používajú sledovacie prvky, ktoré sledujú vašu aktivitu na internete. Blokovanie obsahu vo { -brand-short-name }e automaticky blokuje veľké množstvo týchto sledovacích prvkov, ktoré môžu zbierať informácie o vašom prehliadaní.
about-private-browsing-info-description = { -brand-short-name } vymaže históriu vyhľadávania a navštívených stránok po zavretí aplikácie alebo všetkých súkromných kariet a okien. S touto funkciou nie ste na internete neviditeľní a napríklad váš poskytovateľ pripojenia na internet môže stále zistiť, aké stránky navštevujete. Vaša aktivita na internete ale zostane utajená pred ďalšími používateľmi na tomto počítači.
