# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = K dispozícii je nová aktualizácia prehliadača { -brand-shorter-name }.
    .buttonlabel = Prevziať aktualizáciu
    .buttonaccesskey = P
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-available-message = Aktualizujte si svoj { -brand-shorter-name } a získajte najnovšie vylepšenia rýchlosti a súkromia.
appmenu-update-manual =
    .label = Aplikácii { -brand-shorter-name } sa nepodarilo nainštalovať najnovšiu verziu.
    .buttonlabel = Prevziať { -brand-shorter-name }
    .buttonaccesskey = P
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-manual-message = Prevezmite si novú verziu aplikácie { -brand-shorter-name } a my vám pomôžeme ju nainštalovať.
appmenu-update-whats-new =
    .value = Pozrite sa, čo je nové.
appmenu-update-unsupported =
    .label = Aplikácia { -brand-shorter-name } nemôže nainštalovať najnovšiu verziu.
    .buttonlabel = Ďalšie informácie
    .buttonaccesskey = i
    .secondarybuttonlabel = Zavrieť
    .secondarybuttonaccesskey = Z
appmenu-update-unsupported-message = Najnovšia verzia aplikácie { -brand-shorter-name } nie je vo vašom systéme podporovaná.
appmenu-update-restart =
    .label = Reštartovať a aktualizovať aplikáciu { -brand-shorter-name }.
    .buttonlabel = Reštartovať a obnoviť
    .buttonaccesskey = R
    .secondarybuttonlabel = Teraz nie
    .secondarybuttonaccesskey = n
appmenu-update-restart-message = Po rýchlom reštarte obnoví { -brand-shorter-name } všetky vaše otvorené karty okná, ktoré nie sú otvorené v súkromnom prehliadaní.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Ok, rozumiem
    .buttonaccesskey = O
appmenu-addon-post-install-message = Spravujte svoje doplnky kliknutím na <image data-l10n-name='addon-install-icon'></image> v ponuke <image data-l10n-name='addon-menu-icon'></image>.
appmenu-addon-post-install-incognito-checkbox =
    .label = Povoliť toto rozšírenie v súkromných oknách
    .accesskey = P
appmenu-addon-private-browsing =
    .label = Zmena fungovania rozšírení v súkromných oknách
    .buttonlabel = Správa rozšírení
    .buttonaccesskey = r
    .secondarybuttonlabel = Ok, rozumiem
    .secondarybuttonaccesskey = O
appmenu-addon-private-browsing-message = Novo nainštalované rozšírenia budú v súkromných oknách aplikácie { -brand-shorter-name } vypnuté, až dokým ich nezapnete v možnostiach.
appmenu-addon-private-browsing-learn-more = Ako spravovať rozšírenia.
