# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

### These strings are used inside the Accessibility panel.

accessibility-learn-more = Læs mere

accessibility-text-label-header = Tekst-etiketter og -navne

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
  .alt = Advarsel

accessibility-fail =
  .alt = Fejl

accessibility-best-practices =
  .alt = Retningslinjer

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Brug attributten <code>alt</code> til at markere <div>area</div>-elementer, der har attributten <span>href</span>. <a>Læs mere</a>

accessibility-text-label-issue-dialog = Dialog-bokse bør markeres. <a>Læs mere</a>

accessibility-text-label-issue-document-title = Dokumenter skal have en <code>title</code>. <a>Læs mere</a>

accessibility-text-label-issue-embed = Indlejret indhold skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-figure = Figurer og eventuelle billedtekster bør markeres. <a>Læs mere</a>

accessibility-text-label-issue-fieldset = <code>fieldset</code>-elementer skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-fieldset-legend = Brug elementet <code>legend</code> til at føje etiketter til <span>fieldset</span>-elementer. <a>Læs mere</a>

accessibility-text-label-issue-fieldset-legend2 = Brug elementet <code>legend</code> til at føje etiketter til <span>fieldset</span>. <a>Læs mere</a>

accessibility-text-label-issue-form = Formular-elementer skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-form-visible = Formular-elementer bør have en synlig tekst-etiket. <a>Læs mere</a>

accessibility-text-label-issue-frame = <code>frame</code>-elementer skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-glyph = Brug attributten <code>alt</code> til at føje etiketter til <span>mglyph</span>-elementer. <a>Læs mere</a>

accessibility-text-label-issue-heading = Overskrifter skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-heading-content = Overskrifter bør have synligt tekst-indhold. <a>Læs mere</a>

accessibility-text-label-issue-iframe = Brug attributten <code>title</code> til at beskrive <span>iframe</span>-indhold. <a>Læs mere</a>

accessibility-text-label-issue-image = Indhold med billeder skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-interactive = Interaktive elementer skal markeres. <a>Læs mere</a>

accessibility-text-label-issue-optgroup-label = Brug attributten <code>label</code> til at markere <span>optgroup</span>-elementer. <a>Læs mere</a>

accessibility-text-label-issue-optgroup-label2 = Brug attributten <code>label</code> til at markere <span>optgroup</span>. <a>Læs mere</a>

accessibility-text-label-issue-toolbar = Værktøjslinjer skal markeres, når der er mere end én værktøjslinje. <a>Læs mere</a>
