# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Conocer más
accessibility-text-label-header = Etiquetas de texto y de nombres

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Advertencia
accessibility-fail =
    .alt = Error
accessibility-best-practices =
    .alt = Buenas costumbres

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Use el atributo <code> alt </code> para etiquetar los elementos <div> area </div> que tienen el atributo <span> href </span>. <a> Conocer más </a>
accessibility-text-label-issue-dialog = Los cuadros de diálogo tienen que  estar etiquetados. <a> Conocer más </a>
accessibility-text-label-issue-document-title = Los documentos tienen que tener un <code> título </code>. <a> Conocer más</a>
accessibility-text-label-issue-embed = El contenido incrustado tiene que estar etiquetado. <a> Conocer más</a>
accessibility-text-label-issue-figure = Las figuras con subtítulos opcionales tienen que etiquetarse. <a> Conocer más </a>
accessibility-text-label-issue-fieldset = Los elementos <code>fieldset</code> deben ser etiquetados. <a>Conocer más</a>
accessibility-text-label-issue-fieldset-legend = Use el elemento <code>leyenda</code> para etiquetar elementos <span>fieldset</span>. <a>Conocer más</a>
accessibility-text-label-issue-fieldset-legend2 = Use el elemento <code>legend</code> para etiquetar un <span>fieldset</span>. <a>Conocer más</a>
accessibility-text-label-issue-form = Los elementos del formulario tienen que etiquetarse. <a>Conocer más</a>
accessibility-text-label-issue-form-visible = Los elementos de formulario debieran tener una etiqueta de texto visible. <a>Conocer más</a>
accessibility-text-label-issue-frame = Los elementos <code>frame</code> tienen que ser etiquetados. <a>Conocer más</a>
accessibility-text-label-issue-glyph = Usá el atributo <code>alt</code> para etiquetar elementos <span>mglyph</span>. <a>Aprender más</a>
accessibility-text-label-issue-heading = Los encabezados tienen que estar etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-heading-content = Los encabezados tendrían que tener contenido de texto visible. <a>Aprender más</a>
accessibility-text-label-issue-iframe = Usá el atributo <code>title</code> para describir contenido <span>iframe</span>. <a>Aprender más</a>
accessibility-text-label-issue-image = El contenido con imágenes tiene que estar etiquetado. <a> Aprender más </a>
accessibility-text-label-issue-interactive = Los elementos interactivos tienen que estar etiquetados. <a> Aprender más </a>
accessibility-text-label-issue-optgroup-label = Usá el atributo <code>label</code> para etiquetar elementos <span>optgroup</span>. <a>Aprender más</a>
accessibility-text-label-issue-optgroup-label2 = Use el atributo <code>label</code> para etiquetar un <span>optgroup</span>. <a>Conocer más</a>
accessibility-text-label-issue-toolbar = Las barras de herramientas tienen que estar etiquetadas cuando hay más de una. <a>Aprender más</a>
