# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Aprender más
accessibility-text-label-header = Etiquetas de texto y nombres

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Advertencia
accessibility-fail =
    .alt = Error
accessibility-best-practices =
    .alt = Mejores prácticas

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Usa el atributo <code>alt</code> para etiquetar elementos <div>area</div> que tengan el atributo <span>href</span>. <a>Aprender más</a>
accessibility-text-label-issue-dialog = Los diálogos debieran ser etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-document-title = Los documentos debieran tener un <code>title</code>. <a>Aprender más</a>
accessibility-text-label-issue-embed = El contenido incrustado debe ser etiquetado. <a>Aprender más</a>
accessibility-text-label-issue-figure = Las figuras con subtítulos opcionales debieran ser etiquetadas. <a>Aprender más</a>
accessibility-text-label-issue-fieldset = Los elementos <code>fieldset</code> deben ser etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-fieldset-legend = Usa el elemento <code>legend</code> para etiquetar elementos <span>fieldset</span>. <a>Aprender más</a>
accessibility-text-label-issue-fieldset-legend2 = Usa el elemento <code>legend</code> para etiquetar un <span>fieldset</span>. <a>Aprender más</a>
accessibility-text-label-issue-form = Los elementos de formulario deben ser etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-form-visible = Los elementos de formulario debieran tener una etiqueta de texto visible. <a>Aprender más</a>
accessibility-text-label-issue-frame = Los elementos <code>frame</code> deben ser etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-glyph = Usa el atributo <code>alt</code> para etiquetar elementos <span>mglyph</span>. <a>Aprender más</a>
accessibility-text-label-issue-heading = Los encabezados debieran ser etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-heading-content = Los encabezados debieran tener contenido de texto visible. <a>Aprender más</a>
accessibility-text-label-issue-iframe = Usa el atributo <code>title</code> para describir contenido <span>iframe</span>. <a>Aprender más</a>
accessibility-text-label-issue-image = El contenido con imágenes debe ser etiquetado. <a>Aprender más</a>
accessibility-text-label-issue-interactive = Los elementos interactivos deben ser etiquetados. <a>Aprender más</a>
accessibility-text-label-issue-optgroup-label = Usa el atributo <code>label</code> para etiquetar elementos <span>optgroup</span>. <a>Aprender más</a>
accessibility-text-label-issue-optgroup-label2 = Usa el atributo <code>label</code> para etiquetar un <span>optgroup</span>. <a>Aprender más</a>
accessibility-text-label-issue-toolbar = Las barras de herramientas deben estar etiquetadas cuando hay más de una barra de herramientas. <a>Aprender más</a>
