# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Geliştirici Araçları Hakkında
enable-title = Firefox Geliştirici Araçları’nı etkinleştir
enable-inspect-element-title = Öğeyi incele özelliğini kullanmak için Firefox Geliştirici Araçları’nı etkinleştirin
enable-inspect-element-message = Geliştirici Araçları’ndaki Denetçi ile HTML ve CSS kodlarını inceleyip düzenleyin.
enable-about-debugging-message = Firefox Geliştirici Araçları ile WebExtension’ları, web worker’ları, service worker’ları ve daha fazlasını geliştirip hatalarını ayıklayın.
enable-key-shortcut-message = Bir Geliştirici Araçları kısayolunu etkinleştirdiniz. Yanlışlıkla olduysa bu sekmeyi kapatabilirsiniz.
enable-menu-message = Denetçi ve Hata Ayıklayıcı gibi araçlarımızla web sitenizin HTML, CSS ve JavaScript kodlarını mükemmelleştirin.
enable-common-message = Tarayıcınızı daha rahat kullanabilmeniz için Firefox Geliştirici araçları varsayılan olarak kapalı gelir.
enable-learn-more-link = Geliştirici Araçları hakkında daha fazla bilgi al
enable-enable-button = Geliştiri Araçları’nı etkinleştir
enable-close-button = Bu sekmeyi kapat
welcome-title = Firefox Geliştirici Araçları’na hoş geldiniz!
newsletter-title = Mozilla Geliştirici Bülteni
newsletter-message = Geliştiricilere yönelik haberler, ipuçları ve kaynaklar e-posta adresinize gelsin.
newsletter-email-placeholder =
    .placeholder = E-posta
newsletter-privacy-label = Mozilla’nın bilgilerimi bu <a data-l10n-name="privacy-policy">gizlilik politikasında</a> açıklandığı şekilde kullanmasına onay veriyorum.
newsletter-subscribe-button = Abone ol
newsletter-thanks-title = Teşekkürler!
newsletter-thanks-message = Daha önce bir Mozilla bültenine abone olmadıysanız aboneliğinizi onaylamanız gerekebilir. Lütfen gelen kutunuzu veya spam klasörünüzü kontrol edin.
footer-title = Firefox Developer Edition
footer-message = Geliştirici Araçları’ndan daha fazlasını mı istiyorsunuz? Geliştiriciler ve çağdaş iş akışları için özel olarak hazırladığımız Firefox tarayıcısını deneyin.
footer-learn-more-link = Daha fazla bilgi al
features-learn-more = Daha fazla bilgi al
features-inspector-title = Denetçi
features-inspector-desc = Mükemmel sayfalar oluşturmak için kodunuzu denetleyip iyileştirin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Konsol
features-console-desc = CSS, JavaScript, güvenlik ve ağ sorunlarını takip edin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Hata ayıklayıcı
features-debugger-desc = Kullandığınız framework’ü destekleyen, güçlü JavaScript hata ayıklayıcısı. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Ağ
features-network-desc = Sitenizi yavaşlatan veya kilitleyen ağ isteklerini denetleyin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Depolama
features-storage-desc = Önbellek, çerez, veritabanı ve oturum verilerini ekleyin, düzenleyin ve silin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Responsive Tasarım Modu
features-responsive-desc = Sitelerin başka cihazlarda nasıl görüneceğini tarayıcının içinde test edin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Görsel Düzenleme
features-visual-editing-desc = Animasyonları, hizalamayı ve padding’i görerek düzenleyin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Performans
features-performance-desc = Tıkanmaların önüne geçin, işlemleri izleyin, varlıkları optimize edin. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Bellek
features-memory-desc = Bellek sızıntılarını bularak uygulamanızı daha akıcı yapın. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Abonelik isteği başarısız oldu ({ $errorDescription }).
newsletter-error-unknown = Beklenmeyen bir hata oluştu.
newsletter-error-timeout = Abonelik isteği zaman aşımına uğradı.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Geliştirici Araçları’nı başarıyla etkinleştirdiniz! Başlamak için Web geliştirici menüsünü inceleyin veya { $shortcut } kısayoluyla araçları açın.
