# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

about-private-browsing-learn-more = Per ne saber mai sus <a data-l10n-name="learn-more">navegacion privada</a>.
about-private-browsing-info-visited = Las paginas visitadas
privatebrowsingpage-open-private-window-label = Dobrir una fenèstra de navegacion privada
    .accesskey = p
about-private-browsing-info-notsaved = Quand navegatz dins una fenèstra de navegacion privada, { -brand-short-name } <strong>enregistra pas</strong> :
about-private-browsing-search-placeholder = Recèrca sul web
about-private-browsing-info-bookmarks = Marcapaginas
about-private-browsing-info-searches = Las recèrcas
about-private-browsing-info-downloads = Telecargaments
private-browsing-title = Navegacion privada
about-private-browsing-info-saved = { -brand-short-name } <strong>enregistrarà</strong>vòstres :
about-private-browsing-info-clipboard = tèxt copiat
about-private-browsing-info-temporary-files = Los fichièrs temporaris
about-private-browsing-info-cookies = Los cookies
tracking-protection-start-tour = Cossí fonciona ?
about-private-browsing-note = La navegacion privada <strong>vos fa pas venir anonime</strong> sus Internet. Vòstre emplegaire o provesidor de servici Internet pòdon totjorn conéisser las paginas que visitatz.
about-private-browsing =
    .title = Recèrca sul web
about-private-browsing-not-private = Pel moment, sètz pas dins una fenèstra de navegacion privada.
content-blocking-title = Blocatge de contengut
