# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

appmenu-update-available =
    .label = Una nòva mesa a jorn de { -brand-shorter-name } es disponibla.
    .buttonlabel = Telecargar la mesa a jorn
    .buttonaccesskey = M
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = a
appmenu-update-available-message = Actualizatz vòstre { -brand-shorter-name } per obténer las darrièras melhorament sus la velocitat e la vida privada.
appmenu-update-manual =
    .label = { -brand-shorter-name } pòt pas èsser mes a jorn amb la version mai recenta.
    .buttonlabel = Telecargar { -brand-shorter-name }
    .buttonaccesskey = T
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = A
appmenu-update-manual-message = Telecargatz una còpia novèla de { -brand-shorter-name } e poirem vos guidar per l’installar.
appmenu-update-whats-new =
    .value = Descobrissètz las novetats.
appmenu-update-restart =
    .label = Reaviatz per metre a jorn { -brand-shorter-name }.
    .buttonlabel = Reaviar e restablir
    .buttonaccesskey = R
    .secondarybuttonlabel = Pas ara
    .secondarybuttonaccesskey = N
appmenu-update-restart-message = Aprèp una pichoneta reaviada, { -brand-shorter-name } restablirà totes vòstres onglets dobèrts que son pas en navegacion privada.
appmenu-addon-private-browsing-installed =
    .buttonlabel = Comprés
    .buttonaccesskey = C
appmenu-addon-post-install-message = Gerir los moduls en clicar <image data-l10n-name='addon-install-icon'></image> lo <image data-l10n-name='addon-menu-icon'></image> menú.
