# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Več o tem
accessibility-text-label-header = Oznake besedila in imena

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Opozorilo
accessibility-fail =
    .alt = Napaka
accessibility-best-practices =
    .alt = Najboljše prakse

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Uporabite atribut <code>alt</code>, da označite elemente <div>area</div>, ki imajo atribut <span>href</span>. <a>Več o tem</a>
accessibility-text-label-issue-dialog = Pogovorna okna morajo biti označena. <a>Več o tem</a>
accessibility-text-label-issue-document-title = Dokumenti morajo imeti <code>naslov</code>. <a>Več o tem</a>
accessibility-text-label-issue-embed = Vdelana vsebina mora biti označena. <a>Več o tem</a>
accessibility-text-label-issue-fieldset = Elementi <code>fieldset</code> morajo biti označeni. <a>Več o tem</a>
accessibility-text-label-issue-fieldset-legend = Uporabite element <code>legend</code>, da označite elemente <span>fieldset</span>. <a>Več o tem</a>
accessibility-text-label-issue-fieldset-legend2 = Uporabite element <code>legend</code>, da označite <span>fieldset</span>. <a>Več o tem</a>
accessibility-text-label-issue-form = Elementi obrazca morajo biti označeni. <a>Več o tem</a>
accessibility-text-label-issue-form-visible = Elementi obrazca morajo imeti vidno oznako besedila. <a>Več o tem</a>
accessibility-text-label-issue-frame = Elementi <code>frame</code> morajo biti označeni. <a>Več o tem</a>
accessibility-text-label-issue-glyph = Uporabite atribut <code>alt</code>, da označite elemente <span>mglyph</span>. <a>Več o tem</a>
accessibility-text-label-issue-heading = Naslovi morajo biti označeni. <a>Več o tem</a>
accessibility-text-label-issue-heading-content = Naslovi bi morali imeti vidno vsebino besedila. <a>Več o tem</a>
accessibility-text-label-issue-iframe = Uporabite atribut <code>title</code>, da opišete vsebino <span>iframe</span>. <a>Več o tem</a>
accessibility-text-label-issue-image = Vsebina s slikami mora biti označena. <a>Več o tem</a>
accessibility-text-label-issue-interactive = Interaktivni elementi morajo biti označeni. <a>Več o tem</a>
accessibility-text-label-issue-optgroup-label = Uporabite atribut <code>label</code>, da označite elemente <span>optgroup</span>. <a>Več o tem</a>
accessibility-text-label-issue-optgroup-label2 = Uporabite atribut <code>label</code>, da označite <span>optgroup</span>. <a>Več o tem</a>
