# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Ikom Gitic pa Ludiro
enable-title = Cak Gitic pa Ludiro me Firefox
enable-key-shortcut-message = I cako yoo ma cek me Gitic pa Ludiro. Kacce obedo bal, itwero loro Dirica matidi man.
enable-common-message = Kijuko woko pire kene Gitic pa Ludiro me Firefox me miini loc makato ikom layeny mamegi.
enable-learn-more-link = Nong ngec mapol ikom Gitic pa Ludiro
enable-enable-button = Cak Gitic pa Ludiro
enable-close-button = Lor dirica matidi man
welcome-title = Wajoli i Gitic pa Ludiro me Firefox!
newsletter-title = Waraga lok angeya pa Ludiro me Mozilla
newsletter-message = Wek ki cwal lok angeya pa ludiro, ngec ki jami tic atir i canduk mamegi.
newsletter-email-placeholder =
    .placeholder = Email
newsletter-privacy-label = Atye agonya ki Mozilla me loono ngec mamega kit ma kitito kwede ii <a data-l10n-name="privacy-policy">Cik me Mung man</a>.
newsletter-subscribe-button = Coone
newsletter-thanks-title = Pwoc!
footer-message = Itye ka yenyo gin makato Gitic pa Ludiro? Nen layeny me Firefox ma ki yubo atika ne pi ludiro ki tic me kare ma nyen.
footer-learn-more-link = Nong ngec mapol
features-learn-more = Nong ngec mapol
features-console-desc = Gwok peki me CSS, JavaScript, ber bedo ki netwak. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Gin nongo bal
features-network-title = Netwak
features-network-desc = Nen kwac me netwak ma twero dwoko dwiro onyo gengo kakube mamegi. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Kwac me coone pe olare ({ $errorDescription }).
newsletter-error-unknown = Bal mape ki byeko otime.
newsletter-error-timeout = Kare me kwac me coone otum woko.
