# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### For this feature, "installation" is used to mean "this discrete download of
### Firefox" and "version" is used to mean "the specific revision number of a
### given Firefox channel". These terms are not synonymous.

title = Notiçie inportanti
heading = Cangia o teu profî { -brand-short-name }
changed-title = Cöse o l'é cangiou?
changed-desc-profiles = L'instalaçion de { -brand-short-name } a l'à 'n neuvo profî. Un profî o l'é 'n'insemme de file donde Firefox o sarva e informaçioin comme segnalibbri, poule segrete e preferense.
changed-desc-dedicated = Pe rende ciù façile e seguo o cangiamento fra instalaçioin de Firefox (incluzo Firefox, Firefox ESR, Firefox Beta, Firefox Developer Edition, and Firefox Nightly), sta instalaçion òua a l'à 'n profî dedicou. Questo o no condividde in aotomatico e teu informaçioin sarvæ co-e atre instalaçioin de Firefox.
lost = <b>Ti no ti æ perso dæti personâ ò personalizaçioin.</b> Se t'aivi za sarvou de informaçioin in Firefox in sto computer, queste saian ancon disponibili inte atre instalaçioin de Firefox.
options-title = Che cöse pòsso fâ?
options-do-nothing = Se no ti fæ ninte, i dæti do teu profî in { -brand-short-name } saian dispægi da-i dæti do profî inte atre instalaçioin de Firefox.
options-use-sync = Se ti veu che tutti i dæti do teu profî segian e mæxime inte tutte e instalaçioin de Firefox, ti peu adeuviâ un { -fxaccount-brand-name } pe tegnî tutto scincronizou.
resources = Risorse:
support-link = Uzo do gestô do profî - Articoli de sopòrto
sync-header = Intra ò fanni 'n { -fxaccount-brand-name }
sync-label = Scrivi a teu email
sync-input =
    .placeholder = Email
sync-button = Continoa
sync-terms = Se ti væ avanti t'ê d'acòrdio co-i <a data-l10n-name="terms">Termini do Serviçio</a> e  <a data-l10n-name="privacy">l'Informativa da Privacy</a>.
sync-first = L'é a primma vòtta che ti deuvi { -sync-brand-name }? Ti devi acede inte ògni instalaçion de Firefox pe scincronizâ e teu informaçioin.
sync-learn = Atre informaçioin
