# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Про інструменти розробника
enable-title = Увімкнути інструменти розробника Firefox
enable-inspect-element-title = Увімкнути інструменти розробника Firefox, щоб дослідити елемент
enable-inspect-element-message = Досліджуйте і редагуйте HTML та CSS за допомогою інструмента «Інспектор».
enable-about-debugging-message = Розробляйте та зневаджуйте WebExtensions, web workers, service workers тощо за допомогою інструментів розробника Firefox.
enable-key-shortcut-message = Ви задіяли швидкий доступ до інструментів розробника. Якщо це трапилось ненароком, просто закрийте цю вкладку.
enable-menu-message = Довершуйте HTML, CSS та JavaScript власного веб-сайту за допомогою інструментів «Інспектор» та «Зневаджувач».
enable-common-message = Інструменти розробника Firefox від початку вимкнено, щоб надати вам більше можливостей керування власним браузером.
enable-learn-more-link = Докладніше про інструменти розробника
enable-enable-button = Увімкнути інструменти розробника
enable-close-button = Закрити цю вкладку
welcome-title = Ласкаво просимо до інструментів розробника Firefox!
newsletter-title = Новини для розробників Mozilla
newsletter-message = Отримуйте новини про засоби та можливості розробки на свою електронну пошту.
newsletter-email-placeholder =
    .placeholder = Ел. пошта
newsletter-privacy-label = Мене влаштовує те, як Mozilla обробляє мої дані згідно з <a data-l10n-name="privacy-policy">Політикою приватності</a>.
newsletter-subscribe-button = Підписатись
newsletter-thanks-title = Дякуємо!
newsletter-thanks-message = Якщо ви раніше не підтвердили підписку на новини від Mozilla, то вам, можливо, доведеться це зробити. Будь ласка, пошукайте наше повідомлення серед вхідних або небажаних листів.
footer-title = Firefox Developer Edition
footer-message = Шукаєте більшого, ніж просто інструменти розробника? Спробуйте браузер Firefox, створений саме для розробників та потреб сучасної розробки.
footer-learn-more-link = Докладніше
features-learn-more = Докладніше
features-inspector-title = Інспектор
features-inspector-desc = Вивчайте і вдосконалюйте код, щоб створювати ідеальні макети. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Консоль
features-console-desc = Зневаджуйте CSS, JavaScript, а також проблеми з мережею і безпекою. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Зневаджувач
features-debugger-desc = Потужний зневаджувач JavaScript з підтримкою вашої улюбленої платформи. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Мережа
features-network-desc = Контролюйте мережеві запити, які можуть уповільнити або заблокувати ваш сайт. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Сховище
features-storage-desc = Додавайте, редагуйте і видаляйте кеш, куки, бази даних і дані сеансів. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Режим адаптивного дизайну
features-responsive-desc = Тестуйте сайти на емульованих пристроях у вашому браузері. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Візуальне редагування
features-visual-editing-desc = Точне налаштування анімацій, вирівнювань і відступів. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Швидкодія
features-performance-desc = Розблокуйте вузькі місця, забезпечте спрощення процесів і оптимізуйте продуктивність. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Пам'ять
features-memory-desc = Знаходьте витоки пам'яті і зменшуйте її споживання вашим додатком. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Запит на підписку зазнав невдачі ({ $errorDescription }).
newsletter-error-unknown = Сталася неочікувана помилка.
newsletter-error-timeout = Термін дії запиту на підписку завершився.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Інструменти розробника увімкнено! Розпочніть з огляду меню «Веб-розробка» або відкрийте інструменти за допомогою { $shortcut }.
