# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Dalšne informacije
accessibility-text-label-header = Tekstowe wóznamjenjenja a mjenja

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Warnowanje
accessibility-fail =
    .alt = Zmólka
accessibility-best-practices =
    .alt = Nejlěpše praktiki

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Wužywajśo atribut <code>alt</code>, aby elementy <div>area</div> wóznamjenił, kótarež maju atribut <span>href</span>. <a>Dalšne informacije</a>
accessibility-text-label-issue-dialog = Dialogi měli se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-document-title = Dokumenty muse <code>titel</code> měś. <a>Dalšne informacije</a>
accessibility-text-label-issue-embed = Zasajźone wopśimjeśe musy se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-figure = Wobraze z opcionelnymi pópisanjami měli se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-fieldset = Elementy <code>fieldset</code> muse se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-fieldset-legend = Wužywajśo element <code>legend</code>, aby elementy <span>fieldset</span> wóznamjenił. <a>Dalšne informacije</a>
accessibility-text-label-issue-fieldset-legend2 = Wužywajśo element <code>legend</code>, aby element <span>fieldset</span> pópisał. <a>Dalšne informacije</a>
accessibility-text-label-issue-form = Formularne elementy muse se wóznamjeniś. <a>Dalšne informacje</a>
accessibility-text-label-issue-form-visible = Formularne elementy měli widobne tekstowe wóznamjenjenje měś. <a>Dalšne informacije</a>
accessibility-text-label-issue-frame = Elementy <code>frame</code> muse se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-glyph = Wužywajśo atribut <code>alt</code>, aby elementy <span>mglyph</span> wóznamjenił. <a>Dalšne informacije</a>
accessibility-text-label-issue-heading = Nadpisma muse se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-heading-content = Nadpisma měli widobne tekstowe wopśimjeśe měś. <a>Dalšne informacije</a>
accessibility-text-label-issue-iframe = Wužywajśo atribut <code>title</code>, aby wopśimjeśe <span>iframe</span> wopisał. <a>Dalšne informacije</a>
accessibility-text-label-issue-image = Wopśimjeśe z wobrazami musy se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-interactive = Interaktiwne elementy muse se wóznamjeniś. <a>Dalšne informacije</a>
accessibility-text-label-issue-optgroup-label = Wužywajśo atribut <code>label</code>, aby elementy <span>optgroup</span> wóznamjenił. <a>Dalšne informacije</a>
accessibility-text-label-issue-optgroup-label2 = Wužywajśo atribut <code>label</code>, aby element <span>optgroup</span> pópisał. <a>Dalšne informacije</a>
accessibility-text-label-issue-toolbar = Symbolowe rědki muse se wóznamjeniś, gaž dajo wěcej ako jadneje symboloweje rědki. <a>Dalšne informacije</a>
