# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

page-title = Arazoak konpontzeko informazioa
page-subtitle = Orri honek arazo bat konpontzeko erabilgarria izan daitekeen informazio teknikoa du. { -brand-short-name }(r)i buruzko ohiko galderen erantzunen bila bazabiltza, bisitatu gure <a data-l10n-name="support-link">laguntzaren webgunea</a>.
crashes-title = Hutsegite-txostenak
crashes-id = Txostenaren IDa
crashes-send-date = Noiz bidalia
crashes-all-reports = Hutsegite-txosten guztiak
crashes-no-config = Aplikazioa ez da konfiguratu hutsegite-txostenak bistaratzeko.
extensions-title = Hedapenak
extensions-name = Izena
extensions-enabled = Gaituta
extensions-version = Bertsioa
extensions-id = ID
security-software-title = Segurtasun softwarea
security-software-type = Mota
security-software-name = Izena
security-software-antivirus = Antibirusa
security-software-antispyware = Spywarearen aurkakoa
security-software-firewall = Suebakia
features-title = { -brand-short-name }(r)en eginbideak
features-name = Izena
features-version = Bertsioa
features-id = ID
processes-title = Urruneko prozesuak
processes-type = Mota
processes-count = Kopurua
app-basics-title = Aplikazioaren oinarrizko konfigurazioa
app-basics-name = Izena
app-basics-version = Bertsioa
app-basics-build-id = Eraikitze IDa
app-basics-update-channel = Eguneraketa-kanala
# This message refers to the folder used to store updates on the device,
# as in "Folder for updates". "Update" is a noun, not a verb.
app-basics-update-dir =
    { PLATFORM() ->
        [linux] Eguneraketen direktorioa
       *[other] Eguneraketen karpeta
    }
app-basics-update-history = Eguneraketen historia
app-basics-show-update-history = Erakutsi eguneraketen historia
# Represents the path to the binary used to start the application.
app-basics-binary = Aplikazioaren bitarra
app-basics-profile-dir =
    { PLATFORM() ->
        [linux] Profilaren direktorioa
       *[other] Profilaren karpeta
    }
app-basics-enabled-plugins = Gaitutako pluginak
app-basics-build-config = Eraikitze-konfigurazioa
app-basics-user-agent = Erabiltzaile-agentea
app-basics-os = SEa
app-basics-memory-use = Memoriaren erabilpena
app-basics-performance = Errendimendua
app-basics-service-workers = Erregistratutako zerbitzu-langileak
app-basics-profiles = Profilak
app-basics-launcher-process-status = Abioko prozesua
app-basics-multi-process-support = Multiprozesu leihoak
app-basics-remote-processes-count = Urruneko prozesuak
app-basics-enterprise-policies = Enpresa-politikak
app-basics-location-service-key-google = Google Location Service gakoa
app-basics-safebrowsing-key-google = Google Safebrowsing gakoa
app-basics-key-mozilla = Mozilla Location Service gakoa
app-basics-safe-mode = Modu segurua
show-dir-label =
    { PLATFORM() ->
        [macos] Erakutsi Finder-en
        [windows] Ireki karpeta
       *[other] Ireki direktorioa
    }
modified-key-prefs-title = Aldatutako hobespen garrantzitsuak
modified-prefs-name = Izena
modified-prefs-value = Balioa
user-js-title = user.js hobespenak
user-js-description = Zure profil-karpetak <a data-l10n-name="user-js-link">user.js fitxategia</a> dauka, zeinak { -brand-short-name }(e)k sortu ez dituen hobespenak dauzkan.
locked-key-prefs-title = Blokeatutako hobespen garrantzitsuak
locked-prefs-name = Izena
locked-prefs-value = Balioa
graphics-title = Grafikoak
graphics-features-title = Eginbideak
graphics-diagnostics-title = Diagnostikoak
graphics-failure-log-title = Hutsegitearen loga
graphics-gpu1-title = 1. GPUa
graphics-gpu2-title = 2. GPUa
graphics-decision-log-title = Erabakien erregistroa
graphics-crash-guards-title = Babestu desgaitutako eginbideen hutsegiteak
graphics-workarounds-title = Behin-behineko konponbideak
# Windowing system in use on Linux (e.g. X11, Wayland).
graphics-window-protocol = Leiho-sistemaren protokoloa
place-database-title = Lekuen datu-basea
place-database-integrity = Osotasuna
place-database-verify-integrity = Egiaztatu osotasuna
js-title = JavaScript
js-incremental-gc = ZB inkrementala
a11y-title = Erabilgarritasuna
a11y-activated = Aktibatuta
a11y-force-disabled = Eragotzi erabilgarritasuna
a11y-handler-used = Maneiatzaile erabilerraza erabilita
a11y-instantiator = Erabilerraztasunaren instantziatzailea
library-version-title = Liburutegien bertsioak
copy-text-to-clipboard-label = Kopiatu testua arbelean
copy-raw-data-to-clipboard-label = Kopiatu datu gordinak arbelean
sandbox-title = Isolamendua
sandbox-sys-call-log-title = Baztertutako sistema-deiak
sandbox-sys-call-index = #
sandbox-sys-call-age = Duela zenbat segundo
sandbox-sys-call-pid = PID
sandbox-sys-call-tid = TID
sandbox-sys-call-proc-type = Prozesu mota
sandbox-sys-call-number = Sistema-deia
sandbox-sys-call-args = Argumentuak
safe-mode-title = Probatu modu segurua
restart-in-safe-mode-label = Berrabiarazi gehigarriak desgaituta…
media-title = Multimedia
media-output-devices-title = Irteerako gailuak
media-input-devices-title = Sarrerako gailuak
media-device-name = Izena
media-device-group = Taldea
media-device-vendor = Hornitzailea
media-device-state = Egoera
media-device-preferred = Hobetsia
media-device-format = Formatua
media-device-channels = Kanalak
media-device-rate = Emaria
media-device-latency = Atzerapena
intl-title = Internazionalizazioa eta lokalizazioa
intl-app-title = Aplikazioaren ezarpenak
intl-locales-requested = Eskatutako hizkuntzak
intl-locales-available = Hizkuntza erabilgarriak
intl-locales-supported = Aplikazioaren hizkuntzak
intl-locales-default = Hizkuntza lehenetsia
intl-os-title = Sistema eragilea
intl-os-prefs-system-locales = Sistemaren hizkuntzak
intl-regional-prefs = Eskualdeko hobespenak
# Variables
# $days (Integer) - Number of days of crashes to log
report-crash-for-days =
    { $days ->
        [one] Azken eguneko hutsegite-txostenak
       *[other] Azken { $days } egunetako hutsegite-txostenak
    }
# Variables
# $minutes (integer) - Number of minutes since crash
crashes-time-minutes =
    { $minutes ->
        [one] Duela minutu bat
       *[other] Duela { $minutes } minutu
    }
# Variables
# $hours (integer) - Number of hours since crash
crashes-time-hours =
    { $hours ->
        [one] Duela ordubete
       *[other] Duela { $hours } ordu
    }
# Variables
# $days (integer) - Number of days since crash
crashes-time-days =
    { $days ->
        [one] Duela egun bat
       *[other] Duela { $days } egun
    }
# Variables
# $reports (integer) - Number of pending reports
pending-reports =
    { $reports ->
        [one] Hutsegite-txosten guztiak (emandako denbora-tartean zain dagoen hutsegite bat kontuan hartuta)
       *[other] Hutsegite-txosten guztiak (emandako denbora-tartean zain daude { $reports } hutsegite kontuan hartuta)
    }
raw-data-copied = Testu gordina arbelean kopiatu da
text-copied = Testua arbelean kopiatu da

## The verb "blocked" here refers to a graphics feature such as "Direct2D" or "OpenGL layers".

blocked-driver = Txartel grafikoaren kontrolatzailearen bertsioagatik blokeatuta.
blocked-gfx-card = Txartel grafikoak blokeatuta ebatzi gabeko kontrolatzaile-arazoengatik.
blocked-os-version = Sistema eragilearen bertsioagatik blokeatuta.
blocked-mismatched-version = Blokeatuta zure txartel grafikoaren kontrolatzaileentzat, erregistroaren eta DLLaren bertsioak ez datoz bat.
# Variables
# $driverVersion - The graphics driver version string
try-newer-driver = Txartel grafikoaren kontrolatzailearen bertsioak blokeatuta. Saiatu zure txartel grafikoaren kontrolatzaileak { $driverVersion } edo bertsio berriagora eguneratzen.
# "ClearType" is a proper noun and should not be translated. Feel free to leave English strings if
# there are no good translations, these are only used in about:support
clear-type-parameters = ClearType parametroak
compositing = Konposatzea
hardware-h264 = Hardware bidezko H264 deskodetzea
main-thread-no-omtc = hari nagusia, OMTCrik ez
yes = Bai
no = Ez
unknown = Ezezaguna
virtual-monitor-disp = Monitore birtualaren pantaila

## The following strings indicate if an API key has been found.
## In some development versions, it's expected for some API keys that they are
## not found.

found = Aurkitua
missing = Falta da
gpu-process-pid = GPUProcessPid
gpu-process = GPUProcess
gpu-description = Deskribapena
gpu-vendor-id = Hornitzailearen IDa
gpu-device-id = Gailuaren IDa
gpu-subsys-id = Subsys IDa
gpu-drivers = Kontrolatzaileak
gpu-ram = RAM
gpu-driver-vendor = Kontrolatzailearen hornitzailea
gpu-driver-version = Kontrolatzailearen bertsioa
gpu-driver-date = Kontrolatzailearen data
gpu-active = Aktibo
webgl1-wsiinfo = WebGL 1 kontrolatzailearen WSI informazioa
webgl1-renderer = WebGL 1 kontrolatzailearen errendatzailea
webgl1-version = WebGL 1 kontrolatzailearen bertsioa
webgl1-driver-extensions = WebGL 1 kontrolatzailearen luzapenak
webgl1-extensions = WebGL 1 luzapenak
webgl2-wsiinfo = WebGL 2 kontrolatzailearen WSI informazioa
webgl2-renderer = WebGL 2 kontrolatzailearen errendatzailea
webgl2-version = WebGL 2 kontrolatzailearen bertsioa
webgl2-driver-extensions = WebGL 2 kontrolatzailearen luzapenak
webgl2-extensions = WebGL 2 luzapenak
blocklisted-bug = Arazo ezagunengatik zerrenda beltzean
# Variables
# $bugNumber (string) - String of bug number from Bugzilla
bug-link = { $bugNumber }. buga
# Variables
# $failureCode (string) - String that can be searched in the source tree.
unknown-failure = Zerrenda beltzean; { $failureCode } hutsegite-kodea
d3d11layers-crash-guard = D3D11 konposatzailea
d3d11video-crash-guard = D3D11 bideo-deskodetzailea
d3d9video-crash-buard = D3D9 bideo-deskodetzailea
glcontext-crash-guard = OpenGL
reset-on-next-restart = Berrezarri hurrengo berrabiaraztean
gpu-process-kill-button = Amaitu GPU prozesua
gpu-device-reset = Gailua berrabiaraztea
gpu-device-reset-button = Abiarazi gailua berrabiaraztea
uses-tiling = Mosaikoa darabil
content-uses-tiling = Mosaikoa darabil (edukia)
off-main-thread-paint-enabled = Hari nagusitik kanporako margoketa gaituta
off-main-thread-paint-worker-count = Hari nagusitik kanporako margoketarako langile kopurua
target-frame-rate = Helburuko marko-emaria
audio-backend = Audio backend-a
max-audio-channels = Gehienezko kanalak
channel-layout = Hobetsitako kanal-diseinua
sample-rate = Hobetsitako lagin-abiadura
min-lib-versions = Esperotako bertsio minimoa
loaded-lib-versions = Erabiltzen dagoen bertsioa
has-seccomp-bpf = Seccomp-BPF (Sistema-deien iragaztea)
has-seccomp-tsync = Seccomp harien sinkronizazioa
has-user-namespaces = Erabiltzaileen izen-eremuak
has-privileged-user-namespaces = Erabiltzaileen izen-eremuak prozesu pribilegiatuentzat
can-sandbox-content = Eduki-prozesuen isolamendua
can-sandbox-media = Multimedia-pluginen isolamendua
content-sandbox-level = Eduki-prozesuen isolamendu maila
effective-content-sandbox-level = Eduki-prozesuen isolamendu maila eraginkorra
sandbox-proc-type-content = edukia
sandbox-proc-type-file = fitxategiaren edukia
sandbox-proc-type-media-plugin = multimedia plugina
sandbox-proc-type-data-decoder = datu-deskodetzailea
launcher-process-status-0 = Gaituta
launcher-process-status-1 = Desgaituta hutsegitea dela-eta
launcher-process-status-2 = Behartuta desgaituta
launcher-process-status-unknown = Egoera ezezaguna
# Variables
# $remoteWindows (integer) - Number of remote windows
# $totalWindows (integer) - Number of total windows
multi-process-windows = { $remoteWindows }/{ $totalWindows }
multi-process-status-0 = Erabiltzaileak gaituta
multi-process-status-1 = Lehenespenez gaituta
multi-process-status-2 = Desgaituta
multi-process-status-4 = Erabilgarritasun-tresnek desgaituta
multi-process-status-6 = Onartzen ez den testu-sarrerak desgaituta
multi-process-status-7 = Gehigarriek desgaituta
multi-process-status-8 = Behartuta desgaituta
multi-process-status-unknown = Egoera ezezaguna
async-pan-zoom = Mugimendu panoramiko/zoom asinkronoak
apz-none = bat ere ez
wheel-enabled = gurpil bidezko sarrera gaituta
touch-enabled = ukipen bidezko sarrera gaituta
drag-enabled = korritze-barra arrastatzea gaituta
keyboard-enabled = teklatua gaituta
autoscroll-enabled = autoscroll gaituta

## Variables
## $preferenceKey (string) - String ID of preference

wheel-warning = gurpil asinkrono bidezko sarrera desgaituta onartzen ez den hobespena dela eta: { $preferenceKey }
touch-warning = ukipen asinkrono bidezko sarrera desgaituta onartzen ez den hobespena dela eta: { $preferenceKey }

## Strings representing the status of the Enterprise Policies engine.

policies-inactive = Inaktibo
policies-active = Aktibo
policies-error = Errorea
