# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Saper plus
accessibility-text-label-header = Etiquettas e nomines texto

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Advertentia
accessibility-fail =
    .alt = Error
accessibility-best-practices =
    .alt = Melior practicas

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Usa attributo de <code>alt</code> pro etiquettar elementos de <div>area</div> que ha le attributo <span>href</span>. <a>Saper plus</a>
accessibility-text-label-issue-dialog = Dialogos deberea ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-document-title = Documentos debe haber un <code>title</code> <a>Saper plus</a>
accessibility-text-label-issue-embed = Contento integrate debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-figure = Figuras con legendas optional deberea ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-fieldset = Elementos <code>fieldset</code> debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-fieldset-legend = Usa elemento <code>legend</code> pro etiquettar elementos <span>fieldset</span>. <a>Saper plus</a>
accessibility-text-label-issue-fieldset-legend2 = Usa un elemento <code>legend</code> pro etiquettar un <span>fieldset</span>. <a>Saper plus</a>
accessibility-text-label-issue-form = Elementos de formulario debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-form-visible = Elementos de formulario deberea haber un etiquetta de texto visibile. <a>Saper plus</a>
accessibility-text-label-issue-frame = Elementos <code>frame</code> debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-glyph = Usa attributo <code>alt</code> pro etiquettar elementos <span>mglyph</span>. <a>Saper plus</a>
accessibility-text-label-issue-heading = Titulos debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-heading-content = Les titulos debe haber un contento textual visibile. <a>Saper plus</a>
accessibility-text-label-issue-iframe = Usa attributo <code>title</code> pro describer contento <span>iframe</span>. <a>Saper plus</a>
accessibility-text-label-issue-image = Contento con imagines debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-interactive = Elementos interactive debe ser etiquettate. <a>Saper plus</a>
accessibility-text-label-issue-optgroup-label = Usa attributo <code>label</code> pro etiquettar elementos <span>optgroup</span>. <a>Saper plus</a>
accessibility-text-label-issue-optgroup-label2 = Usa un attributo  <code>label</code> pro etiquettar un elemento <span>optgroup</span>. <a>Saper plus</a>
accessibility-text-label-issue-toolbar = Barras del instrumentos debe ser etiquettate quando on ha plus de uno. <a>Saper plus</a>
