# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

head-title = Относно развойните инструменти
enable-title = Включване на развойните инструменти във Firefox
enable-inspect-element-title = Включване на развойните инструменти във Firefox, за да изследвате елементи
enable-inspect-element-message = Проверявайте и променяйте HTML и CSS с инспектора на инструментите на разработчика.
enable-about-debugging-message = Разработвайте и отстранявайте дефекти от WebExtensions, обслужващи нишки и много други с инструментите на разработчика във Firefox.
enable-key-shortcut-message = Използвахте клавишна комбинация от развойните инструменти. Ако сте го направили по погрешка може да затворите този раздел.
enable-menu-message = Усъвършенствайте HTML, CSS и JavaScript на страницата си с инструментите като инспектор и дебъгер.
enable-common-message = Инструментите на разработчика във Firefox са изключени по подразбиране, за да имате по-добър контрол върху своя четец.
enable-learn-more-link = Научете повече за развойните инструменти
enable-enable-button = Включване
enable-close-button = Затваряне на раздела
welcome-title = Добре дошли в развойните инструменти на Firefox!
newsletter-title = Бюлетин на разработчиците на Мозила
newsletter-message = Получавайте новини, хитрости и ресурси за програмисти директно в своята поща.
newsletter-email-placeholder =
    .placeholder = Адрес на ел. поща
newsletter-privacy-label = Съгласен съм Mozilla да борави с дадената от мен информация, както е обяснено в тази <a data-l10n-name="privacy-policy">декларация за поверителност</a>.
newsletter-subscribe-button = Абониране
newsletter-thanks-title = Благодарим!
newsletter-thanks-message = Ако преди не сте потвърждавали абонамент за бюлетин на Mozilla ще трябва да го направите сега. Моля, проверете входящата или папката с нежелана поща за писмо от нас.
footer-title = Firefox Developer Edition
footer-message = Търсите нещо повече от развойни инструменти? Изпробвайте мрежовият четец Firefox, създаден специално за разработчици и съвременни похвати на разработка.
footer-learn-more-link = Научете повече
features-learn-more = Научете повече
features-inspector-title = Инспектор
features-inspector-desc = Проверка и усъвършенстване на кода на перфектни до пиксела дизайни. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-console-title = Конзола
features-console-desc = Преглеждане на CSS, JavaScript, сигурността и мрежата. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-debugger-title = Дебъгер
features-debugger-desc = Мощен дебъгер на JavaScript с поддръжка на вашата софтуерна рамка. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-network-title = Мрежа
features-network-desc = Преглеждане на заявки по мрежата, които биха забавили или блокирали страницата ви. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-storage-title = Хранилище
features-storage-desc = Добавяне, промяна и премахване на буфера, бисквитки, банките от данни и сесийните данни. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-responsive-title = Режим за адаптивен дизайн
features-responsive-desc = Изпитване на страници на емулирани от четеца устройства. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-visual-editing-title = Нагледно редактиране
features-visual-editing-desc = Фино настройване на анимации, подравняване и отстъп. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-performance-title = Производителност
features-performance-desc = Отстраняване на стеснения, опростяване на процеси, оптимизиране. <a data-l10n-name="learn-more">{ features-learn-more }</a>
features-memory-title = Памет
features-memory-desc = Откриване на загуби на памет и повишаване на отзивчивостта. <a data-l10n-name="learn-more">{ features-learn-more }</a>
# Variables:
#   $errorDescription (String) - The error that occurred e.g. 404 - Not Found
newsletter-error-common = Грешка в заявката за абонамент ({ $errorDescription }).
newsletter-error-unknown = Възникна неочаквана грешка.
newsletter-error-timeout = Изчакването на заявката за абонамент изтече.
# Variables:
#   $shortcut (String) - The keyboard shortcut used for the tool
welcome-message = Развойните инструменти са успешно включени! За начало разгледайте менюто „Разработчик“ или отворете инструментите с натискане на { $shortcut }.
