# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

aboutDialog-title =
    .title = Σχετικά με το { -brand-full-name }
releaseNotes-link = Τι νέο υπάρχει
update-checkForUpdatesButton =
    .label = Έλεγχος για ενημερώσεις
    .accesskey = Ε
update-updateButton =
    .label = Επανεκκίνηση για ενημέρωση του { -brand-shorter-name }
    .accesskey = Ε
update-checkingForUpdates = Γίνεται έλεγχος για ενημερώσεις…
update-downloading = <img data-l10n-name="icon"/>Γίνεται λήψη της ενημέρωσης — <label data-l10n-name="download-status"/>
update-applying = Εφαρμογή ενημέρωσης…
update-failed = Αποτυχία ενημέρωσης. <label data-l10n-name="failed-link">Λήψη της πιο πρόσφατης έκδοσης</label>
update-failed-main = Αποτυχία ενημέρωσης. <a data-l10n-name="failed-link-main">Λήψη της πιο πρόσφατης έκδοσης</a>
update-adminDisabled = Οι ενημερώσεις έχουν απενεργοποιηθεί από το διαχειριστή του συστήματος σας
update-noUpdatesFound = Το { -brand-short-name } είναι ενημερωμένο
update-otherInstanceHandlingUpdates = Το { -brand-short-name } ενημερώνεται από μια άλλη συνεδρία
update-manual = Διαθέσιμες ενημερώσεις στο <label data-l10n-name="manual-link"/>
update-unsupported = Δεν μπορείτε να εκτελέσετε περαιτέρω ενημερώσεις σε αυτό το σύστημα. <label data-l10n-name="unsupported-link">Μάθετε περισσότερα</label>
update-restarting = Επανεκκίνηση…
channel-description = Αυτή τη στιγμή, βρίσκεστε στο κανάλι ενημερώσεων της <label data-l10n-name="current-channel"></label> έκδοσης.
warningDesc-version = Το { -brand-short-name } είναι σε πειραματικό στάδιο και πιθανότατα ασταθές.
community-exp = <label data-l10n-name="community-exp-mozillaLink">Η { -vendor-short-name }</label> είναι μια <label data-l10n-name="community-exp-creditsLink">παγκόσμια κοινότητα</label> που συνεργάζεται για να κάνει το διαδίκτυο ανοικτό, ελεύθερο και προσβάσιμο από όλους χωρίς κανένα περιορισμό.
community-2 = Το { -brand-short-name } έχει σχεδιαστεί από τη <label data-l10n-name="community-mozillaLink">{ -vendor-short-name }</label>, μια <label data-l10n-name="community-creditsLink">παγκόσμια κοινότητα</label> που συνεργάζεται για να κάνει το διαδίκτυο ανοικτό, ελεύθερο και προσβάσιμο από όλους χωρίς κανένα περιορισμό.
helpus = Θέλετε να βοηθήσετε; <label data-l10n-name="helpus-donateLink">Κάντε μια δωρεά</label> ή <label data-l10n-name="helpus-getInvolvedLink">συμμετέχετε εθελοντικά!</label>
bottomLinks-license = Πληροφορίες άδειας
bottomLinks-rights = Δικαιώματα χρήστη
bottomLinks-privacy = Πολιτική απορρήτου
aboutDialog-architecture-sixtyFourBit = 64-bit
aboutDialog-architecture-thirtyTwoBit = 32-bit
# Example of resulting string: 66.0.1 (64-bit)
# Variables:
#   $version (String): version of Firefox, e.g. 66.0.1
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version = { $version } ({ $bits }-bit)
# Example of resulting string: 66.0a1 (2019-01-16) (64-bit)
# Variables:
#   $version (String): version of Firefox for Nightly builds, e.g. 66.0a1
#   $isodate (String): date in ISO format, e.g. 2019-01-16
#   $bits (Number): bits of the architecture (32 or 64)
aboutDialog-version-nightly = { $version } ({ $isodate }) ({ $bits }-bit)
