# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


### These strings are used inside the Accessibility panel.

accessibility-learn-more = Dalše informacije
accessibility-text-label-header = Tekstowe etikety a mjena

## Text entries that are used as text alternative for icons that depict accessibility isses.

accessibility-warning =
    .alt = Warnowanje
accessibility-fail =
    .alt = Zmylk
accessibility-best-practices =
    .alt = Najlěpše praktiki

## Text entries for a paragraph used in the accessibility panel sidebar's checks section
## that describe that currently selected accessible object has an accessibility issue
## with its text label or accessible name.

accessibility-text-label-issue-area = Wužiwajće atribut <code>alt</code>, zo byšće elementy <div>area</div> woznamjenił, kotrež maja atribut <span>href</span>. <a>Dalše informacije</a>
accessibility-text-label-issue-dialog = Dialogi měli so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-document-title = Dokumenty dyrbja <code>titul</code> měć. <a>Dalše informacije</a>
accessibility-text-label-issue-embed = Zasadźeny wobsah dyrbi so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-figure = Wobrazy z opcionelnymi popisami měli so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-fieldset = Elementy <code>fieldset</code> dyrbja so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-fieldset-legend = Wužiwajće element <code>legend</code>, zo byšće elementy <span>fieldset</span> popisał. <a>Dalše informacije</a>
accessibility-text-label-issue-fieldset-legend2 = Wužiwajće element <code>legend</code>, zo byšće element <span>fieldset</span> popisał. <a>Dalše informacije</a>
accessibility-text-label-issue-form = Formularne elementy dyrbja so woznamjenić. <a>Dalše informacje</a>
accessibility-text-label-issue-form-visible = Formularne elementy měli widźomne tekstowe woznamjenjenje měć. <a>Dalše informacije</a>
accessibility-text-label-issue-frame = Elementy <code>frame</code> dyrbja so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-glyph = Wužiwajće atribut <code>alt</code>, zo byšće elementy <span>mglyph</span> woznamjenił. <a>Dalše informacije</a>
accessibility-text-label-issue-heading = Nadpisma dyrbja so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-heading-content = Nadpisma měli widźomny tekstowy wobsah měć. <a>Dalše informacije</a>
accessibility-text-label-issue-iframe = Wužiwajće atribut <code>title</code>, zo byšće wobsah <span>iframe</span> wopisał. <a>Dalše informacije</a>
accessibility-text-label-issue-image = Wobsah z wobrazami dyrbi so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-interactive = Interaktiwne elementy dyrbja so woznamjenić. <a>Dalše informacije</a>
accessibility-text-label-issue-optgroup-label = Wužiwajće atribut <code>label</code>, zo byšće elementy <span>optgroup</span> popisał. <a>Dalše informacije</a>
accessibility-text-label-issue-optgroup-label2 = Wužiwajće atribut <code>label</code>, zo byšće element <span>optgroup</span> popisał. <a>Dalše informacije</a>
accessibility-text-label-issue-toolbar = Symbolowe lajsty dyrbja so woznamjenić, hdyž je wjace hač jedneje symboloweje lajsty. <a>Dalše informacije</a>
